---
import foto from "@assets/foto.webp";
---

<section id="about" class="headline px-[17px]">
	<h1
		class="title text-center font-italiana text-[1.40rem] text-[#110F06] max-[340px]:text-[18px] md:text-[1.6rem]"
	>
		João Manuel de Souza Marques
	</h1>

	<img
		src={foto.src}
		alt="Picture"
		class="items mx-auto my-[40px] max-w-[250px] md:hidden"
	/>

	<div
		class="flex flex-col gap-[55px] md:mx-auto md:mt-[80px] md:max-w-[1440px] md:flex-row md:items-center"
	>
		<div class="md:flex md:flex-col md:gap-[140px]">
			<div class="items text-center">
				<p
					class="font-matter text-[.8rem] tracking-[0.33em] text-black md:text-left md:text-[13px] md:tracking-[2.5px]"
				>
					SOBRE MIM
				</p>
				<p
					class="mx-auto mt-[7px] max-w-[250px] font-inria text-[0.95rem] leading-[27px] text-black md:max-w-[310px] md:text-left md:text-xs"
				>
					Me chamo João Manuel de Souza Marques, resido em Osvaldo Cruz - SP e
					Atualmente curso bacharelado em Engenharia de Software.
				</p>
			</div>
			<div class="items mt-[55px] text-center md:mt-0">
				<p
					class="font-matter text-[.8rem] tracking-[0.33em] text-black md:text-left md:text-[13px] md:tracking-[2.5px]"
				>
					JORNADA
				</p>
				<p
					class="mx-auto mt-[7px] max-w-[250px] font-inria text-[0.95rem] leading-[27px] text-black md:max-w-[310px] md:text-left md:text-xs"
				>
					Desde cedo, sempre fui fascinado por tecnologia. Iniciei minha
					carreira como Técnico em Desenvolvimento de Sistemas me permitindo
					explorar diversas áreas da programação.
				</p>
			</div>
		</div>
		<img
			src={foto.src}
			alt="Picture"
			class="items mx-auto my-[40px] hidden max-w-[250px] md:block md:w-[100%] md:max-w-[500px]"
		/>
		<div class="md:flex md:flex-col md:gap-[140px]">
			<div class="items text-center">
				<p
					class="font-matter text-[.8rem] tracking-[0.33em] text-black md:text-left md:text-[13px] md:tracking-[2.5px]"
				>
					CONTRIBUIÇÕES
				</p>
				<p
					class="mx-auto mt-[7px] max-w-[250px] font-inria text-[0.95rem] leading-[27px] text-black md:max-w-[310px] md:text-left md:text-xs"
				>
					Tive a oportunidade de trabalhar em diversos projetos, desde sites
					institucionais até aplicações web interativas, sendo assim, cada
					projeto me desafiando a inovar e a aprimorar minhas habilidades.
				</p>
			</div>
			<div class="items mt-[55px] text-center md:mt-0">
				<p
					class="font-matter text-[.8rem] tracking-[0.33em] text-black md:text-left md:text-[13px] md:tracking-[2.5px]"
				>
					OBJETIVOS
				</p>
				<p
					class="mx-auto mt-[7px] max-w-[250px] font-inria text-[0.95rem] leading-[27px] text-black md:max-w-[310px] md:text-left md:text-xs"
				>
					Meus objetivos são continuar aprendendo e evoluindo na área de
					desenvolvimento. Desejo colaborar em projetos que façam a diferença e
					que sejam inovadores, além de contribuir para soluções que melhorem a
					experiência dos usuários.
				</p>
			</div>
		</div>
	</div>

	<div class="itemsDown mx-auto mt-[60px] flex w-fit gap-[25px] md:gap-[50px]">
		<a
			href="https://github.com/Joao-Manuel-S-M"
			target="_blank"
			class="block w-fit"
		>
			<svg
				width="40"
				height="40"
				viewBox="0 0 25 25"
				xmlns="http://www.w3.org/2000/svg"
				class="fill-[#110F06] hover:fill-[#110F06] md:fill-[#D7D4CC] md:transition md:duration-300 md:ease-in-out md:hover:scale-110"
			>
				<path
					d="M1.72339 13.2481C1.72339 18.0768 4.81747 22.1835 9.13044 23.693C9.71175 23.843 9.62737 23.4211 9.62737 23.1398V21.2271C6.27075 21.6209 6.13949 19.3988 5.91446 19.0237C5.45504 18.2455 4.38618 18.0486 4.70496 17.6736C5.46442 17.2798 6.24263 17.7767 7.1521 19.1081C7.80842 20.0738 9.07418 19.9145 9.72113 19.7457C9.86176 19.1644 10.1618 18.6487 10.5837 18.2455C7.10522 17.6267 5.66131 15.5077 5.66131 12.9762C5.66131 11.7573 6.06448 10.6322 6.85207 9.72274C6.34576 8.22257 6.89895 6.94744 6.97395 6.75992C8.40848 6.62865 9.89927 7.79128 10.0212 7.87566C10.8369 7.66001 11.7651 7.53813 12.8152 7.53813C13.8653 7.53813 14.8029 7.66001 15.6186 7.88504C15.8999 7.66939 17.2782 6.67553 18.619 6.79742C18.694 6.98494 19.2284 8.24133 18.7502 9.71336C19.5472 10.6228 19.9597 11.7573 19.9597 12.9856C19.9597 15.5171 18.4971 17.6361 15.0186 18.2549C15.5999 18.8268 15.9562 19.6238 15.9562 20.5051V23.2898C15.9749 23.5148 15.9562 23.7305 16.3312 23.7305C20.7192 22.2585 23.8695 18.1143 23.8695 13.2387C23.8695 7.12558 18.919 2.17505 12.8058 2.17505C6.67392 2.18442 1.72339 7.14433 1.72339 13.2481Z"
				></path>
			</svg>
		</a>
		<a
			href="https://www.linkedin.com/in/joao-manuel-de-souza-marques/"
			target="_blank"
			class="block w-fit"
		>
			<svg
				width="40"
				height="40"
				viewBox="0 0 23 24"
				class="fill-[#110F06] hover:fill-[#110F06] md:fill-[#D7D4CC] md:transition md:duration-300 md:ease-in-out md:hover:scale-110"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M19.7068 0.903076H2.94253C1.46112 0.903076 0.260986 2.10321 0.260986 3.58462V20.3396C0.260986 21.821 1.46112 23.0305 2.94253 23.0305H19.6975C21.1789 23.0305 22.379 21.8303 22.379 20.3489V3.58462C22.3884 2.10321 21.1883 0.903076 19.7068 0.903076ZM7.30237 19.3269H4.26454V9.51026H7.30237V19.3269ZM5.76471 8.22574C4.77085 8.22574 3.97389 7.4194 3.97389 6.41617C3.97389 5.41294 4.78023 4.6066 5.76471 4.6066C6.75856 4.6066 7.55553 5.41294 7.55553 6.41617C7.5649 7.4194 6.75856 8.22574 5.76471 8.22574ZM18.6849 19.3269H15.6658C15.6658 19.3269 15.6658 15.5859 15.6658 14.1795C15.6658 12.7731 15.1313 11.9761 14.0156 11.9761C12.7967 11.9761 12.1591 12.8012 12.1591 14.1795C12.1591 15.689 12.1591 19.3269 12.1591 19.3269H9.24321V9.51026H12.1591V10.8323C12.1591 10.8323 13.0311 9.21022 15.1126 9.21022C17.1941 9.21022 18.6849 10.4854 18.6849 13.1106C18.6849 15.7359 18.6849 19.3269 18.6849 19.3269Z"
				></path>
			</svg>
		</a>
		<a href="https://wa.me/5518996798213" target="_blank" class="block w-fit">
			<svg
				width="40"
				height="40"
				viewBox="0 0 25 25"
				class="fill-[#110F06] hover:fill-[#110F06] md:fill-[#D7D4CC] md:transition md:duration-300 md:ease-in-out md:hover:scale-110"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M24.8639 6.42617C24.8504 5.9084 24.8103 5.39166 24.7438 4.878C24.6542 4.4281 24.5049 3.99219 24.2998 3.58186C24.0853 3.13674 23.7972 2.731 23.4477 2.38173C23.095 2.03634 22.69 1.74877 22.2476 1.52964C21.8367 1.32855 21.4008 1.18325 20.9514 1.09759C20.4427 1.02138 19.9296 0.97729 19.4153 0.965576H6.32186C5.80409 0.979061 5.28735 1.01912 4.77369 1.08559C4.32379 1.1752 3.88788 1.32454 3.47755 1.52964C3.03243 1.74414 2.62669 2.03222 2.27742 2.38173C1.93203 2.73446 1.64446 3.13948 1.42533 3.58186C1.22424 3.99274 1.07894 4.42864 0.993281 4.878C0.917072 5.38678 0.87298 5.89985 0.861267 6.41416C0.861267 6.64219 0.861267 6.96622 0.861267 7.06223V18.8715C0.861267 19.0035 0.861267 19.2916 0.861267 19.5076C0.874752 20.0253 0.914809 20.5421 0.98128 21.0557C1.07089 21.5056 1.22023 21.9415 1.42533 22.3519C1.63984 22.797 1.92791 23.2027 2.27742 23.552C2.63015 23.8974 3.03517 24.185 3.47755 24.4041C3.88843 24.6052 4.32433 24.7505 4.77369 24.8362C5.28247 24.9124 5.79554 24.9565 6.30986 24.9682H19.4033C19.921 24.9547 20.4378 24.9146 20.9514 24.8482C21.4013 24.7585 21.8372 24.6092 22.2476 24.4041C22.6927 24.1896 23.0984 23.9015 23.4477 23.552C23.7931 23.1993 24.0807 22.7943 24.2998 22.3519C24.5009 21.941 24.6462 21.5051 24.7318 21.0557C24.8081 20.547 24.8521 20.0339 24.8639 19.5196C24.8639 19.2916 24.8639 19.0035 24.8639 18.8715V7.06223C24.8639 6.96622 24.8639 6.64219 24.8639 6.42617ZM13.1386 21.3678C11.6973 21.3607 10.2812 20.9891 9.02215 20.2877L4.46166 21.4878L5.66179 17.0233C4.88784 15.7229 4.47364 14.2401 4.46166 12.7268C4.46643 11.0262 4.97435 9.36494 5.92145 7.95238C6.86854 6.53982 8.21244 5.4391 9.7839 4.78885C11.3554 4.1386 13.0841 3.96791 14.7524 4.29826C16.4207 4.62862 17.9539 5.44525 19.159 6.64531C20.364 7.84537 21.187 9.37519 21.5243 11.0421C21.8616 12.709 21.6981 14.4384 21.0544 16.0126C20.4107 17.5867 19.3156 18.9352 17.9069 19.8881C16.4983 20.8411 14.8392 21.3559 13.1386 21.3678ZM13.1386 5.61008C11.8662 5.62464 10.6204 5.9761 9.52807 6.62867C8.4357 7.28125 7.53576 8.21163 6.91988 9.3251C6.30399 10.4386 5.99416 11.6954 6.02193 12.9675C6.04969 14.2397 6.41406 15.4817 7.07794 16.5673L7.24596 16.8433L6.52588 19.4716L9.26217 18.7275L9.5262 18.8835C10.6178 19.5265 11.8597 19.8701 13.1266 19.8796C15.0364 19.8796 16.8679 19.121 18.2183 17.7706C19.5687 16.4201 20.3274 14.5886 20.3274 12.6788C20.3274 10.7691 19.5687 8.93753 18.2183 7.58712C16.8679 6.23671 15.0364 5.47806 13.1266 5.47806L13.1386 5.61008ZM17.339 15.8352C17.1819 16.0974 16.9714 16.3236 16.7212 16.4994C16.4711 16.6751 16.1868 16.7963 15.8869 16.8553C15.4387 16.9372 14.9773 16.9084 14.5427 16.7713C14.1339 16.6435 13.7332 16.4912 13.3426 16.3152C11.8589 15.5707 10.5936 14.4543 9.67022 13.0749C9.16842 12.4358 8.86396 11.6642 8.79412 10.8546C8.78698 10.5184 8.85059 10.1843 8.98084 9.87419C9.1111 9.56407 9.30508 9.28478 9.55021 9.05445C9.62241 8.97259 9.71099 8.90679 9.81022 8.86131C9.90945 8.81583 10.0171 8.79168 10.1263 8.79042H10.4623C10.5943 8.79042 10.7743 8.79042 10.9424 9.16246C11.1104 9.5345 11.5544 10.6506 11.6144 10.7586C11.6439 10.8162 11.6593 10.88 11.6593 10.9447C11.6593 11.0093 11.6439 11.0731 11.6144 11.1307C11.5614 11.2611 11.4885 11.3825 11.3984 11.4907C11.2904 11.6227 11.1704 11.7787 11.0744 11.8748C10.9784 11.9708 10.8583 12.0908 10.9784 12.3068C11.3049 12.8579 11.7091 13.3591 12.1785 13.795C12.6897 14.2466 13.2741 14.6079 13.9067 14.8631C14.1227 14.9711 14.2547 14.9591 14.3747 14.8631C14.4947 14.7671 14.9148 14.239 15.0588 14.023C15.2028 13.807 15.3468 13.843 15.5389 13.915C15.7309 13.987 16.799 14.503 17.015 14.611C17.231 14.7191 17.363 14.7671 17.4231 14.8631C17.4751 15.1772 17.4462 15.4994 17.339 15.7992V15.8352Z"
				></path>
			</svg>
		</a>
		<a
			href="https://www.instagram.com/joaomanuel_s.marques/"
			target="_blank"
			class="block w-fit"
		>
			<svg
				width="40"
				height="40"
				viewBox="0 0 25 25"
				class="fill-[#110F06] hover:fill-[#110F06] md:fill-[#D7D4CC] md:transition md:duration-300 md:ease-in-out md:hover:scale-110"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M12.4003 9.99055C11.8117 9.99055 11.2362 10.1651 10.7468 10.4922C10.2573 10.8192 9.87585 11.284 9.65058 11.8279C9.42531 12.3717 9.36637 12.9702 9.48121 13.5475C9.59605 14.1249 9.87952 14.6552 10.2958 15.0714C10.712 15.4877 11.2423 15.7712 11.8197 15.886C12.397 16.0008 12.9955 15.9419 13.5393 15.7166C14.0832 15.4914 14.548 15.1099 14.8751 14.6204C15.2021 14.131 15.3767 13.5555 15.3767 12.9669C15.3767 12.576 15.2997 12.189 15.1501 11.8279C15.0005 11.4668 14.7813 11.1387 14.5049 10.8623C14.2285 10.5859 13.9004 10.3667 13.5393 10.2171C13.1782 10.0675 12.7912 9.99055 12.4003 9.99055ZM24.3176 7.05023C24.3113 6.12344 24.1407 5.20512 23.8136 4.33794C23.5727 3.70338 23.2 3.12712 22.72 2.64718C22.2401 2.16724 21.6638 1.79453 21.0293 1.55364C20.1621 1.22656 19.2438 1.0559 18.317 1.04959C16.7688 0.965576 16.3128 0.965576 12.4003 0.965576C8.48792 0.965576 8.03187 0.965576 6.48371 1.04959C5.55691 1.0559 4.63859 1.22656 3.77141 1.55364C3.13686 1.79453 2.56059 2.16724 2.08065 2.64718C1.60071 3.12712 1.228 3.70338 0.987111 4.33794C0.660033 5.20512 0.489371 6.12344 0.483057 7.05023C0.399048 8.5984 0.399048 9.05445 0.399048 12.9669C0.399048 16.8793 0.399048 17.3353 0.483057 18.8835C0.495975 19.8136 0.666406 20.7347 0.987111 21.6078C1.22693 22.2395 1.59933 22.8124 2.07923 23.288C2.55711 23.7708 3.13461 24.1435 3.77141 24.3801C4.63859 24.7072 5.55691 24.8778 6.48371 24.8842C8.03187 24.9682 8.48792 24.9682 12.4003 24.9682C16.3128 24.9682 16.7688 24.9682 18.317 24.8842C19.2438 24.8778 20.1621 24.7072 21.0293 24.3801C21.6661 24.1435 22.2436 23.7708 22.7215 23.288C23.2014 22.8124 23.5738 22.2395 23.8136 21.6078C24.1403 20.7364 24.311 19.8142 24.3176 18.8835C24.4016 17.3353 24.4016 16.8793 24.4016 12.9669C24.4016 9.05445 24.4016 8.5984 24.3176 7.05023ZM21.2693 16.6513C21.2308 17.3919 21.0727 18.1214 20.8013 18.8115C20.5683 19.3872 20.2219 19.9101 19.7828 20.3493C19.3436 20.7884 18.8207 21.1348 18.245 21.3678C17.5483 21.6241 16.8147 21.766 16.0727 21.7878C15.1246 21.7878 14.8726 21.7878 12.4003 21.7878C9.92808 21.7878 9.67605 21.7878 8.72795 21.7878C7.98594 21.766 7.25237 21.6241 6.55571 21.3678C5.96057 21.1466 5.42312 20.7938 4.98354 20.3357C4.5487 19.9051 4.21287 19.385 3.99944 18.8115C3.74208 18.1156 3.60412 17.3812 3.59139 16.6393C3.59139 15.6912 3.59139 15.4391 3.59139 12.9669C3.59139 10.4946 3.59139 10.2426 3.59139 9.29448C3.60412 8.55259 3.74208 7.81818 3.99944 7.12224C4.2206 6.5271 4.57343 5.98965 5.03155 5.55007C5.46399 5.11757 5.98357 4.7821 6.55571 4.56597C7.25237 4.30962 7.98594 4.16777 8.72795 4.14592C9.67605 4.14592 9.92808 4.14592 12.4003 4.14592C14.8726 4.14592 15.1246 4.14592 16.0727 4.14592C16.8147 4.16777 17.5483 4.30962 18.245 4.56597C18.8401 4.78713 19.3776 5.13996 19.8171 5.59808C20.252 6.02862 20.5878 6.54874 20.8013 7.12224C21.0576 7.8189 21.1994 8.55247 21.2213 9.29448C21.2213 10.2426 21.2213 10.4946 21.2213 12.9669C21.2213 15.4391 21.3053 15.6912 21.2693 16.6393V16.6513ZM19.3491 7.72231C19.2062 7.33465 18.9809 6.9826 18.6888 6.69045C18.3966 6.3983 18.0446 6.17301 17.6569 6.03012C17.1246 5.84562 16.564 5.75624 16.0007 5.76609C15.0646 5.76609 14.8006 5.76609 12.4003 5.76609C10.0001 5.76609 9.73606 5.76609 8.79996 5.76609C8.23381 5.77163 7.67312 5.87727 7.14378 6.07813C6.76205 6.21453 6.41373 6.43062 6.12197 6.71204C5.8302 6.99345 5.60168 7.33375 5.45159 7.7103C5.27731 8.2448 5.19216 8.80434 5.19957 9.36648C5.19957 10.3026 5.19957 10.5666 5.19957 12.9669C5.19957 15.3671 5.19957 15.6312 5.19957 16.5673C5.21146 17.1328 5.3169 17.6924 5.5116 18.2234C5.65449 18.6111 5.87978 18.9631 6.17193 19.2553C6.46407 19.5474 6.81612 19.7727 7.20378 19.9156C7.71584 20.1039 8.25468 20.2093 8.79996 20.2277C9.73606 20.2277 10.0001 20.2277 12.4003 20.2277C14.8006 20.2277 15.0646 20.2277 16.0007 20.2277C16.5669 20.2221 17.1276 20.1165 17.6569 19.9156C18.0446 19.7727 18.3966 19.5474 18.6888 19.2553C18.9809 18.9631 19.2062 18.6111 19.3491 18.2234C19.55 17.6941 19.6556 17.1334 19.6611 16.5673C19.6611 15.6312 19.6611 15.3671 19.6611 12.9669C19.6611 10.5666 19.6611 10.3026 19.6611 9.36648C19.6615 8.79978 19.5556 8.23803 19.3491 7.7103V7.72231ZM12.4003 17.5514C11.7989 17.5514 11.2033 17.4327 10.6477 17.2022C10.0922 16.9716 9.5876 16.6337 9.16285 16.2079C8.7381 15.782 8.40154 15.2765 8.17246 14.7204C7.94338 14.1642 7.82627 13.5683 7.82785 12.9669C7.82785 12.0596 8.09703 11.1728 8.60132 10.4186C9.1056 9.66445 9.82231 9.07685 10.6607 8.73022C11.4991 8.38358 12.4215 8.2935 13.3112 8.47136C14.2008 8.64923 15.0176 9.08706 15.6583 9.72941C16.299 10.3718 16.7347 11.1898 16.9102 12.0799C17.0857 12.97 16.9932 13.8921 16.6444 14.7296C16.2956 15.5671 15.7061 16.2823 14.9506 16.7846C14.1951 17.2869 13.3076 17.5537 12.4003 17.5514ZM17.2009 9.28247C16.9356 9.25439 16.69 9.12912 16.5116 8.9308C16.3332 8.73248 16.2344 8.47514 16.2344 8.20836C16.2344 7.94158 16.3332 7.68424 16.5116 7.48592C16.69 7.28759 16.9356 7.16232 17.2009 7.13424C17.4662 7.16232 17.7117 7.28759 17.8901 7.48592C18.0686 7.68424 18.1673 7.94158 18.1673 8.20836C18.1673 8.47514 18.0686 8.73248 17.8901 8.9308C17.7117 9.12912 17.4662 9.25439 17.2009 9.28247Z"
				></path>
			</svg>
		</a>
	</div>
</section>
