---

---

<section id="contact">
	<div class="mx-auto w-fit min-[340px]:py-[35px]">
		<a href="https://wa.me/5518996798213" target="_blank">
			<svg
				width="200"
				height="200"
				class="scale-[160%] max-[340px]:scale-[140%]"
				viewBox="0 0 472 352"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g clip-path="url(#clip0_108_1764)">
					<path
						d="M385.432 121.915L129.952 119.355C129.725 122.345 129.498 125.336 129.271 128.327L386.591 130.426C386.174 127.988 385.803 124.951 385.432 121.915Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M385.432 121.915L129.952 119.355C129.725 122.345 129.498 125.336 129.271 128.327L386.591 130.426C386.174 127.988 385.803 124.951 385.432 121.915Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M370.254 76.2444L145.416 74.2058C143.992 77.1058 141.971 79.96 140.502 83.458L374.956 85.6252C373.434 81.9001 371.867 78.7733 370.254 76.2444Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M370.254 76.2444L145.416 74.2058C143.992 77.1058 141.971 79.96 140.502 83.458L374.956 85.6252C373.434 81.9001 371.867 78.7733 370.254 76.2444Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M379.937 99.2401L134.671 96.8531C133.845 99.7982 133.02 102.744 132.195 105.689L382.889 107.886C381.92 104.805 380.951 101.724 379.937 99.2401Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M379.937 99.2401L134.671 96.8531C133.845 99.7982 133.02 102.744 132.195 105.689L382.889 107.886C381.92 104.805 380.951 101.724 379.937 99.2401Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M353.99 52.7511L161.633 50.7734C159.013 53.5825 156.348 56.9895 154.327 59.844L361.728 61.7613C359.518 59.1871 356.754 55.9688 353.99 52.7511Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M353.99 52.7511L161.633 50.7734C159.013 53.5825 156.348 56.9895 154.327 59.844L361.728 61.7613C359.518 59.1871 356.754 55.9688 353.99 52.7511Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M327.468 29.6807L189.215 28.2032C184.801 30.8758 180.341 34.1468 176.48 37.463L339.99 39.0542C336.031 35.7455 331.473 32.3912 327.468 29.6807Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M327.468 29.6807L189.215 28.2032C184.801 30.8758 180.341 34.1468 176.48 37.463L339.99 39.0542C336.031 35.7455 331.473 32.3912 327.468 29.6807Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M298.425 16.0446C272.606 7.46609 244.358 7.12532 218.464 15.3855L298.425 16.0446Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M298.425 16.0446C272.606 7.46609 244.358 7.12532 218.464 15.3855L298.425 16.0446Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M341.283 235.872L171.148 234.379C175.107 237.688 178.469 240.952 182.474 243.662L329.146 245.177C333.606 241.906 337.422 239.188 341.283 235.872Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M341.283 235.872L171.148 234.379C175.107 237.688 178.469 240.952 182.474 243.662L329.146 245.177C333.606 241.906 337.422 239.188 341.283 235.872Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M362.242 213.399L151.251 211.21C153.416 214.383 155.582 217.555 158.391 220.174L355.579 221.917C357.6 219.063 360.22 216.254 362.242 213.399Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M362.242 213.399L151.251 211.21C153.416 214.383 155.582 217.555 158.391 220.174L355.579 221.917C357.6 219.063 360.22 216.254 362.242 213.399Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M304.085 258.314L208.482 257.67C223.071 263.591 237.888 266.521 253.485 267.104L258.914 266.915C274.556 266.9 289.828 263.848 304.085 258.314Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M304.085 258.314L208.482 257.67C223.071 263.591 237.888 266.521 253.485 267.104L258.914 266.915C274.556 266.9 289.828 263.848 304.085 258.314Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M383.178 167.465L131.286 165.176C131.658 168.212 132.627 171.294 133.596 174.376L380.656 176.899C381.481 173.953 382.352 170.41 383.178 167.465Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M383.178 167.465L131.286 165.176C131.658 168.212 132.627 171.294 133.596 174.376L380.656 176.899C381.481 173.953 382.352 170.41 383.178 167.465Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M386.099 144.827L128.181 142.682C128.552 145.718 128.325 148.709 128.696 151.745L384.774 154.351C385.645 150.808 385.872 147.817 386.099 144.827Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M386.099 144.827L128.181 142.682C128.552 145.718 128.325 148.709 128.696 151.745L384.774 154.351C385.645 150.808 385.872 147.817 386.099 144.827Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M375.425 190.338L138.578 187.99C140.145 191.117 141.114 194.198 142.681 197.325L371.109 199.636C372.532 196.737 374.001 193.238 375.425 190.338Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M375.425 190.338L138.578 187.99C140.145 191.117 141.114 194.198 142.681 197.325L371.109 199.636C372.532 196.737 374.001 193.238 375.425 190.338Z"
						fill="black"
						fill-opacity="0.05"></path>
				</g>
				<rect
					x="88"
					y="152.292"
					width="345"
					height="195"
					transform="rotate(-15 88 152.292)"
					fill="url(#paint0_linear_108_1764)"
					fill-opacity="0.98"></rect>
				<circle cx="153.5" cy="199.5" r="147.5" fill="#FFFEF8"></circle>
				<path
					d="M268.294 278.445C268.47 278.215 268.686 278.083 268.941 278.049C269.197 278.014 269.436 278.082 269.657 278.251C269.879 278.42 270.007 278.633 270.041 278.888C270.075 279.144 270.005 279.387 269.829 279.617C269.66 279.839 269.443 279.964 269.179 279.991C268.917 280.034 268.679 279.974 268.466 279.811C268.244 279.642 268.12 279.426 268.092 279.161C268.058 278.906 268.125 278.667 268.294 278.445Z"
					fill="black"></path>
				<path
					d="M257.882 290.883C258.083 290.674 258.313 290.568 258.571 290.563C258.829 290.559 259.058 290.654 259.258 290.847C259.459 291.041 259.561 291.267 259.566 291.525C259.57 291.783 259.472 292.016 259.271 292.224C259.077 292.425 258.847 292.523 258.582 292.52C258.317 292.533 258.087 292.445 257.895 292.259C257.694 292.065 257.595 291.836 257.598 291.57C257.594 291.312 257.688 291.083 257.882 290.883Z"
					fill="black"></path>
				<path
					d="M246.1 302.031C246.324 301.847 246.565 301.768 246.821 301.794C247.078 301.819 247.295 301.94 247.471 302.155C247.648 302.371 247.724 302.607 247.699 302.864C247.673 303.12 247.548 303.341 247.324 303.524C247.109 303.701 246.869 303.773 246.606 303.739C246.341 303.72 246.123 303.607 245.953 303.4C245.777 303.184 245.705 302.945 245.739 302.681C245.764 302.425 245.885 302.208 246.1 302.031Z"
					fill="black"></path>
				<path
					d="M233.108 311.741C233.351 311.584 233.599 311.534 233.851 311.589C234.103 311.644 234.304 311.788 234.455 312.023C234.606 312.258 234.654 312.501 234.599 312.753C234.544 313.005 234.394 313.209 234.151 313.366C233.916 313.516 233.67 313.56 233.412 313.496C233.151 313.447 232.948 313.309 232.803 313.084C232.653 312.849 232.609 312.603 232.673 312.345C232.728 312.093 232.873 311.892 233.108 311.741Z"
					fill="black"></path>
				<path
					d="M219.078 319.881C219.339 319.754 219.591 319.732 219.834 319.816C220.078 319.899 220.262 320.067 220.384 320.317C220.507 320.568 220.526 320.815 220.442 321.059C220.358 321.303 220.186 321.488 219.926 321.615C219.676 321.738 219.426 321.753 219.178 321.659C218.924 321.58 218.738 321.42 218.621 321.179C218.498 320.929 218.483 320.679 218.577 320.43C218.661 320.187 218.828 320.003 219.078 319.881Z"
					fill="black"></path>
				<path
					d="M204.201 326.343C204.474 326.247 204.727 326.255 204.959 326.366C205.192 326.478 205.354 326.665 205.447 326.928C205.54 327.191 205.53 327.439 205.419 327.671C205.308 327.904 205.115 328.068 204.842 328.164C204.579 328.257 204.329 328.243 204.093 328.121C203.851 328.013 203.685 327.833 203.596 327.58C203.503 327.317 203.517 327.067 203.639 326.831C203.75 326.599 203.938 326.436 204.201 326.343Z"
					fill="black"></path>
				<path
					d="M188.675 331.04C188.958 330.976 189.208 331.012 189.426 331.15C189.644 331.288 189.784 331.492 189.846 331.764C189.907 332.036 189.869 332.281 189.732 332.5C189.594 332.718 189.384 332.859 189.102 332.923C188.83 332.984 188.584 332.941 188.363 332.793C188.134 332.658 187.991 332.459 187.931 332.198C187.87 331.926 187.913 331.68 188.061 331.459C188.199 331.241 188.403 331.101 188.675 331.04Z"
					fill="black"></path>
				<path
					d="M172.711 333.907C172.999 333.876 173.243 333.942 173.444 334.104C173.645 334.266 173.76 334.485 173.79 334.763C173.819 335.04 173.753 335.279 173.591 335.48C173.429 335.681 173.204 335.796 172.916 335.827C172.639 335.857 172.4 335.785 172.198 335.613C171.986 335.452 171.866 335.238 171.838 334.972C171.808 334.694 171.88 334.455 172.052 334.253C172.214 334.052 172.434 333.937 172.711 333.907Z"
					fill="black"></path>
				<path
					d="M156.522 334.908C156.811 334.911 157.046 335.004 157.227 335.188C157.408 335.372 157.497 335.604 157.494 335.883C157.491 336.162 157.398 336.391 157.214 336.572C157.03 336.753 156.793 336.842 156.503 336.839C156.225 336.836 155.995 336.738 155.814 336.543C155.623 336.359 155.529 336.132 155.531 335.864C155.534 335.585 155.632 335.356 155.827 335.175C156.011 334.995 156.243 334.906 156.522 334.908Z"
					fill="black"></path>
				<path
					d="M140.325 334.028C140.613 334.065 140.835 334.184 140.994 334.388C141.152 334.592 141.213 334.832 141.178 335.109C141.144 335.386 141.024 335.603 140.821 335.761C140.617 335.919 140.371 335.98 140.084 335.944C139.807 335.909 139.59 335.784 139.434 335.57C139.265 335.365 139.197 335.129 139.231 334.863C139.266 334.587 139.39 334.37 139.605 334.213C139.808 334.055 140.049 333.993 140.325 334.028Z"
					fill="black"></path>
				<path
					d="M124.34 331.279C124.621 331.348 124.828 331.493 124.962 331.714C125.095 331.935 125.129 332.18 125.062 332.451C124.995 332.722 124.852 332.924 124.631 333.058C124.41 333.191 124.159 333.223 123.878 333.154C123.607 333.087 123.406 332.939 123.275 332.707C123.132 332.484 123.092 332.242 123.156 331.982C123.222 331.711 123.371 331.51 123.602 331.379C123.823 331.246 124.069 331.213 124.34 331.279Z"
					fill="black"></path>
				<path
					d="M108.78 326.699C109.051 326.8 109.24 326.968 109.348 327.203C109.455 327.437 109.459 327.685 109.362 327.946C109.264 328.208 109.098 328.392 108.863 328.499C108.629 328.606 108.376 328.609 108.105 328.507C107.843 328.41 107.661 328.239 107.558 327.994C107.441 327.756 107.429 327.511 107.523 327.26C107.62 326.998 107.791 326.816 108.036 326.713C108.271 326.606 108.519 326.601 108.78 326.699Z"
					fill="black"></path>
				<path
					d="M93.8545 320.348C94.1123 320.48 94.2808 320.668 94.3599 320.914C94.4391 321.159 94.4151 321.406 94.288 321.654C94.1608 321.902 93.9745 322.066 93.7291 322.145C93.4837 322.225 93.2321 322.198 92.9743 322.066C92.7261 321.939 92.5648 321.748 92.4905 321.493C92.4018 321.243 92.4186 320.998 92.5409 320.759C92.668 320.511 92.8591 320.35 93.114 320.276C93.3595 320.196 93.6063 320.22 93.8545 320.348Z"
					fill="black"></path>
				<path
					d="M79.7649 312.312C80.0056 312.473 80.1511 312.68 80.2014 312.933C80.2516 313.186 80.1992 313.428 80.0442 313.66C79.8891 313.892 79.6852 314.033 79.4322 314.083C79.1793 314.134 78.9324 314.078 78.6916 313.917C78.4598 313.762 78.3218 313.554 78.2775 313.292C78.2184 313.033 78.2633 312.792 78.4124 312.569C78.5674 312.337 78.7758 312.199 79.0377 312.155C79.2907 312.105 79.533 312.157 79.7649 312.312Z"
					fill="black"></path>
				<path
					d="M66.7 302.7C66.9205 302.887 67.041 303.11 67.0616 303.367C67.0823 303.624 67.0022 303.859 66.8213 304.071C66.6405 304.283 66.4216 304.4 66.1645 304.42C65.9075 304.441 65.6687 304.357 65.4482 304.17C65.2358 303.989 65.1228 303.766 65.1092 303.501C65.0804 303.237 65.153 303.003 65.3268 302.798C65.5076 302.586 65.7307 302.473 65.9959 302.459C66.2529 302.439 66.4876 302.519 66.7 302.7Z"
					fill="black"></path>
				<path
					d="M54.8357 291.639C55.033 291.851 55.127 292.086 55.1177 292.344C55.1084 292.601 55.0017 292.825 54.7975 293.015C54.5933 293.205 54.3624 293.296 54.1047 293.286C53.8469 293.277 53.6194 293.166 53.4222 292.954C53.2322 292.75 53.1458 292.516 53.1629 292.251C53.1649 291.985 53.264 291.761 53.4603 291.578C53.6645 291.388 53.8991 291.302 54.1642 291.319C54.4219 291.328 54.6457 291.435 54.8357 291.639Z"
					fill="black"></path>
				<path
					d="M44.3312 279.28C44.5027 279.514 44.5688 279.758 44.5298 280.013C44.4907 280.268 44.3588 280.478 44.134 280.643C43.9092 280.808 43.6694 280.871 43.4144 280.832C43.1595 280.793 42.9464 280.656 42.775 280.423C42.6099 280.198 42.5512 279.955 42.5989 279.694C42.6316 279.43 42.756 279.219 42.9722 279.06C43.197 278.895 43.44 278.837 43.7013 278.884C43.9562 278.923 44.1662 279.055 44.3312 279.28Z"
					fill="black"></path>
				<path
					d="M35.328 265.788C35.4713 266.04 35.5088 266.29 35.4405 266.539C35.3722 266.788 35.2168 266.981 34.9744 267.119C34.732 267.257 34.4865 267.292 34.2378 267.223C33.9891 267.155 33.7932 266.995 33.6499 266.743C33.512 266.501 33.4818 266.253 33.5595 265.999C33.6225 265.741 33.7705 265.545 34.0036 265.413C34.2459 265.275 34.4941 265.245 34.7481 265.322C34.9968 265.391 35.1901 265.546 35.328 265.788Z"
					fill="black"></path>
				<path
					d="M27.9471 251.345C28.0602 251.611 28.0685 251.864 27.9719 252.103C27.8752 252.342 27.6986 252.516 27.4418 252.625C27.1851 252.734 26.9372 252.741 26.6981 252.644C26.459 252.547 26.2829 252.366 26.1697 252.099C26.0608 251.842 26.0595 251.592 26.166 251.349C26.2584 251.1 26.4281 250.923 26.6749 250.818C26.9317 250.709 27.1817 250.708 27.425 250.815C27.6641 250.911 27.8381 251.088 27.9471 251.345Z"
					fill="black"></path>
				<path
					d="M22.2873 236.144C22.3688 236.422 22.3477 236.674 22.2241 236.9C22.1004 237.127 21.9048 237.279 21.6372 237.358C21.3696 237.436 21.1226 237.414 20.8963 237.29C20.67 237.166 20.5161 236.966 20.4346 236.688C20.356 236.42 20.3838 236.172 20.5177 235.942C20.6383 235.706 20.8273 235.55 21.0846 235.474C21.3522 235.396 21.6007 235.423 21.8301 235.557C22.0564 235.681 22.2088 235.877 22.2873 236.144Z"
					fill="black"></path>
				<path
					d="M18.4252 220.39C18.474 220.676 18.4239 220.924 18.2749 221.134C18.1258 221.345 17.9139 221.474 17.639 221.521C17.3641 221.568 17.1214 221.517 16.9109 221.368C16.7004 221.219 16.5708 221.001 16.522 220.716C16.475 220.441 16.5313 220.197 16.6908 219.985C16.8381 219.764 17.0438 219.631 17.3081 219.586C17.5831 219.539 17.8266 219.595 18.0389 219.755C18.2494 219.904 18.3782 220.115 18.4252 220.39Z"
					fill="black"></path>
				<path
					d="M16.4123 204.295C16.4278 204.584 16.3493 204.825 16.1769 205.017C16.0045 205.208 15.7791 205.312 15.5006 205.327C15.2221 205.342 14.987 205.263 14.7951 205.09C14.6033 204.918 14.4997 204.687 14.4843 204.398C14.4694 204.12 14.5535 203.884 14.7366 203.692C14.9084 203.489 15.1282 203.381 15.396 203.367C15.6745 203.352 15.9099 203.436 16.1023 203.619C16.2941 203.791 16.3974 204.017 16.4123 204.295Z"
					fill="black"></path>
				<path
					d="M16.2763 188.076C16.2582 188.365 16.1524 188.595 15.959 188.765C15.7656 188.936 15.5297 189.013 15.2513 188.995C14.973 188.978 14.7485 188.872 14.578 188.679C14.4074 188.485 14.3312 188.244 14.3493 187.955C14.3668 187.677 14.4776 187.453 14.6817 187.283C14.8758 187.101 15.1067 187.019 15.3743 187.036C15.6526 187.053 15.8768 187.164 16.0467 187.368C16.2172 187.562 16.2938 187.798 16.2763 188.076Z"
					fill="black"></path>
				<path
					d="M18.0184 171.949C17.9669 172.234 17.8352 172.45 17.6233 172.597C17.4115 172.744 17.1683 172.793 16.8939 172.744C16.6194 172.694 16.4087 172.563 16.2616 172.351C16.1146 172.14 16.0668 171.891 16.1183 171.606C16.1679 171.332 16.3039 171.122 16.5263 170.977C16.74 170.819 16.9789 170.764 17.2428 170.812C17.5172 170.861 17.727 170.997 17.8721 171.22C18.0192 171.432 18.0679 171.675 18.0184 171.949Z"
					fill="black"></path>
				<path
					d="M21.6154 156.133C21.5312 156.41 21.3755 156.61 21.148 156.731C20.9205 156.853 20.6734 156.873 20.4065 156.792C20.1396 156.711 19.9454 156.557 19.8239 156.329C19.7024 156.102 19.6837 155.85 19.7678 155.572C19.8488 155.306 20.0082 155.113 20.2459 154.994C20.4765 154.863 20.72 154.836 20.9766 154.914C21.2435 154.995 21.4362 155.154 21.5546 155.392C21.6761 155.619 21.6964 155.866 21.6154 156.133Z"
					fill="black"></path>
				<path
					d="M27.0188 140.84C26.9032 141.105 26.7254 141.285 26.4854 141.379C26.2454 141.474 25.9976 141.465 25.7419 141.354C25.4862 141.243 25.3111 141.067 25.2167 140.827C25.1223 140.587 25.133 140.334 25.2486 140.069C25.3599 139.813 25.5405 139.64 25.7904 139.55C26.0346 139.446 26.2797 139.447 26.5256 139.554C26.7813 139.666 26.9542 139.846 27.0443 140.096C27.1387 140.336 27.1302 140.584 27.0188 140.84Z"
					fill="black"></path>
				<path
					d="M34.1562 126.274C34.0106 126.525 33.8132 126.683 33.5639 126.749C33.3146 126.815 33.0694 126.778 32.8283 126.637C32.5872 126.497 32.4336 126.302 32.3677 126.053C32.3017 125.804 32.3415 125.554 32.4871 125.304C32.6273 125.063 32.8267 124.912 33.0853 124.851C33.34 124.776 33.5832 124.806 33.815 124.94C34.0561 125.081 34.207 125.28 34.2675 125.539C34.3335 125.788 34.2964 126.033 34.1562 126.274Z"
					fill="black"></path>
				<path
					d="M42.9319 112.633C42.7583 112.865 42.5438 112.999 42.2886 113.036C42.0333 113.072 41.7941 113.007 41.5708 112.84C41.3476 112.673 41.2176 112.462 41.1809 112.206C41.1443 111.951 41.2127 111.708 41.3863 111.476C41.5535 111.252 41.769 111.126 42.0328 111.095C42.2945 111.05 42.5327 111.108 42.7474 111.269C42.9706 111.436 43.0974 111.651 43.1276 111.915C43.1643 112.17 43.099 112.41 42.9319 112.633Z"
					fill="black"></path>
				<path
					d="M53.2272 100.099C53.0279 100.309 52.7994 100.418 52.5416 100.425C52.2838 100.432 52.0537 100.339 51.8513 100.147C51.6489 99.9553 51.5443 99.7305 51.5374 99.4727C51.5306 99.2149 51.6267 98.9809 51.826 98.7707C52.0179 98.5683 52.2466 98.4674 52.5122 98.4679C52.7774 98.4532 53.0073 98.5381 53.2019 98.7226C53.4043 98.9145 53.5052 99.1433 53.5047 99.4088C53.5116 99.6666 53.4191 99.8967 53.2272 100.099Z"
					fill="black"></path>
				<path
					d="M64.904 88.8413C64.6818 89.027 64.4422 89.1083 64.1853 89.0853C63.9285 89.0623 63.7106 88.9438 63.5318 88.7298C63.353 88.5158 63.2751 88.2803 63.2981 88.0235C63.3211 87.7666 63.4437 87.5453 63.666 87.3596C63.88 87.1808 64.1189 87.107 64.3826 87.1383C64.6477 87.1544 64.8662 87.2653 65.0382 87.4711C65.217 87.6852 65.2908 87.924 65.2595 88.1878C65.2365 88.4446 65.118 88.6625 64.904 88.8413Z"
					fill="black"></path>
				<path
					d="M77.8059 79.0103C77.5636 79.169 77.3163 79.2221 77.0638 79.1695C76.8113 79.1169 76.6087 78.974 76.4558 78.7407C76.303 78.5074 76.2528 78.2646 76.3054 78.0121C76.358 77.7596 76.5054 77.554 76.7477 77.3953C76.9809 77.2425 77.2268 77.1968 77.4851 77.2584C77.7465 77.3051 77.9507 77.4406 78.0977 77.6649C78.2506 77.8982 78.2962 78.144 78.2347 78.4023C78.1821 78.6548 78.0391 78.8574 77.8059 79.0103Z"
					fill="black"></path>
				<path
					d="M91.7585 70.7389C91.4995 70.8686 91.2476 70.8926 91.0029 70.8112C90.7583 70.7297 90.5735 70.5643 90.4487 70.3149C90.3239 70.0655 90.3022 69.8185 90.3836 69.5738C90.4651 69.3291 90.6353 69.1419 90.8943 69.0123C91.1437 68.8875 91.3931 68.8706 91.6426 68.9617C91.8969 69.0383 92.0841 69.1965 92.2041 69.4364C92.3289 69.6858 92.3458 69.9352 92.2547 70.1847C92.1733 70.4294 92.0079 70.6141 91.7585 70.7389Z"
					fill="black"></path>
				<path
					d="M106.575 64.1388C106.302 64.2376 106.05 64.2324 105.816 64.1231C105.582 64.0139 105.418 63.8282 105.323 63.566C105.228 63.3039 105.235 63.056 105.344 62.8224C105.453 62.5887 105.644 62.4226 105.916 62.3238C106.178 62.2287 106.428 62.2408 106.665 62.3601C106.909 62.4657 107.077 62.6445 107.168 62.8966C107.263 63.1587 107.251 63.4085 107.132 63.6457C107.023 63.8793 106.837 64.0437 106.575 64.1388Z"
					fill="black"></path>
				<path
					d="M122.056 59.2971C121.774 59.3637 121.523 59.3292 121.304 59.1937C121.085 59.0582 120.943 58.8547 120.879 58.5833C120.815 58.3118 120.85 58.0664 120.986 57.847C121.121 57.6276 121.33 57.4846 121.612 57.418C121.883 57.3539 122.13 57.3948 122.352 57.5408C122.582 57.6739 122.727 57.8709 122.789 58.1319C122.853 58.4033 122.812 58.65 122.666 58.8718C122.531 59.0912 122.327 59.233 122.056 59.2971Z"
					fill="black"></path>
				<path
					d="M137.993 56.2806C137.705 56.3142 137.46 56.2509 137.258 56.0909C137.056 55.9309 136.938 55.7124 136.906 55.4353C136.874 55.1583 136.938 54.9187 137.098 54.7165C137.258 54.5142 137.482 54.3963 137.769 54.3628C138.046 54.3305 138.287 54.3997 138.49 54.5704C138.703 54.7292 138.825 54.9418 138.856 55.2081C138.888 55.4851 138.819 55.7254 138.648 55.9289C138.488 56.1311 138.27 56.2484 137.993 56.2806Z"
					fill="black"></path>
				<path
					d="M154.172 55.1287C153.882 55.1287 153.646 55.0375 153.464 54.8552C153.282 54.6728 153.191 54.4422 153.191 54.1633C153.191 53.8844 153.282 53.6538 153.464 53.4714C153.646 53.2891 153.882 53.1979 154.172 53.1979C154.451 53.1979 154.682 53.2945 154.864 53.4875C155.057 53.6699 155.153 53.8952 155.153 54.1633C155.153 54.4422 155.057 54.6728 154.864 54.8552C154.682 55.0375 154.451 55.1287 154.172 55.1287Z"
					fill="black"></path>
				<path
					d="M170.376 55.8572C170.088 55.8236 169.864 55.7057 169.704 55.5035C169.544 55.3013 169.481 55.0617 169.513 54.7846C169.545 54.5076 169.662 54.2891 169.865 54.1291C170.067 53.9691 170.312 53.9058 170.599 53.9393C170.876 53.9716 171.094 54.0942 171.253 54.3071C171.424 54.5106 171.494 54.7455 171.463 55.0118C171.43 55.2889 171.308 55.5068 171.095 55.6655C170.893 55.8256 170.653 55.8894 170.376 55.8572Z"
					fill="black"></path>
				<path
					d="M186.386 58.4568C186.105 58.3902 185.896 58.2472 185.76 58.0278C185.625 57.8084 185.589 57.563 185.653 57.2916C185.717 57.0202 185.859 56.8167 186.078 56.6812C186.298 56.5456 186.549 56.5111 186.83 56.5777C187.102 56.6419 187.304 56.7889 187.437 57.0187C187.583 57.2406 187.625 57.482 187.564 57.743C187.499 58.0144 187.352 58.2166 187.123 58.3497C186.903 58.4852 186.658 58.5209 186.386 58.4568Z"
					fill="black"></path>
				<path
					d="M201.988 62.8917C201.716 62.7929 201.525 62.6268 201.416 62.3931C201.307 62.1595 201.3 61.9116 201.395 61.6495C201.49 61.3873 201.654 61.2016 201.888 61.0924C202.122 60.9831 202.374 60.9779 202.647 61.0767C202.909 61.1718 203.093 61.3412 203.198 61.5849C203.318 61.8222 203.332 62.0668 203.24 62.3189C203.145 62.5811 202.976 62.765 202.732 62.8705C202.498 62.9798 202.25 62.9868 201.988 62.8917Z"
					fill="black"></path>
				<path
					d="M216.972 69.1025C216.713 68.9729 216.543 68.7857 216.462 68.541C216.38 68.2963 216.402 68.0493 216.527 67.7999C216.651 67.5505 216.836 67.3851 217.081 67.3036C217.326 67.2222 217.577 67.2462 217.836 67.3759C218.086 67.5007 218.249 67.6902 218.326 67.9445C218.417 68.194 218.402 68.4386 218.282 68.6785C218.157 68.9279 217.968 69.0909 217.713 69.1675C217.469 69.249 217.222 69.2273 216.972 69.1025Z"
					fill="black"></path>
				<path
					d="M231.136 77.0067C230.894 76.8479 230.747 76.6423 230.694 76.3899C230.642 76.1374 230.692 75.8945 230.845 75.6613C230.997 75.428 231.2 75.2851 231.453 75.2325C231.705 75.1799 231.952 75.233 232.195 75.3917C232.428 75.5445 232.568 75.7517 232.615 76.0131C232.676 76.2715 232.633 76.5128 232.486 76.7371C232.334 76.9704 232.126 77.1104 231.865 77.1571C231.613 77.2097 231.37 77.1595 231.136 77.0067Z"
					fill="black"></path>
				<path
					d="M244.291 86.4968C244.068 86.3111 243.946 86.0898 243.923 85.833C243.9 85.5761 243.978 85.3407 244.156 85.1267C244.335 84.9126 244.553 84.7941 244.81 84.7711C245.067 84.7481 245.306 84.8295 245.529 85.0152C245.743 85.194 245.858 85.4159 245.874 85.681C245.905 85.9448 245.835 86.1795 245.663 86.3853C245.484 86.5993 245.262 86.7144 244.997 86.7305C244.74 86.7535 244.505 86.6756 244.291 86.4968Z"
					fill="black"></path>
				<path
					d="M256.258 97.4456C256.058 97.2354 255.962 97.0014 255.969 96.7436C255.976 96.4858 256.081 96.261 256.283 96.0691C256.485 95.8773 256.715 95.7847 256.973 95.7916C257.231 95.7985 257.46 95.907 257.659 96.1172C257.851 96.3196 257.939 96.5534 257.925 96.8186C257.925 97.0841 257.828 97.3092 257.634 97.4937C257.431 97.6856 257.197 97.7742 256.932 97.7595C256.674 97.7526 256.45 97.648 256.258 97.4456Z"
					fill="black"></path>
				<path
					d="M266.877 109.706C266.703 109.474 266.635 109.231 266.672 108.976C266.708 108.72 266.838 108.509 267.061 108.342C267.285 108.175 267.524 108.11 267.779 108.146C268.034 108.183 268.249 108.317 268.422 108.549C268.59 108.772 268.651 109.015 268.605 109.276C268.575 109.54 268.453 109.753 268.238 109.913C268.015 110.08 267.772 110.141 267.511 110.096C267.255 110.059 267.044 109.93 266.877 109.706Z"
					fill="black"></path>
				<path
					d="M276.006 123.114C275.86 122.863 275.82 122.614 275.886 122.364C275.952 122.115 276.106 121.92 276.347 121.78C276.588 121.64 276.833 121.603 277.083 121.669C277.332 121.735 277.529 121.893 277.675 122.143C277.815 122.384 277.848 122.632 277.772 122.887C277.712 123.145 277.566 123.342 277.334 123.477C277.093 123.617 276.845 123.65 276.59 123.574C276.341 123.508 276.146 123.355 276.006 123.114Z"
					fill="black"></path>
				<path
					d="M283.522 137.488C283.406 137.222 283.396 136.969 283.49 136.729C283.584 136.489 283.759 136.314 284.015 136.202C284.271 136.091 284.519 136.082 284.759 136.177C284.999 136.271 285.176 136.451 285.292 136.717C285.403 136.972 285.407 137.222 285.303 137.467C285.213 137.717 285.045 137.895 284.799 138.002C284.543 138.113 284.293 138.117 284.049 138.013C283.809 137.918 283.633 137.743 283.522 137.488Z"
					fill="black"></path>
				<path
					d="M289.323 152.634C289.239 152.357 289.258 152.105 289.379 151.877C289.501 151.65 289.695 151.496 289.962 151.415C290.229 151.334 290.476 151.354 290.704 151.476C290.931 151.597 291.087 151.796 291.171 152.074C291.252 152.34 291.226 152.589 291.095 152.82C290.976 153.057 290.789 153.215 290.532 153.293C290.265 153.374 290.017 153.349 289.786 153.217C289.559 153.095 289.404 152.901 289.323 152.634Z"
					fill="black"></path>
				<path
					d="M293.332 168.351C293.281 168.066 293.328 167.818 293.476 167.606C293.623 167.394 293.833 167.263 294.108 167.214C294.382 167.164 294.625 167.213 294.837 167.36C295.049 167.507 295.181 167.723 295.232 168.008C295.282 168.283 295.228 168.527 295.07 168.74C294.925 168.963 294.721 169.098 294.457 169.146C294.182 169.195 293.938 169.141 293.724 168.984C293.512 168.837 293.382 168.626 293.332 168.351Z"
					fill="black"></path>
				<path
					d="M295.495 184.426C295.477 184.137 295.553 183.896 295.724 183.703C295.894 183.509 296.119 183.404 296.397 183.386C296.675 183.369 296.911 183.445 297.105 183.616C297.298 183.787 297.404 184.016 297.422 184.305C297.44 184.584 297.358 184.82 297.176 185.014C297.006 185.218 296.788 185.329 296.52 185.346C296.242 185.363 296.005 185.281 295.811 185.1C295.618 184.929 295.513 184.705 295.495 184.426Z"
					fill="black"></path>
				<path
					d="M295.783 200.644C295.798 200.355 295.902 200.124 296.094 199.952C296.285 199.779 296.521 199.7 296.799 199.715C297.078 199.73 297.303 199.834 297.475 200.025C297.648 200.217 297.726 200.458 297.711 200.747C297.696 201.025 297.587 201.251 297.385 201.422C297.192 201.605 296.962 201.69 296.695 201.676C296.416 201.661 296.191 201.552 296.019 201.349C295.847 201.158 295.768 200.922 295.783 200.644Z"
					fill="black"></path>
				<path
					d="M294.192 216.786C294.24 216.5 294.37 216.283 294.581 216.134C294.791 215.985 295.034 215.934 295.309 215.981C295.584 216.028 295.795 216.157 295.944 216.367C296.093 216.578 296.144 216.826 296.095 217.111C296.048 217.386 295.914 217.597 295.693 217.744C295.48 217.904 295.242 217.961 294.978 217.916C294.703 217.869 294.492 217.735 294.345 217.514C294.196 217.304 294.145 217.061 294.192 216.786Z"
					fill="black"></path>
				<path
					d="M290.742 232.635C290.824 232.358 290.978 232.157 291.204 232.033C291.43 231.909 291.677 231.887 291.945 231.965C292.213 232.044 292.408 232.196 292.532 232.423C292.656 232.649 292.677 232.901 292.595 233.179C292.517 233.447 292.359 233.641 292.122 233.761C291.893 233.895 291.65 233.924 291.392 233.849C291.125 233.77 290.931 233.613 290.81 233.376C290.686 233.15 290.664 232.903 290.742 232.635Z"
					fill="black"></path>
				<path
					d="M285.482 247.979C285.595 247.712 285.771 247.531 286.01 247.434C286.249 247.337 286.497 247.344 286.754 247.453C287.011 247.562 287.188 247.736 287.284 247.975C287.381 248.214 287.372 248.467 287.259 248.733C287.15 248.99 286.971 249.165 286.722 249.257C286.479 249.363 286.234 249.364 285.987 249.26C285.73 249.151 285.556 248.972 285.463 248.723C285.367 248.484 285.373 248.236 285.482 247.979Z"
					fill="black"></path>
				<path
					d="M278.481 262.61C278.624 262.359 278.82 262.199 279.069 262.13C279.317 262.062 279.563 262.097 279.805 262.235C280.048 262.373 280.203 262.566 280.271 262.815C280.34 263.063 280.302 263.314 280.159 263.565C280.021 263.808 279.823 263.96 279.565 264.023C279.311 264.101 279.067 264.073 278.834 263.941C278.592 263.803 278.439 263.605 278.376 263.347C278.308 263.098 278.343 262.853 278.481 262.61Z"
					fill="black"></path>
				<path
					d="M94.4441 169.858V169.537H100.156V187.764C100.156 189.454 99.8138 190.588 99.1292 191.166C98.4446 191.722 97.407 192 96.0165 192C94.6473 192 93.4279 191.797 92.3582 191.39L92.4545 191.134C93.4814 191.54 94.5403 191.743 95.6314 191.743C96.3588 191.743 96.8401 191.433 97.0754 190.813C97.3322 190.192 97.4605 189.187 97.4605 187.796V169.858H94.4441ZM104.006 181.314C104.006 177.42 104.947 174.468 106.83 172.457C108.734 170.425 111.173 169.409 114.146 169.409C117.12 169.409 119.484 170.286 121.238 172.04C123.014 173.794 123.902 176.597 123.902 180.448C123.902 184.298 122.96 187.208 121.078 189.176C119.195 191.144 116.681 192.128 113.537 192.128C110.82 192.128 108.595 191.348 106.862 189.786C105.963 188.973 105.257 187.85 104.744 186.416C104.252 184.962 104.006 183.261 104.006 181.314ZM114.05 169.73C111.889 169.73 110.114 170.692 108.723 172.618C107.354 174.543 106.669 177.367 106.669 181.089C106.669 184.812 107.322 187.529 108.627 189.24C109.932 190.952 111.665 191.807 113.825 191.807C116.008 191.807 117.783 190.845 119.152 188.919C120.543 186.973 121.238 184.159 121.238 180.48C121.238 176.779 120.575 174.062 119.249 172.329C117.944 170.596 116.211 169.73 114.05 169.73ZM125.874 192H125.489L135.084 169.537L135.437 169.377L143.523 192H140.796L138.293 184.94H128.922L125.874 192ZM134.089 173.003L129.051 184.619H138.196L134.089 173.003ZM132.163 166.777C131.029 166.777 130.366 167.152 130.174 167.9L129.917 167.804C130.024 167.162 130.302 166.585 130.751 166.071C130.901 165.9 131.147 165.782 131.489 165.718L132.26 165.558C132.623 165.494 133.286 165.579 134.249 165.815C135.212 166.028 136.078 166.221 136.848 166.392C137.683 166.585 138.442 166.681 139.127 166.681C139.811 166.681 140.261 166.595 140.475 166.424C140.689 166.232 140.86 165.889 140.988 165.397L141.277 165.462C141.042 166.617 140.603 167.366 139.961 167.708C139.704 167.858 139.469 167.932 139.255 167.932C139.041 167.932 138.827 167.922 138.613 167.9C138.121 167.9 137.565 167.815 136.945 167.644C136.346 167.451 136.025 167.355 135.982 167.355C135.939 167.333 135.886 167.323 135.822 167.323C135.779 167.301 135.362 167.205 134.57 167.034C133.779 166.863 132.976 166.777 132.163 166.777ZM145.121 181.314C145.121 177.42 146.062 174.468 147.945 172.457C149.849 170.425 152.288 169.409 155.262 169.409C158.235 169.409 160.599 170.286 162.354 172.04C164.129 173.794 165.017 176.597 165.017 180.448C165.017 184.298 164.076 187.208 162.193 189.176C160.31 191.144 157.797 192.128 154.652 192.128C151.935 192.128 149.71 191.348 147.977 189.786C147.079 188.973 146.373 187.85 145.859 186.416C145.367 184.962 145.121 183.261 145.121 181.314ZM155.165 169.73C153.005 169.73 151.229 170.692 149.838 172.618C148.469 174.543 147.785 177.367 147.785 181.089C147.785 184.812 148.437 187.529 149.742 189.24C151.047 190.952 152.78 191.807 154.941 191.807C157.123 191.807 158.898 190.845 160.268 188.919C161.658 186.973 162.354 184.159 162.354 180.48C162.354 176.779 161.69 174.062 160.364 172.329C159.059 170.596 157.326 169.73 155.165 169.73ZM95.503 230H95.0859L97.8777 207.537H98.9367L105.676 228.299L112.382 207.537H113.441L116.233 230H113.57L111.355 212.03L105.547 230H103.526L97.6531 212.254L95.503 230ZM119.825 230H119.44L129.035 207.537L129.388 207.377L137.475 230H134.747L132.244 222.94H122.874L119.825 230ZM128.041 211.003L123.002 222.619H132.148L128.041 211.003ZM140.63 230H140.212V207.537H141.303L154.653 228.299V207.537H155.07V230H152.728L140.63 211.388V230ZM174.83 207.537H175.247V220.373C175.247 223.732 174.584 226.203 173.258 227.786C171.931 229.348 170.199 230.128 168.059 230.128C166.711 230.128 165.567 230.011 164.626 229.775C163.684 229.519 162.797 229.059 161.962 228.395C160.251 227.069 159.395 224.395 159.395 220.373V207.537H162.058V220.341C162.058 224.234 162.647 226.834 163.823 228.139C164.422 228.781 165.043 229.219 165.685 229.454C166.348 229.69 167.139 229.807 168.059 229.807C170.113 229.807 171.75 229.059 172.969 227.561C174.21 226.042 174.83 223.635 174.83 220.341V207.537ZM192.035 207.537V207.858H181.927V217.485H191.297V217.806H181.927V229.679H192.741V230H179.263V207.537H192.035ZM208.317 230H196.123V207.537H198.786V229.679H208.317V230Z"
					fill="#110F06"></path>
				<path
					d="M98.6361 157.073C97.9574 157.073 97.409 156.858 96.9908 156.427C96.5727 155.991 96.3636 155.418 96.3636 154.709C96.3636 154 96.5727 153.431 96.9908 153C97.409 152.564 97.9574 152.346 98.6361 152.346C99.1694 152.346 99.6148 152.482 99.9723 152.755C100.336 153.022 100.56 153.382 100.645 153.837L99.8814 153.991C99.833 153.712 99.6966 153.485 99.4724 153.309C99.2482 153.128 98.9755 153.037 98.6543 153.037C98.2058 153.037 97.8453 153.191 97.5726 153.5C97.3059 153.803 97.1726 154.206 97.1726 154.709C97.1726 155.212 97.3059 155.618 97.5726 155.927C97.8453 156.23 98.2058 156.382 98.6543 156.382C98.9815 156.382 99.2542 156.297 99.4724 156.127C99.6966 155.958 99.839 155.721 99.8996 155.418L100.654 155.573C100.557 156.046 100.327 156.415 99.9632 156.682C99.6057 156.942 99.1633 157.073 98.6361 157.073ZM109.624 156.409C109.188 156.852 108.631 157.073 107.952 157.073C107.273 157.073 106.716 156.852 106.279 156.409C105.843 155.961 105.625 155.394 105.625 154.709C105.625 154.025 105.843 153.461 106.279 153.019C106.716 152.57 107.273 152.346 107.952 152.346C108.631 152.346 109.188 152.57 109.624 153.019C110.067 153.461 110.288 154.025 110.288 154.709C110.288 155.394 110.067 155.961 109.624 156.409ZM106.843 155.918C107.128 156.227 107.497 156.382 107.952 156.382C108.406 156.382 108.776 156.227 109.061 155.918C109.346 155.603 109.488 155.2 109.488 154.709C109.488 154.218 109.346 153.818 109.061 153.509C108.776 153.194 108.406 153.037 107.952 153.037C107.497 153.037 107.128 153.194 106.843 153.509C106.558 153.818 106.416 154.218 106.416 154.709C106.416 155.2 106.558 155.603 106.843 155.918ZM115.549 157V152.419H116.322V153.282C116.485 152.997 116.703 152.77 116.976 152.6C117.249 152.431 117.555 152.346 117.894 152.346C118.373 152.346 118.764 152.494 119.067 152.791C119.376 153.088 119.53 153.479 119.53 153.964V157H118.758V154.109C118.758 153.794 118.664 153.54 118.476 153.346C118.288 153.146 118.037 153.046 117.721 153.046C117.291 153.046 116.949 153.222 116.694 153.573C116.446 153.918 116.322 154.391 116.322 154.991V157H115.549ZM127.326 156.964C127.126 157.036 126.887 157.073 126.608 157.073C126.196 157.073 125.866 156.955 125.617 156.718C125.375 156.476 125.254 156.112 125.254 155.627V153.1H124.399V152.419H125.254V151.028H126.026V152.419H127.253V153.1H126.026V155.655C126.026 155.891 126.087 156.07 126.208 156.191C126.329 156.312 126.493 156.373 126.699 156.373C126.923 156.373 127.114 156.333 127.272 156.255L127.326 156.964ZM134.129 152.346C134.693 152.346 135.147 152.5 135.493 152.81C135.838 153.119 136.011 153.537 136.011 154.064V157H135.247V156.218C135.114 156.479 134.908 156.688 134.629 156.845C134.356 156.997 134.053 157.073 133.72 157.073C133.266 157.073 132.893 156.948 132.602 156.7C132.317 156.446 132.175 156.118 132.175 155.718C132.175 154.858 132.902 154.355 134.356 154.209L135.247 154.109V154.018C135.247 153.703 135.144 153.455 134.938 153.273C134.738 153.085 134.468 152.991 134.129 152.991C133.814 152.991 133.553 153.079 133.347 153.255C133.141 153.431 133.023 153.673 132.993 153.982L132.275 153.846C132.341 153.391 132.544 153.028 132.884 152.755C133.229 152.482 133.644 152.346 134.129 152.346ZM133.838 156.436C134.281 156.436 134.626 156.3 134.874 156.027C135.123 155.755 135.247 155.388 135.247 154.927V154.709L134.356 154.809C133.417 154.912 132.947 155.212 132.947 155.709C132.947 155.921 133.029 156.097 133.193 156.236C133.362 156.37 133.578 156.436 133.838 156.436ZM143.949 156.964C143.749 157.036 143.509 157.073 143.231 157.073C142.819 157.073 142.488 156.955 142.24 156.718C141.997 156.476 141.876 156.112 141.876 155.627V153.1H141.022V152.419H141.876V151.028H142.649V152.419H143.876V153.1H142.649V155.655C142.649 155.891 142.709 156.07 142.831 156.191C142.952 156.312 143.116 156.373 143.322 156.373C143.546 156.373 143.737 156.333 143.894 156.255L143.949 156.964ZM152.743 156.409C152.307 156.852 151.749 157.073 151.071 157.073C150.392 157.073 149.834 156.852 149.398 156.409C148.962 155.961 148.744 155.394 148.744 154.709C148.744 154.025 148.962 153.461 149.398 153.019C149.834 152.57 150.392 152.346 151.071 152.346C151.749 152.346 152.307 152.57 152.743 153.019C153.186 153.461 153.407 154.025 153.407 154.709C153.407 155.394 153.186 155.961 152.743 156.409ZM149.962 155.918C150.247 156.227 150.616 156.382 151.071 156.382C151.525 156.382 151.895 156.227 152.18 155.918C152.465 155.603 152.607 155.2 152.607 154.709C152.607 154.218 152.465 153.818 152.18 153.509C151.895 153.194 151.525 153.037 151.071 153.037C150.616 153.037 150.247 153.194 149.962 153.509C149.677 153.818 149.534 154.218 149.534 154.709C149.534 155.2 149.677 155.603 149.962 155.918Z"
					fill="#110F06"></path>
				<path
					d="M96.5176 116V111.037H97.9923C98.7107 111.037 99.3039 111.257 99.7719 111.696C100.245 112.136 100.481 112.743 100.481 113.518C100.481 114.294 100.245 114.901 99.7719 115.341C99.3039 115.78 98.7107 116 97.9923 116H96.5176ZM97.1557 115.419H97.971C98.4957 115.419 98.9329 115.26 99.2827 114.944C99.6372 114.627 99.8144 114.152 99.8144 113.518C99.8144 113.088 99.7246 112.727 99.545 112.434C99.3701 112.136 99.148 111.926 98.8785 111.803C98.6091 111.675 98.3066 111.611 97.971 111.611H97.1557V115.419ZM101.288 116V111.037H104.415V111.611H101.933V113.072H103.947V113.653H101.933V115.419H104.493V116H101.288ZM106.885 116.057C106.407 116.057 105.994 115.917 105.644 115.638C105.294 115.355 105.079 114.986 104.999 114.532L105.609 114.334C105.656 114.679 105.8 114.958 106.041 115.17C106.282 115.378 106.568 115.482 106.899 115.482C107.239 115.482 107.511 115.409 107.714 115.263C107.918 115.111 108.019 114.913 108.019 114.667C108.019 114.464 107.948 114.294 107.807 114.157C107.669 114.015 107.497 113.913 107.289 113.852C107.081 113.786 106.854 113.712 106.608 113.632C106.363 113.552 106.136 113.469 105.928 113.384C105.72 113.299 105.545 113.162 105.403 112.973C105.266 112.784 105.197 112.552 105.197 112.278C105.197 111.895 105.353 111.583 105.665 111.342C105.977 111.101 106.379 110.98 106.871 110.98C107.324 110.98 107.712 111.094 108.033 111.321C108.355 111.543 108.546 111.838 108.608 112.207L108.019 112.434C107.967 112.164 107.84 111.952 107.636 111.796C107.438 111.635 107.183 111.555 106.871 111.555C106.554 111.555 106.303 111.621 106.119 111.753C105.939 111.881 105.85 112.056 105.85 112.278C105.85 112.429 105.902 112.557 106.006 112.661C106.11 112.765 106.244 112.845 106.41 112.902C106.58 112.958 106.764 113.013 106.963 113.065C107.166 113.117 107.367 113.178 107.565 113.249C107.769 113.32 107.953 113.41 108.118 113.518C108.289 113.622 108.426 113.771 108.53 113.965C108.634 114.159 108.686 114.391 108.686 114.66C108.686 115.081 108.52 115.419 108.189 115.674C107.863 115.929 107.428 116.057 106.885 116.057ZM109.465 116V111.037H112.592V111.611H110.11V113.072H112.124V113.653H110.11V115.419H112.67V116H109.465ZM113.488 116V111.037H114.204L116.707 114.986V111.037H117.338V116H116.622L114.119 112.065V116H113.488ZM119.787 116L117.922 111.037H118.582L120.113 115.256L121.652 111.037H122.311L120.446 116H119.787ZM124.937 116.057C124.228 116.057 123.641 115.818 123.178 115.341C122.72 114.863 122.49 114.256 122.49 113.518C122.49 112.781 122.72 112.174 123.178 111.696C123.641 111.219 124.228 110.98 124.937 110.98C125.641 110.98 126.222 111.219 126.681 111.696C127.144 112.174 127.375 112.781 127.375 113.518C127.375 114.256 127.144 114.863 126.681 115.341C126.222 115.818 125.641 116.057 124.937 116.057ZM124.929 115.475C125.449 115.475 125.877 115.291 126.213 114.922C126.548 114.554 126.716 114.086 126.716 113.518C126.716 112.951 126.548 112.483 126.213 112.115C125.877 111.741 125.449 111.555 124.929 111.555C124.414 111.555 123.989 111.741 123.653 112.115C123.318 112.483 123.15 112.951 123.15 113.518C123.15 114.086 123.318 114.554 123.653 114.922C123.989 115.291 124.414 115.475 124.929 115.475ZM128.187 116V111.037H128.832V115.419H131.293V116H128.187ZM132.755 116L130.891 111.037H131.55L133.081 115.256L134.62 111.037H135.279L133.415 116H132.755ZM135.852 116V111.037H138.979V111.611H136.497V113.072H138.511V113.653H136.497V115.419H139.057V116H135.852ZM139.875 116V111.037H141.349C142.068 111.037 142.661 111.257 143.129 111.696C143.602 112.136 143.838 112.743 143.838 113.518C143.838 114.294 143.602 114.901 143.129 115.341C142.661 115.78 142.068 116 141.349 116H139.875ZM140.513 115.419H141.328C141.853 115.419 142.29 115.26 142.64 114.944C142.994 114.627 143.171 114.152 143.171 113.518C143.171 113.088 143.082 112.727 142.902 112.434C142.727 112.136 142.505 111.926 142.236 111.803C141.966 111.675 141.664 111.611 141.328 111.611H140.513V115.419ZM146.864 116.057C146.155 116.057 145.569 115.818 145.106 115.341C144.647 114.863 144.418 114.256 144.418 113.518C144.418 112.781 144.647 112.174 145.106 111.696C145.569 111.219 146.155 110.98 146.864 110.98C147.569 110.98 148.15 111.219 148.608 111.696C149.072 112.174 149.303 112.781 149.303 113.518C149.303 114.256 149.072 114.863 148.608 115.341C148.15 115.818 147.569 116.057 146.864 116.057ZM146.857 115.475C147.377 115.475 147.805 115.291 148.14 114.922C148.476 114.554 148.644 114.086 148.644 113.518C148.644 112.951 148.476 112.483 148.14 112.115C147.805 111.741 147.377 111.555 146.857 111.555C146.342 111.555 145.917 111.741 145.581 112.115C145.245 112.483 145.078 112.951 145.078 113.518C145.078 114.086 145.245 114.554 145.581 114.922C145.917 115.291 146.342 115.475 146.857 115.475ZM153.972 116H153.235L151.859 113.788H150.76V116H150.115V111.037H151.902C152.374 111.037 152.752 111.162 153.036 111.413C153.32 111.663 153.461 111.997 153.461 112.412C153.461 112.715 153.379 112.98 153.213 113.207C153.053 113.429 152.828 113.589 152.54 113.689L153.972 116ZM150.76 111.611V113.207H151.831C152.138 113.207 152.377 113.138 152.547 113.001C152.717 112.859 152.802 112.663 152.802 112.412C152.802 112.162 152.717 111.966 152.547 111.824C152.377 111.682 152.138 111.611 151.831 111.611H150.76ZM96.5176 125V120.037H99.6939V120.611H97.1628V122.129H99.233V122.71H97.1628V125H96.5176ZM104.349 125H103.611L102.236 122.788H101.137V125H100.492V120.037H102.279C102.751 120.037 103.129 120.162 103.413 120.413C103.697 120.663 103.838 120.997 103.838 121.412C103.838 121.715 103.756 121.98 103.59 122.207C103.429 122.429 103.205 122.589 102.917 122.689L104.349 125ZM101.137 120.611V122.207H102.208C102.515 122.207 102.754 122.138 102.924 122.001C103.094 121.859 103.179 121.663 103.179 121.412C103.179 121.162 103.094 120.966 102.924 120.824C102.754 120.682 102.515 120.611 102.208 120.611H101.137ZM106.976 125.057C106.267 125.057 105.681 124.818 105.218 124.341C104.759 123.863 104.53 123.256 104.53 122.518C104.53 121.781 104.759 121.174 105.218 120.696C105.681 120.219 106.267 119.98 106.976 119.98C107.68 119.98 108.262 120.219 108.72 120.696C109.183 121.174 109.415 121.781 109.415 122.518C109.415 123.256 109.183 123.863 108.72 124.341C108.262 124.818 107.68 125.057 106.976 125.057ZM106.969 124.475C107.489 124.475 107.917 124.291 108.252 123.922C108.588 123.554 108.756 123.086 108.756 122.518C108.756 121.951 108.588 121.483 108.252 121.115C107.917 120.741 107.489 120.555 106.969 120.555C106.454 120.555 106.028 120.741 105.693 121.115C105.357 121.483 105.189 121.951 105.189 122.518C105.189 123.086 105.357 123.554 105.693 123.922C106.028 124.291 106.454 124.475 106.969 124.475ZM110.227 125V120.037H110.943L113.446 123.986V120.037H114.077V125H113.361L110.858 121.065V125H110.227ZM116.306 125V120.611H114.725V120.037H118.525V120.611H116.951V125H116.306ZM120.889 125V120.037H124.016V120.611H121.535V122.072H123.548V122.653H121.535V124.419H124.094V125H120.889ZM124.912 125V120.037H125.628L128.131 123.986V120.037H128.762V125H128.046L125.543 121.065V125H124.912ZM129.8 125V120.037H131.275C131.994 120.037 132.587 120.257 133.055 120.696C133.527 121.136 133.764 121.743 133.764 122.518C133.764 123.294 133.527 123.901 133.055 124.341C132.587 124.78 131.994 125 131.275 125H129.8ZM130.439 124.419H131.254C131.779 124.419 132.216 124.26 132.566 123.944C132.92 123.627 133.097 123.152 133.097 122.518C133.097 122.088 133.007 121.727 132.828 121.434C132.653 121.136 132.431 120.926 132.161 120.803C131.892 120.675 131.589 120.611 131.254 120.611H130.439V124.419Z"
					fill="#7B7B7B"></path>
				<path
					d="M112.5 260L91 281.5"
					stroke="#110F06"
					stroke-width="1.5"
					stroke-linecap="square"></path>
				<path
					d="M96.5 259H113.5V275"
					stroke="#110F06"
					stroke-width="1.5"
					stroke-linecap="square"></path>
				<defs>
					<linearGradient
						id="paint0_linear_108_1764"
						x1="260.5"
						y1="152.292"
						x2="260.5"
						y2="347.292"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="white" stop-opacity="0"></stop>
						<stop offset="0.546665" stop-color="#FFFEF8"></stop>
					</linearGradient>
					<clipPath id="clip0_108_1764">
						<rect
							width="257.829"
							height="257.829"
							fill="white"
							transform="translate(395.616 19.5276) rotate(94.3437)"></rect>
					</clipPath>
				</defs>
			</svg>
		</a>
	</div>
</section>
