---

---

<section id="contact">
	<div class="mx-auto w-fit min-[340px]:py-[35px]">
		<a href="https://wa.me/5518996798213" target="_blank">
			<svg
				width="200"
				height="200"
				viewBox="0 0 165 138"
				fill="none"
				class="scale-[160%] max-[340px]:scale-[140%]"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g clip-path="url(#clip0_138_443)">
					<path
						d="M150.927 48.2288L51.2596 47.2298C51.171 48.3965 51.0824 49.5632 50.9937 50.73L151.379 51.5489C151.216 50.5977 151.072 49.4132 150.927 48.2288Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M150.927 48.2288L51.2596 47.2298C51.171 48.3965 51.0824 49.5632 50.9937 50.73L151.379 51.5489C151.216 50.5977 151.072 49.4132 150.927 48.2288Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M145.006 30.4115L57.292 29.6162C56.7367 30.7476 55.9481 31.861 55.3751 33.2257L146.84 34.0711C146.246 32.6179 145.635 31.3981 145.006 30.4115Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M145.006 30.4115L57.292 29.6162C56.7367 30.7476 55.9481 31.861 55.3751 33.2257L146.84 34.0711C146.246 32.6179 145.635 31.3981 145.006 30.4115Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M148.783 39.3829L53.1002 38.4517C52.7782 39.6006 52.4563 40.7497 52.1343 41.8986L149.935 42.7559C149.557 41.5538 149.179 40.3517 148.783 39.3829Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M148.783 39.3829L53.1002 38.4517C52.7782 39.6006 52.4563 40.7497 52.1343 41.8986L149.935 42.7559C149.557 41.5538 149.179 40.3517 148.783 39.3829Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M138.661 21.2465L63.6187 20.4749C62.5967 21.5708 61.557 22.9 60.7684 24.0136L141.68 24.7615C140.817 23.7573 139.739 22.5018 138.661 21.2465Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M138.661 21.2465L63.6187 20.4749C62.5967 21.5708 61.557 22.9 60.7684 24.0136L141.68 24.7615C140.817 23.7573 139.739 22.5018 138.661 21.2465Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M128.314 12.2463L74.379 11.6699C72.6569 12.7125 70.9173 13.9886 69.4109 15.2823L133.199 15.9031C131.655 14.6123 129.876 13.3037 128.314 12.2463Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M128.314 12.2463L74.379 11.6699C72.6569 12.7125 70.9173 13.9886 69.4109 15.2823L133.199 15.9031C131.655 14.6123 129.876 13.3037 128.314 12.2463Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M116.984 6.92661C106.911 3.57997 95.8911 3.44703 85.7894 6.66946L116.984 6.92661Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M116.984 6.92661C106.911 3.57997 95.8911 3.44703 85.7894 6.66946L116.984 6.92661Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M133.703 92.6853L67.3305 92.103C68.8753 93.3938 70.1867 94.6669 71.7493 95.7243L128.969 96.3154C130.708 95.0394 132.197 93.979 133.703 92.6853Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M133.703 92.6853L67.3305 92.103C68.8753 93.3938 70.1867 94.6669 71.7493 95.7243L128.969 96.3154C130.708 95.0394 132.197 93.979 133.703 92.6853Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M141.88 83.9182L59.5683 83.0641C60.4132 84.3018 61.2579 85.5392 62.3537 86.5612L139.28 87.2412C140.069 86.1276 141.091 85.0318 141.88 83.9182Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M141.88 83.9182L59.5683 83.0641C60.4132 84.3018 61.2579 85.5392 62.3537 86.5612L139.28 87.2412C140.069 86.1276 141.091 85.0318 141.88 83.9182Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M119.192 101.44L81.8953 101.189C87.587 103.499 93.3674 104.642 99.452 104.869L101.57 104.795C107.672 104.79 113.63 103.599 119.192 101.44Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M119.192 101.44L81.8953 101.189C87.587 103.499 93.3674 104.642 99.452 104.869L101.57 104.795C107.672 104.79 113.63 103.599 119.192 101.44Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M150.047 65.9983L51.78 65.1055C51.9248 66.2899 52.3028 67.4921 52.6809 68.6943L149.064 69.6786C149.386 68.5296 149.725 67.1472 150.047 65.9983Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M150.047 65.9983L51.78 65.1055C51.9248 66.2899 52.3028 67.4921 52.6809 68.6943L149.064 69.6786C149.386 68.5296 149.725 67.1472 150.047 65.9983Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M151.187 57.167L50.5686 56.3303C50.7134 57.5146 50.6248 58.6814 50.7694 59.8659L150.67 60.8826C151.01 59.5003 151.098 58.3337 151.187 57.167Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M151.187 57.167L50.5686 56.3303C50.7134 57.5146 50.6248 58.6814 50.7694 59.8659L150.67 60.8826C151.01 59.5003 151.098 58.3337 151.187 57.167Z"
						fill="black"
						fill-opacity="0.05"></path>
					<path
						d="M147.023 74.9216L54.6245 74.0054C55.236 75.2253 55.614 76.4274 56.2254 77.6473L145.339 78.5489C145.894 77.4177 146.467 76.0529 147.023 74.9216Z"
						fill="#372F2F"
						fill-opacity="0.02"></path>
					<path
						d="M147.023 74.9216L54.6245 74.0054C55.236 75.2253 55.614 76.4274 56.2254 77.6473L145.339 78.5489C145.894 77.4177 146.467 76.0529 147.023 74.9216Z"
						fill="black"
						fill-opacity="0.05"></path>
				</g>
				<rect
					x="34.8932"
					y="60.0793"
					width="134.591"
					height="76.073"
					transform="rotate(-15 34.8932 60.0793)"
					fill="url(#paint0_linear_138_443)"></rect>
				<circle cx="60.446" cy="78.4958" r="57.5424" fill="#FFFEF8"></circle>
				<path
					d="M104.627 108.834C104.695 108.744 104.779 108.692 104.879 108.679C104.979 108.666 105.072 108.692 105.158 108.758C105.245 108.824 105.295 108.907 105.308 109.007C105.322 109.106 105.294 109.201 105.225 109.291C105.159 109.377 105.075 109.426 104.972 109.437C104.87 109.453 104.777 109.43 104.694 109.367C104.607 109.301 104.559 109.216 104.548 109.113C104.534 109.013 104.561 108.92 104.627 108.834Z"
					fill="black"></path>
				<path
					d="M100.622 113.619C100.701 113.538 100.79 113.496 100.891 113.495C100.991 113.493 101.081 113.53 101.159 113.605C101.237 113.681 101.277 113.769 101.279 113.87C101.281 113.97 101.242 114.061 101.164 114.143C101.088 114.221 100.999 114.259 100.895 114.258C100.792 114.263 100.702 114.229 100.627 114.156C100.549 114.081 100.51 113.991 100.511 113.887C100.51 113.787 100.547 113.697 100.622 113.619Z"
					fill="black"></path>
				<path
					d="M96.0904 117.909C96.1778 117.837 96.2715 117.806 96.3716 117.816C96.4718 117.826 96.5563 117.873 96.6253 117.957C96.6943 118.041 96.7238 118.133 96.7139 118.234C96.704 118.334 96.6553 118.42 96.568 118.491C96.4838 118.56 96.3904 118.588 96.2876 118.575C96.1842 118.568 96.0994 118.524 96.0331 118.443C95.9641 118.359 95.9362 118.265 95.9493 118.162C95.9592 118.062 96.0063 117.978 96.0904 117.909Z"
					fill="black"></path>
				<path
					d="M91.0928 121.645C91.1879 121.584 91.2846 121.564 91.3829 121.586C91.4812 121.607 91.5597 121.664 91.6185 121.755C91.6773 121.847 91.6959 121.942 91.6745 122.04C91.6531 122.138 91.5948 122.218 91.4997 122.279C91.4082 122.338 91.3121 122.355 91.2115 122.33C91.1097 122.311 91.0306 122.257 90.974 122.169C90.9153 122.077 90.8984 121.981 90.9233 121.881C90.9447 121.782 91.0012 121.704 91.0928 121.645Z"
					fill="black"></path>
				<path
					d="M85.6963 124.777C85.7979 124.728 85.8962 124.719 85.9913 124.752C86.0865 124.785 86.158 124.85 86.2057 124.948C86.2535 125.045 86.2611 125.142 86.2284 125.237C86.1958 125.332 86.1287 125.405 86.0272 125.454C85.9294 125.502 85.832 125.508 85.7351 125.471C85.6361 125.44 85.5637 125.378 85.5178 125.284C85.47 125.186 85.4643 125.089 85.5007 124.992C85.5334 124.897 85.5986 124.825 85.6963 124.777Z"
					fill="black"></path>
				<path
					d="M79.9733 127.265C80.0799 127.227 80.1785 127.23 80.2693 127.274C80.36 127.317 80.4234 127.39 80.4596 127.493C80.4957 127.595 80.4921 127.692 80.4486 127.783C80.4052 127.873 80.3301 127.938 80.2236 127.975C80.121 128.011 80.0236 128.006 79.9315 127.958C79.8368 127.916 79.7721 127.846 79.7373 127.747C79.7012 127.645 79.7068 127.547 79.7542 127.455C79.7977 127.364 79.8707 127.301 79.9733 127.265Z"
					fill="black"></path>
				<path
					d="M74.0011 129.072C74.1113 129.047 74.2089 129.062 74.294 129.115C74.3791 129.169 74.4337 129.249 74.4577 129.355C74.4817 129.461 74.4669 129.557 74.4133 129.642C74.3596 129.727 74.2776 129.782 74.1675 129.807C74.0613 129.831 73.9653 129.814 73.8793 129.756C73.7901 129.704 73.7339 129.626 73.7108 129.524C73.6868 129.418 73.7037 129.322 73.7614 129.236C73.8151 129.151 73.895 129.096 74.0011 129.072Z"
					fill="black"></path>
				<path
					d="M67.8598 130.177C67.9722 130.165 68.0675 130.19 68.1458 130.254C68.2241 130.317 68.2691 130.402 68.2807 130.511C68.2922 130.619 68.2665 130.712 68.2033 130.79C68.1401 130.869 68.0524 130.914 67.94 130.926C67.8319 130.937 67.7384 130.91 67.6596 130.842C67.5772 130.779 67.5304 130.696 67.5192 130.592C67.5076 130.484 67.5355 130.39 67.6028 130.312C67.666 130.233 67.7517 130.188 67.8598 130.177Z"
					fill="black"></path>
				<path
					d="M61.6318 130.563C61.7448 130.564 61.8365 130.6 61.907 130.672C61.9774 130.744 62.0122 130.834 62.0111 130.943C62.0101 131.052 61.9737 131.141 61.9019 131.212C61.8301 131.282 61.7377 131.317 61.6247 131.316C61.516 131.315 61.4263 131.277 61.3559 131.201C61.2812 131.129 61.2444 131.04 61.2454 130.936C61.2464 130.827 61.2849 130.737 61.3609 130.667C61.4327 130.597 61.523 130.562 61.6318 130.563Z"
					fill="black"></path>
				<path
					d="M55.4011 130.226C55.5132 130.24 55.6001 130.287 55.6618 130.366C55.7235 130.445 55.7475 130.539 55.7339 130.647C55.7203 130.755 55.6738 130.84 55.5943 130.902C55.5148 130.963 55.419 130.987 55.3069 130.973C55.199 130.959 55.1144 130.911 55.0533 130.827C54.9874 130.747 54.9611 130.655 54.9741 130.551C54.9877 130.443 55.0364 130.359 55.12 130.298C55.1995 130.236 55.2932 130.212 55.4011 130.226Z"
					fill="black"></path>
				<path
					d="M49.2512 129.169C49.3609 129.196 49.4418 129.253 49.4939 129.339C49.546 129.425 49.559 129.521 49.533 129.627C49.507 129.732 49.4509 129.811 49.3649 129.863C49.2788 129.915 49.1809 129.928 49.0712 129.901C48.9655 129.875 48.8872 129.817 48.8361 129.726C48.78 129.639 48.7644 129.545 48.7894 129.443C48.8154 129.338 48.8735 129.259 48.9636 129.208C49.0497 129.156 49.1456 129.143 49.2512 129.169Z"
					fill="black"></path>
				<path
					d="M43.2651 127.408C43.3709 127.448 43.4447 127.513 43.4865 127.605C43.5283 127.696 43.5301 127.793 43.492 127.895C43.454 127.997 43.3892 128.069 43.2977 128.111C43.2061 128.152 43.1074 128.154 43.0016 128.114C42.8997 128.076 42.8286 128.009 42.7883 127.914C42.7426 127.821 42.738 127.725 42.7746 127.627C42.8127 127.525 42.8794 127.454 42.9749 127.414C43.0664 127.372 43.1632 127.37 43.2651 127.408Z"
					fill="black"></path>
				<path
					d="M37.5228 124.966C37.6234 125.017 37.6891 125.091 37.72 125.187C37.7509 125.282 37.7415 125.379 37.6919 125.476C37.6423 125.572 37.5696 125.636 37.4739 125.667C37.3781 125.698 37.28 125.688 37.1794 125.636C37.0826 125.587 37.0197 125.512 36.9907 125.413C36.9561 125.315 36.9626 125.22 37.0103 125.126C37.0599 125.03 37.1345 124.967 37.2339 124.938C37.3297 124.907 37.426 124.916 37.5228 124.966Z"
					fill="black"></path>
				<path
					d="M32.102 121.876C32.1959 121.938 32.2527 122.019 32.2723 122.118C32.2919 122.217 32.2714 122.311 32.2109 122.402C32.1505 122.492 32.0709 122.547 31.9722 122.567C31.8735 122.586 31.7772 122.565 31.6833 122.502C31.5929 122.441 31.539 122.36 31.5217 122.258C31.4987 122.157 31.5162 122.063 31.5744 121.976C31.6348 121.885 31.7162 121.832 31.8183 121.814C31.917 121.795 32.0116 121.815 32.102 121.876Z"
					fill="black"></path>
				<path
					d="M27.0753 118.179C27.1613 118.252 27.2083 118.339 27.2163 118.439C27.2244 118.539 27.1931 118.631 27.1226 118.714C27.0521 118.797 26.9666 118.842 26.8664 118.85C26.7661 118.858 26.6729 118.825 26.5869 118.752C26.5041 118.682 26.46 118.595 26.4547 118.491C26.4434 118.388 26.4717 118.297 26.5396 118.217C26.6101 118.134 26.6971 118.09 26.8006 118.085C26.9009 118.077 26.9924 118.108 27.0753 118.179Z"
					fill="black"></path>
				<path
					d="M22.5103 113.925C22.5873 114.007 22.6239 114.099 22.6203 114.199C22.6167 114.3 22.5751 114.387 22.4954 114.461C22.4157 114.535 22.3257 114.571 22.2251 114.567C22.1246 114.563 22.0358 114.52 21.9589 114.438C21.8847 114.358 21.851 114.266 21.8577 114.163C21.8585 114.059 21.8972 113.972 21.9738 113.901C22.0534 113.827 22.1449 113.793 22.2483 113.8C22.3489 113.803 22.4362 113.845 22.5103 113.925Z"
					fill="black"></path>
				<path
					d="M18.4683 109.171C18.5352 109.262 18.561 109.357 18.5458 109.457C18.5306 109.556 18.4791 109.638 18.3914 109.702C18.3037 109.767 18.2101 109.791 18.1107 109.776C18.0112 109.761 17.9281 109.708 17.8612 109.617C17.7968 109.529 17.7739 109.434 17.7925 109.332C17.8053 109.229 17.8538 109.147 17.9381 109.085C18.0258 109.021 18.1207 108.998 18.2226 109.017C18.322 109.032 18.4039 109.083 18.4683 109.171Z"
					fill="black"></path>
				<path
					d="M15.0038 103.981C15.0597 104.079 15.0743 104.177 15.0477 104.274C15.021 104.371 14.9604 104.446 14.8659 104.5C14.7713 104.554 14.6755 104.567 14.5785 104.541C14.4815 104.514 14.405 104.452 14.3492 104.354C14.2953 104.259 14.2836 104.162 14.3139 104.063C14.3384 103.962 14.3962 103.886 14.4871 103.835C14.5817 103.781 14.6785 103.769 14.7776 103.799C14.8746 103.826 14.95 103.886 15.0038 103.981Z"
					fill="black"></path>
				<path
					d="M12.1634 98.4252C12.2075 98.5292 12.2108 98.6278 12.1731 98.7211C12.1354 98.8144 12.0664 98.8823 11.9663 98.9248C11.8661 98.9673 11.7694 98.9697 11.6761 98.932C11.5829 98.8943 11.5142 98.8235 11.47 98.7195C11.4275 98.6193 11.427 98.5218 11.4686 98.4268C11.5046 98.3297 11.5708 98.2607 11.6671 98.2198C11.7673 98.1773 11.8648 98.1769 11.9597 98.2184C12.053 98.2561 12.1209 98.325 12.1634 98.4252Z"
					fill="black"></path>
				<path
					d="M9.98501 92.5778C10.0168 92.6863 10.0086 92.7846 9.96036 92.8729C9.91212 92.9612 9.8358 93.0206 9.7314 93.0513C9.627 93.0819 9.53065 93.0731 9.44236 93.0249C9.35408 92.9766 9.29403 92.8983 9.26222 92.7899C9.2316 92.6855 9.24241 92.5885 9.29466 92.4991C9.34172 92.4068 9.41545 92.3459 9.51583 92.3164C9.62023 92.2858 9.71717 92.2966 9.80663 92.3489C9.89492 92.3971 9.95438 92.4734 9.98501 92.5778Z"
					fill="black"></path>
				<path
					d="M8.49812 86.5177C8.51716 86.6291 8.49762 86.7258 8.43949 86.8079C8.38135 86.89 8.29866 86.9403 8.19142 86.9586C8.08417 86.9769 7.9895 86.957 7.90739 86.8989C7.82527 86.8408 7.7747 86.756 7.75566 86.6447C7.73732 86.5374 7.75928 86.4424 7.82154 86.3596C7.87896 86.2733 7.95924 86.2214 8.06236 86.2038C8.1696 86.1854 8.26463 86.2074 8.34745 86.2696C8.42956 86.3278 8.47978 86.4105 8.49812 86.5177Z"
					fill="black"></path>
				<path
					d="M7.72264 80.3262C7.72867 80.439 7.69806 80.5328 7.63081 80.6076C7.56356 80.6825 7.47562 80.7228 7.36697 80.7286C7.25832 80.7344 7.16659 80.7037 7.09176 80.6364C7.01692 80.5692 6.9765 80.4791 6.97047 80.3663C6.96467 80.2577 6.99749 80.1658 7.06891 80.0908C7.13593 80.0118 7.22168 79.9695 7.32615 79.9639C7.43479 79.9581 7.52664 79.9909 7.6017 80.0623C7.67653 80.1296 7.71684 80.2175 7.72264 80.3262Z"
					fill="black"></path>
				<path
					d="M7.66921 74.0864C7.66213 74.1992 7.62087 74.2888 7.54541 74.3554C7.46996 74.4219 7.37793 74.4518 7.26935 74.445C7.16076 74.4381 7.07319 74.397 7.00665 74.3216C6.94011 74.2461 6.91037 74.152 6.91745 74.0392C6.92426 73.9306 6.96749 73.8432 7.04712 73.7769C7.12284 73.7062 7.2129 73.6741 7.31731 73.6807C7.4259 73.6875 7.51333 73.7307 7.57962 73.8103C7.64616 73.8858 7.67602 73.9778 7.66921 74.0864Z"
					fill="black"></path>
				<path
					d="M8.33819 67.8827C8.3181 67.9939 8.26674 68.0781 8.18409 68.1355C8.10144 68.1929 8.00658 68.2119 7.89951 68.1925C7.79244 68.1732 7.71022 68.1222 7.65286 68.0396C7.5955 67.9569 7.57686 67.86 7.59694 67.7488C7.61628 67.6417 7.66933 67.5599 7.7561 67.5033C7.83949 67.4418 7.93267 67.4203 8.03562 67.4389C8.14269 67.4583 8.22453 67.5113 8.28115 67.5981C8.33851 67.6807 8.35752 67.7756 8.33819 67.8827Z"
					fill="black"></path>
				<path
					d="M9.72084 61.7979C9.68803 61.906 9.62725 61.9838 9.53852 62.0312C9.44978 62.0786 9.35336 62.0865 9.24925 62.0549C9.14514 62.0233 9.06938 61.9631 9.02197 61.8744C8.97456 61.7857 8.96726 61.6872 9.00008 61.5791C9.03168 61.475 9.09385 61.3998 9.18659 61.3537C9.27654 61.3022 9.37157 61.2917 9.47167 61.3221C9.57578 61.3537 9.65094 61.4159 9.69713 61.5086C9.74454 61.5974 9.75245 61.6938 9.72084 61.7979Z"
					fill="black"></path>
				<path
					d="M11.7984 55.9141C11.7533 56.0177 11.684 56.0879 11.5903 56.1247C11.4967 56.1615 11.4 56.1582 11.3003 56.1148C11.2005 56.0713 11.1322 56.0028 11.0954 55.9092C11.0586 55.8156 11.0627 55.7169 11.1078 55.6134C11.1513 55.5136 11.2217 55.4462 11.3192 55.411C11.4145 55.3703 11.5101 55.3709 11.606 55.4127C11.7058 55.4561 11.7732 55.5266 11.8084 55.624C11.8452 55.7176 11.8419 55.8143 11.7984 55.9141Z"
					fill="black"></path>
				<path
					d="M14.5432 50.3104C14.4864 50.408 14.4094 50.4697 14.3121 50.4955C14.2149 50.5212 14.1192 50.5067 14.0251 50.452C13.9311 50.3974 13.8712 50.3214 13.8455 50.2241C13.8197 50.1269 13.8352 50.0294 13.892 49.9317C13.9467 49.8377 14.0245 49.7788 14.1254 49.7552C14.2248 49.7258 14.3197 49.7375 14.4101 49.79C14.5042 49.8447 14.563 49.9225 14.5866 50.0234C14.6124 50.1207 14.5979 50.2163 14.5432 50.3104Z"
					fill="black"></path>
				<path
					d="M17.9182 45.062C17.8505 45.1525 17.7668 45.2049 17.6673 45.2192C17.5677 45.2335 17.4743 45.208 17.3872 45.1428C17.3001 45.0776 17.2494 44.9952 17.2351 44.8956C17.2208 44.796 17.2475 44.701 17.3153 44.6106C17.3805 44.5235 17.4646 44.474 17.5675 44.4622C17.6696 44.4446 17.7625 44.4671 17.8462 44.5298C17.9333 44.595 17.9828 44.6791 17.9946 44.782C18.0089 44.8816 17.9834 44.975 17.9182 45.062Z"
					fill="black"></path>
				<path
					d="M21.878 40.2393C21.8002 40.3213 21.7111 40.3637 21.6105 40.3663C21.5099 40.369 21.4202 40.3329 21.3412 40.2581C21.2623 40.1832 21.2214 40.0955 21.2187 39.9949C21.2161 39.8944 21.2536 39.8031 21.3313 39.7211C21.4062 39.6421 21.4954 39.6028 21.599 39.603C21.7025 39.5972 21.7922 39.6304 21.8681 39.7023C21.947 39.7772 21.9864 39.8664 21.9862 39.97C21.9889 40.0706 21.9528 40.1604 21.878 40.2393Z"
					fill="black"></path>
				<path
					d="M26.3692 35.9075C26.2825 35.9799 26.189 36.0116 26.0888 36.0027C25.9886 35.9937 25.9036 35.9475 25.8339 35.864C25.7641 35.7805 25.7337 35.6886 25.7427 35.5884C25.7517 35.4882 25.7995 35.4019 25.8862 35.3294C25.9697 35.2597 26.0629 35.2309 26.1658 35.2431C26.2692 35.2494 26.3544 35.2927 26.4215 35.3729C26.4913 35.4564 26.5201 35.5496 26.5079 35.6525C26.4989 35.7527 26.4527 35.8377 26.3692 35.9075Z"
					fill="black"></path>
				<path
					d="M31.3318 32.1246C31.2373 32.1866 31.1408 32.2073 31.0423 32.1868C30.9439 32.1662 30.8648 32.1105 30.8052 32.0195C30.7455 31.9285 30.726 31.8337 30.7465 31.7352C30.767 31.6367 30.8245 31.5565 30.919 31.4946C31.01 31.435 31.1059 31.4172 31.2067 31.4412C31.3087 31.4594 31.3884 31.5123 31.4457 31.5998C31.5053 31.6908 31.5231 31.7867 31.4991 31.8875C31.4786 31.986 31.4228 32.065 31.3318 32.1246Z"
					fill="black"></path>
				<path
					d="M36.6988 28.9419C36.5977 28.9925 36.4995 29.0019 36.404 28.9701C36.3086 28.9383 36.2365 28.8738 36.1878 28.7765C36.1391 28.6792 36.1307 28.5828 36.1624 28.4874C36.1942 28.3919 36.2606 28.3189 36.3617 28.2683C36.459 28.2196 36.5563 28.213 36.6536 28.2486C36.7528 28.2785 36.8258 28.3402 36.8726 28.4337C36.9213 28.531 36.9279 28.6283 36.8924 28.7257C36.8606 28.8211 36.7961 28.8932 36.6988 28.9419Z"
					fill="black"></path>
				<path
					d="M42.3981 26.4017C42.2919 26.4403 42.1932 26.4382 42.1021 26.3956C42.0109 26.353 41.9468 26.2806 41.9097 26.1783C41.8726 26.076 41.8753 25.9793 41.918 25.8882C41.9606 25.797 42.035 25.7322 42.1412 25.6936C42.2435 25.6565 42.3409 25.6613 42.4335 25.7078C42.5285 25.749 42.5939 25.8188 42.6296 25.9171C42.6667 26.0194 42.662 26.1168 42.6154 26.2094C42.5728 26.3005 42.5004 26.3646 42.3981 26.4017Z"
					fill="black"></path>
				<path
					d="M48.3534 24.5382C48.2434 24.5641 48.1457 24.5507 48.0601 24.4978C47.9745 24.4449 47.9192 24.3656 47.8942 24.2597C47.8691 24.1538 47.8831 24.0581 47.9359 23.9725C47.9888 23.8869 48.0702 23.8311 48.1802 23.8051C48.2861 23.7801 48.3823 23.7961 48.4689 23.853C48.5585 23.9049 48.6154 23.9818 48.6394 24.0836C48.6645 24.1895 48.6485 24.2857 48.5915 24.3723C48.5387 24.4578 48.4593 24.5131 48.3534 24.5382Z"
					fill="black"></path>
				<path
					d="M54.4841 23.3764C54.3719 23.3895 54.2763 23.3648 54.1974 23.3024C54.1185 23.2399 54.0728 23.1547 54.0602 23.0466C54.0476 22.9386 54.0725 22.8451 54.135 22.7662C54.1974 22.6873 54.2847 22.6413 54.3969 22.6282C54.505 22.6156 54.5987 22.6426 54.6781 22.7092C54.7612 22.7711 54.8087 22.8541 54.8209 22.958C54.8334 23.0661 54.8065 23.1598 54.7399 23.2392C54.6774 23.3181 54.5922 23.3638 54.4841 23.3764Z"
					fill="black"></path>
				<path
					d="M60.7082 22.9321C60.5952 22.9321 60.5031 22.8965 60.432 22.8253C60.3608 22.7542 60.3253 22.6642 60.3253 22.5554C60.3253 22.4466 60.3608 22.3567 60.432 22.2855C60.5031 22.2144 60.5952 22.1788 60.7082 22.1788C60.817 22.1788 60.9069 22.2165 60.9781 22.2918C61.0534 22.3629 61.0911 22.4508 61.0911 22.5554C61.0911 22.6642 61.0534 22.7542 60.9781 22.8253C60.9069 22.8965 60.817 22.9321 60.7082 22.9321Z"
					fill="black"></path>
				<path
					d="M66.9419 23.2113C66.8296 23.1982 66.7423 23.1522 66.6799 23.0733C66.6174 22.9944 66.5925 22.901 66.6051 22.7929C66.6177 22.6848 66.6635 22.5996 66.7424 22.5371C66.8213 22.4747 66.9168 22.45 67.029 22.4631C67.1371 22.4757 67.2221 22.5235 67.2841 22.6066C67.3506 22.686 67.3779 22.7776 67.3658 22.8815C67.3532 22.9896 67.3054 23.0746 67.2223 23.1365C67.1434 23.199 67.0499 23.2239 66.9419 23.2113Z"
					fill="black"></path>
				<path
					d="M73.1012 24.2101C72.9913 24.1841 72.9098 24.1283 72.857 24.0427C72.8041 23.9571 72.7902 23.8614 72.8152 23.7555C72.8402 23.6496 72.8955 23.5702 72.9811 23.5174C73.0667 23.4645 73.1645 23.451 73.2744 23.477C73.3803 23.502 73.4592 23.5594 73.5111 23.649C73.5681 23.7356 73.5845 23.8298 73.5605 23.9316C73.5354 24.0375 73.4781 24.1164 73.3884 24.1683C73.3028 24.2212 73.2071 24.2351 73.1012 24.2101Z"
					fill="black"></path>
				<path
					d="M79.1036 25.9151C78.9974 25.8766 78.923 25.8117 78.8804 25.7206C78.8378 25.6295 78.835 25.5328 78.8721 25.4305C78.9092 25.3282 78.9733 25.2558 79.0645 25.2131C79.1556 25.1705 79.2543 25.1685 79.3605 25.207C79.4628 25.2441 79.5345 25.3102 79.5757 25.4053C79.6222 25.4979 79.6277 25.5933 79.592 25.6917C79.5549 25.7939 79.4888 25.8657 79.3937 25.9068C79.3026 25.9495 79.2059 25.9522 79.1036 25.9151Z"
					fill="black"></path>
				<path
					d="M84.8684 28.3034C84.7673 28.2529 84.7009 28.1799 84.6692 28.0844C84.6374 27.9889 84.6458 27.8926 84.6945 27.7953C84.7432 27.698 84.8153 27.6334 84.9108 27.6017C85.0062 27.5699 85.1045 27.5793 85.2055 27.6298C85.3028 27.6785 85.3664 27.7525 85.3963 27.8517C85.4318 27.949 85.4262 28.0445 85.3793 28.138C85.3307 28.2353 85.2567 28.2989 85.1575 28.3288C85.062 28.3606 84.9657 28.3521 84.8684 28.3034Z"
					fill="black"></path>
				<path
					d="M90.3178 31.3431C90.2233 31.2811 90.1658 31.2009 90.1453 31.1024C90.1248 31.004 90.1444 30.9092 90.204 30.8182C90.2636 30.7272 90.3427 30.6714 90.4412 30.6509C90.5397 30.6304 90.6362 30.6511 90.7307 30.713C90.8217 30.7727 90.8763 30.8535 90.8945 30.9555C90.9185 31.0562 90.9019 31.1504 90.8445 31.2379C90.7849 31.3289 90.7041 31.3835 90.6021 31.4017C90.5036 31.4223 90.4089 31.4027 90.3178 31.3431Z"
					fill="black"></path>
				<path
					d="M95.3789 34.993C95.2922 34.9205 95.2444 34.8342 95.2354 34.734C95.2264 34.6338 95.2568 34.5419 95.3266 34.4584C95.3964 34.375 95.4813 34.3287 95.5815 34.3197C95.6818 34.3108 95.7752 34.3425 95.8619 34.4149C95.9454 34.4847 95.9903 34.5713 95.9966 34.6747C96.0088 34.7776 95.9813 34.8692 95.9142 34.9495C95.8445 35.033 95.7579 35.0779 95.6545 35.0841C95.5543 35.0931 95.4624 35.0627 95.3789 34.993Z"
					fill="black"></path>
				<path
					d="M99.9835 39.2042C99.9057 39.1222 99.8682 39.0309 99.8709 38.9304C99.8736 38.8298 99.9144 38.7421 99.9933 38.6672C100.072 38.5924 100.162 38.5563 100.263 38.559C100.363 38.5617 100.452 38.604 100.53 38.686C100.605 38.7649 100.64 38.8562 100.634 38.9596C100.634 39.0632 100.596 39.151 100.52 39.223C100.441 39.2978 100.35 39.3324 100.247 39.3267C100.146 39.324 100.058 39.2832 99.9835 39.2042Z"
					fill="black"></path>
				<path
					d="M104.07 43.9199C104.002 43.8295 103.975 43.7345 103.989 43.6349C104.004 43.5353 104.054 43.4529 104.141 43.3877C104.229 43.3225 104.322 43.297 104.421 43.3113C104.521 43.3256 104.605 43.378 104.672 43.4685C104.738 43.5556 104.761 43.6501 104.744 43.7522C104.732 43.8552 104.684 43.938 104.6 44.0007C104.513 44.0659 104.419 44.0897 104.317 44.072C104.217 44.0577 104.135 44.007 104.07 43.9199Z"
					fill="black"></path>
				<path
					d="M107.582 49.0772C107.526 48.9795 107.51 48.882 107.536 48.7848C107.561 48.6875 107.621 48.6115 107.715 48.5568C107.809 48.5021 107.905 48.4877 108.002 48.5134C108.1 48.5391 108.177 48.6008 108.233 48.6985C108.288 48.7926 108.301 48.8893 108.271 48.9886C108.248 49.0895 108.191 49.1662 108.1 49.2188C108.006 49.2735 107.91 49.2862 107.81 49.2568C107.713 49.2311 107.637 49.1712 107.582 49.0772Z"
					fill="black"></path>
				<path
					d="M110.475 54.6064C110.43 54.5028 110.425 54.4042 110.462 54.3106C110.499 54.217 110.567 54.1485 110.667 54.105C110.767 54.0616 110.864 54.0583 110.957 54.0951C111.051 54.1319 111.12 54.2021 111.165 54.3057C111.209 54.4055 111.21 54.503 111.17 54.5983C111.134 54.6957 111.069 54.7654 110.973 54.8071C110.873 54.8506 110.776 54.852 110.68 54.8113C110.587 54.7745 110.518 54.7062 110.475 54.6064Z"
					fill="black"></path>
				<path
					d="M112.708 60.433C112.675 60.3249 112.682 60.2265 112.73 60.1378C112.777 60.049 112.853 59.9889 112.957 59.9573C113.061 59.9257 113.157 59.9336 113.246 59.981C113.335 60.0284 113.396 60.1061 113.428 60.2143C113.46 60.3184 113.45 60.4154 113.399 60.5054C113.352 60.5981 113.279 60.6597 113.179 60.69C113.075 60.7216 112.978 60.7117 112.888 60.6603C112.799 60.6129 112.739 60.5372 112.708 60.433Z"
					fill="black"></path>
				<path
					d="M114.251 66.4789C114.231 66.3678 114.25 66.2708 114.307 66.1882C114.364 66.1055 114.447 66.0545 114.554 66.0352C114.661 66.0159 114.756 66.0349 114.838 66.0922C114.921 66.1496 114.972 66.2339 114.992 66.3451C115.012 66.4521 114.991 66.5474 114.929 66.6308C114.872 66.7175 114.793 66.7702 114.69 66.7888C114.583 66.8081 114.487 66.7871 114.404 66.7256C114.321 66.6682 114.27 66.586 114.251 66.4789Z"
					fill="black"></path>
				<path
					d="M115.084 72.663C115.077 72.5502 115.107 72.4561 115.173 72.3806C115.24 72.3052 115.328 72.2641 115.436 72.2572C115.545 72.2504 115.637 72.2803 115.712 72.3468C115.788 72.4134 115.829 72.503 115.836 72.6158C115.843 72.7244 115.811 72.8165 115.74 72.8923C115.674 72.9719 115.588 73.015 115.484 73.0215C115.375 73.0283 115.283 72.9964 115.208 72.9257C115.132 72.8591 115.091 72.7716 115.084 72.663Z"
					fill="black"></path>
				<path
					d="M115.196 78.9019C115.202 78.7891 115.243 78.699 115.317 78.6318C115.392 78.5646 115.484 78.5338 115.593 78.5396C115.701 78.5454 115.789 78.5857 115.856 78.6606C115.924 78.7354 115.954 78.8292 115.948 78.9421C115.942 79.0507 115.9 79.1385 115.821 79.2056C115.746 79.277 115.656 79.3099 115.552 79.3043C115.443 79.2985 115.355 79.2561 115.288 79.1771C115.221 79.1023 115.19 79.0106 115.196 78.9019Z"
					fill="black"></path>
				<path
					d="M114.585 85.1115C114.604 85.0001 114.655 84.9154 114.737 84.8572C114.819 84.7991 114.914 84.7792 115.021 84.7975C115.128 84.8159 115.211 84.8661 115.269 84.9482C115.327 85.0303 115.347 85.1271 115.328 85.2384C115.309 85.3457 115.257 85.428 115.171 85.4854C115.088 85.5477 114.995 85.57 114.892 85.5524C114.784 85.534 114.702 85.4818 114.645 85.3955C114.587 85.3134 114.567 85.2187 114.585 85.1115Z"
					fill="black"></path>
				<path
					d="M113.259 91.2091C113.291 91.1006 113.351 91.0223 113.439 90.9741C113.528 90.9258 113.624 90.917 113.728 90.9477C113.833 90.9783 113.909 91.0377 113.957 91.126C114.006 91.2143 114.014 91.3127 113.982 91.4211C113.951 91.5255 113.89 91.6012 113.798 91.6483C113.708 91.7005 113.613 91.7119 113.513 91.6825C113.408 91.6519 113.333 91.5904 113.286 91.4981C113.237 91.4098 113.229 91.3135 113.259 91.2091Z"
					fill="black"></path>
				<path
					d="M111.237 97.1121C111.281 97.0081 111.349 96.9372 111.443 96.8995C111.536 96.8618 111.633 96.8642 111.733 96.9067C111.833 96.9492 111.902 97.0171 111.94 97.1104C111.977 97.2037 111.974 97.3023 111.93 97.4063C111.887 97.5065 111.818 97.5746 111.721 97.6107C111.626 97.6522 111.53 97.6525 111.434 97.6117C111.334 97.5692 111.265 97.4994 111.229 97.4022C111.192 97.3089 111.194 97.2122 111.237 97.1121Z"
					fill="black"></path>
				<path
					d="M108.544 102.741C108.6 102.643 108.677 102.581 108.774 102.554C108.871 102.527 108.966 102.541 109.061 102.595C109.156 102.649 109.216 102.724 109.243 102.821C109.27 102.918 109.255 103.016 109.199 103.114C109.145 103.208 109.068 103.268 108.967 103.292C108.868 103.323 108.773 103.312 108.682 103.26C108.588 103.206 108.528 103.129 108.504 103.029C108.477 102.932 108.491 102.836 108.544 102.741Z"
					fill="black"></path>
				<path
					d="M37.4072 67.2284V67.1032H39.6355V74.214C39.6355 74.8733 39.502 75.3156 39.2349 75.541C38.9678 75.758 38.5631 75.8665 38.0206 75.8665C37.4864 75.8665 37.0107 75.7872 36.5934 75.6286L36.631 75.5284C37.0316 75.687 37.4447 75.7663 37.8704 75.7663C38.1541 75.7663 38.3419 75.6453 38.4337 75.4033C38.5339 75.1612 38.5839 74.769 38.5839 74.2265V67.2284H37.4072ZM41.1374 71.6977C41.1374 70.1787 41.5046 69.027 42.2391 68.2425C42.9818 67.4496 43.9333 67.0532 45.0934 67.0532C46.2534 67.0532 47.1757 67.3953 47.86 68.0797C48.5528 68.7641 48.8991 69.8574 48.8991 71.3597C48.8991 72.8619 48.5319 73.997 47.7974 74.7648C47.063 75.5326 46.0824 75.9165 44.8555 75.9165C43.7956 75.9165 42.9276 75.6119 42.2516 75.0027C41.901 74.6855 41.6256 74.2473 41.4253 73.6882C41.2334 73.1206 41.1374 72.4571 41.1374 71.6977ZM45.0558 67.1783C44.2129 67.1783 43.5202 67.5539 42.9777 68.305C42.4435 69.0562 42.1765 70.1578 42.1765 71.61C42.1765 73.0622 42.431 74.1222 42.9401 74.7898C43.4492 75.4575 44.1252 75.7913 44.9682 75.7913C45.8195 75.7913 46.5122 75.4158 47.0463 74.6646C47.5888 73.9052 47.86 72.8077 47.86 71.3722C47.86 69.9283 47.6013 68.8684 47.0839 68.1924C46.5748 67.5164 45.8987 67.1783 45.0558 67.1783ZM49.6684 75.8665H49.5182L53.2614 67.1032L53.3991 67.0406L56.5538 75.8665H55.4897L54.5132 73.1123H50.8577L49.6684 75.8665ZM52.8733 68.4553L50.9078 72.9871H54.4757L52.8733 68.4553ZM52.1221 66.0266C51.6798 66.0266 51.4211 66.1727 51.346 66.4648L51.2458 66.4272C51.2875 66.1768 51.396 65.9515 51.5713 65.7512C51.6297 65.6844 51.7257 65.6385 51.8592 65.6135L52.1597 65.5509C52.3016 65.5259 52.5603 65.5592 52.9359 65.651C53.3114 65.7345 53.6494 65.8096 53.9499 65.8764C54.2754 65.9515 54.5717 65.9891 54.8387 65.9891C55.1058 65.9891 55.2811 65.9557 55.3645 65.8889C55.448 65.8138 55.5148 65.6803 55.5648 65.4883L55.6775 65.5133C55.5857 65.964 55.4146 66.2561 55.1642 66.3897C55.0641 66.4481 54.9723 66.4773 54.8888 66.4773C54.8053 66.4773 54.7219 66.4731 54.6384 66.4648C54.4465 66.4648 54.2295 66.4314 53.9874 66.3646C53.7538 66.2895 53.6286 66.252 53.6119 66.252C53.5952 66.2436 53.5743 66.2394 53.5493 66.2394C53.5326 66.2311 53.3698 66.1935 53.061 66.1268C52.7523 66.06 52.4393 66.0266 52.1221 66.0266ZM57.1772 71.6977C57.1772 70.1787 57.5444 69.027 58.2789 68.2425C59.0217 67.4496 59.9731 67.0532 61.1332 67.0532C62.2933 67.0532 63.2155 67.3953 63.8999 68.0797C64.5926 68.7641 64.9389 69.8574 64.9389 71.3597C64.9389 72.8619 64.5717 73.997 63.8373 74.7648C63.1028 75.5326 62.1222 75.9165 60.8953 75.9165C59.8354 75.9165 58.9674 75.6119 58.2914 75.0027C57.9409 74.6855 57.6655 74.2473 57.4652 73.6882C57.2732 73.1206 57.1772 72.4571 57.1772 71.6977ZM61.0956 67.1783C60.2527 67.1783 59.56 67.5539 59.0175 68.305C58.4834 69.0562 58.2163 70.1578 58.2163 71.61C58.2163 73.0622 58.4708 74.1222 58.9799 74.7898C59.489 75.4575 60.1651 75.7913 61.008 75.7913C61.8593 75.7913 62.552 75.4158 63.0861 74.6646C63.6286 73.9052 63.8999 72.8077 63.8999 71.3722C63.8999 69.9283 63.6411 68.8684 63.1237 68.1924C62.6146 67.5164 61.9386 67.1783 61.0956 67.1783ZM37.8203 90.8665H37.6575L38.7467 82.1032H39.1598L41.7888 90.203L44.4052 82.1032H44.8183L45.9075 90.8665H44.8684L44.0046 83.8559L41.7387 90.8665H40.95L38.659 83.9435L37.8203 90.8665ZM47.3089 90.8665H47.1587L50.9018 82.1032L51.0395 82.0406L54.1943 90.8665H53.1302L52.1537 88.1123H48.4982L47.3089 90.8665ZM50.5137 83.4553L48.5483 87.9871H52.1162L50.5137 83.4553ZM55.425 90.8665H55.2622V82.1032H55.6879L60.8957 90.203V82.1032H61.0585V90.8665H60.1446L55.425 83.6055V90.8665ZM68.7673 82.1032H68.93V87.1108C68.93 88.4211 68.6713 89.3851 68.1538 90.0027C67.6364 90.6119 66.9604 90.9165 66.1258 90.9165C65.6 90.9165 65.1535 90.8706 64.7863 90.7788C64.419 90.6787 64.0727 90.4992 63.7472 90.2405C63.0795 89.7231 62.7457 88.6798 62.7457 87.1108V82.1032H63.7847V87.0983C63.7847 88.6172 64.0143 89.6313 64.4733 90.1404C64.707 90.3907 64.949 90.5618 65.1994 90.6536C65.4581 90.7454 65.7669 90.7913 66.1258 90.7913C66.927 90.7913 67.5654 90.4992 68.0412 89.915C68.5252 89.3225 68.7673 88.3835 68.7673 87.0983V82.1032ZM75.4791 82.1032V82.2284H71.5357V85.9841H75.1912V86.1093H71.5357V90.7413H75.7546V90.8665H70.4966V82.1032H75.4791ZM81.8311 90.8665H77.0739V82.1032H78.113V90.7413H81.8311V90.8665Z"
					fill="#110F06"></path>
				<path
					d="M39.0426 61.4329C38.7778 61.4329 38.5639 61.349 38.4008 61.1811C38.2376 61.0109 38.1561 60.7875 38.1561 60.5109C38.1561 60.2343 38.2376 60.0121 38.4008 59.8442C38.5639 59.674 38.7778 59.5889 39.0426 59.5889C39.2507 59.5889 39.4244 59.6421 39.5639 59.7485C39.7057 59.8525 39.7932 59.9932 39.8263 60.1705L39.5284 60.2308C39.5095 60.122 39.4563 60.0334 39.3689 59.9648C39.2814 59.8939 39.175 59.8584 39.0497 59.8584C38.8748 59.8584 38.7341 59.9187 38.6277 60.0393C38.5237 60.1575 38.4717 60.3147 38.4717 60.5109C38.4717 60.7071 38.5237 60.8655 38.6277 60.9861C38.7341 61.1043 38.8748 61.1634 39.0497 61.1634C39.1774 61.1634 39.2838 61.1303 39.3689 61.0641C39.4563 60.9979 39.5119 60.9057 39.5355 60.7875L39.8299 60.8478C39.792 61.0322 39.7022 61.1764 39.5604 61.2804C39.4209 61.3821 39.2483 61.4329 39.0426 61.4329ZM43.3293 61.174C43.1591 61.3466 42.9416 61.4329 42.6768 61.4329C42.412 61.4329 42.1945 61.3466 42.0243 61.174C41.8541 60.9991 41.769 60.7781 41.769 60.5109C41.769 60.2438 41.8541 60.0239 42.0243 59.8513C42.1945 59.6764 42.412 59.5889 42.6768 59.5889C42.9416 59.5889 43.1591 59.6764 43.3293 59.8513C43.5019 60.0239 43.5882 60.2438 43.5882 60.5109C43.5882 60.7781 43.5019 60.9991 43.3293 61.174ZM42.2442 60.9825C42.3553 61.1031 42.4995 61.1634 42.6768 61.1634C42.8541 61.1634 42.9983 61.1031 43.1095 60.9825C43.2206 60.8596 43.2761 60.7024 43.2761 60.5109C43.2761 60.3194 43.2206 60.1634 43.1095 60.0428C42.9983 59.9199 42.8541 59.8584 42.6768 59.8584C42.4995 59.8584 42.3553 59.9199 42.2442 60.0428C42.1331 60.1634 42.0775 60.3194 42.0775 60.5109C42.0775 60.7024 42.1331 60.8596 42.2442 60.9825ZM45.6406 61.4045V59.6173H45.942V59.9542C46.0059 59.843 46.091 59.7544 46.1974 59.6882C46.3038 59.622 46.4231 59.5889 46.5555 59.5889C46.7423 59.5889 46.8948 59.6468 47.013 59.7627C47.1336 59.8785 47.1938 60.031 47.1938 60.2201V61.4045H46.8924V60.2769C46.8924 60.1539 46.8558 60.0546 46.7825 59.979C46.7092 59.901 46.6111 59.862 46.4882 59.862C46.3203 59.862 46.1867 59.9305 46.0874 60.0676C45.9905 60.2024 45.942 60.3868 45.942 60.6208V61.4045H45.6406ZM50.2351 61.3904C50.1571 61.4187 50.0637 61.4329 49.955 61.4329C49.7942 61.4329 49.6654 61.3868 49.5684 61.2946C49.4739 61.2 49.4266 61.0582 49.4266 60.8691V59.8832H49.0932V59.6173H49.4266V59.0747H49.728V59.6173H50.2067V59.8832H49.728V60.8797C49.728 60.9719 49.7516 61.0416 49.7989 61.0889C49.8462 61.1362 49.91 61.1599 49.9904 61.1599C50.0779 61.1599 50.1524 61.1445 50.2138 61.1138L50.2351 61.3904ZM52.8891 59.5889C53.1089 59.5889 53.2862 59.6492 53.421 59.7698C53.5557 59.8903 53.6231 60.0534 53.6231 60.2591V61.4045H53.3252V61.0996C53.2732 61.2012 53.1928 61.2828 53.0841 61.3443C52.9777 61.4034 52.8595 61.4329 52.7295 61.4329C52.5522 61.4329 52.4068 61.3844 52.2933 61.2875C52.1822 61.1882 52.1266 61.0606 52.1266 60.9045C52.1266 60.5688 52.4103 60.3726 52.9777 60.3159L53.3252 60.2769V60.2414C53.3252 60.1185 53.285 60.0215 53.2047 59.9506C53.1267 59.8773 53.0214 59.8407 52.8891 59.8407C52.7661 59.8407 52.6645 59.875 52.5841 59.9435C52.5037 60.0121 52.4576 60.1066 52.4458 60.2272L52.1656 60.174C52.1916 59.9967 52.2708 59.8549 52.4032 59.7485C52.538 59.6421 52.6999 59.5889 52.8891 59.5889ZM52.7756 61.1847C52.9482 61.1847 53.0829 61.1315 53.1798 61.0251C53.2768 60.9187 53.3252 60.7757 53.3252 60.596V60.5109L52.9777 60.5499C52.6113 60.5901 52.4281 60.7071 52.4281 60.901C52.4281 60.9837 52.46 61.0523 52.5238 61.1067C52.59 61.1587 52.6739 61.1847 52.7756 61.1847ZM56.7199 61.3904C56.6419 61.4187 56.5485 61.4329 56.4397 61.4329C56.279 61.4329 56.1501 61.3868 56.0532 61.2946C55.9586 61.2 55.9114 61.0582 55.9114 60.8691V59.8832H55.578V59.6173H55.9114V59.0747H56.2128V59.6173H56.6915V59.8832H56.2128V60.8797C56.2128 60.9719 56.2364 61.0416 56.2837 61.0889C56.331 61.1362 56.3948 61.1599 56.4752 61.1599C56.5627 61.1599 56.6371 61.1445 56.6986 61.1138L56.7199 61.3904ZM60.1508 61.174C59.9806 61.3466 59.7631 61.4329 59.4983 61.4329C59.2335 61.4329 59.016 61.3466 58.8458 61.174C58.6756 60.9991 58.5905 60.7781 58.5905 60.5109C58.5905 60.2438 58.6756 60.0239 58.8458 59.8513C59.016 59.6764 59.2335 59.5889 59.4983 59.5889C59.7631 59.5889 59.9806 59.6764 60.1508 59.8513C60.3234 60.0239 60.4097 60.2438 60.4097 60.5109C60.4097 60.7781 60.3234 60.9991 60.1508 61.174ZM59.0657 60.9825C59.1768 61.1031 59.321 61.1634 59.4983 61.1634C59.6756 61.1634 59.8198 61.1031 59.9309 60.9825C60.042 60.8596 60.0976 60.7024 60.0976 60.5109C60.0976 60.3194 60.042 60.1634 59.9309 60.0428C59.8198 59.9199 59.6756 59.8584 59.4983 59.8584C59.321 59.8584 59.1768 59.9199 59.0657 60.0428C58.9545 60.1634 58.899 60.3194 58.899 60.5109C58.899 60.7024 58.9545 60.8596 59.0657 60.9825Z"
					fill="#110F06"></path>
				<path
					d="M38.2161 46.1902V44.254H38.7914C39.0717 44.254 39.3031 44.3398 39.4857 44.5113C39.6701 44.6828 39.7623 44.9197 39.7623 45.2221C39.7623 45.5245 39.6701 45.7615 39.4857 45.933C39.3031 46.1044 39.0717 46.1902 38.7914 46.1902H38.2161ZM38.4651 45.9634H38.7832C38.9878 45.9634 39.1584 45.9016 39.2948 45.7781C39.4331 45.6545 39.5023 45.4692 39.5023 45.2221C39.5023 45.0543 39.4673 44.9132 39.3972 44.7989C39.329 44.6828 39.2423 44.6007 39.1372 44.5528C39.0321 44.503 38.9141 44.4781 38.7832 44.4781H38.4651V45.9634ZM40.0772 46.1902V44.254H41.297V44.4781H40.3289V45.0479H41.1144V45.2747H40.3289V45.9634H41.3274V46.1902H40.0772ZM42.2606 46.2123C42.0743 46.2123 41.913 46.1579 41.7765 46.0491C41.6401 45.9385 41.5562 45.7947 41.5248 45.6176L41.7627 45.5402C41.7812 45.6748 41.8374 45.7836 41.9314 45.8666C42.0255 45.9477 42.137 45.9883 42.2661 45.9883C42.3989 45.9883 42.5049 45.9597 42.5842 45.9025C42.6635 45.8435 42.7031 45.7661 42.7031 45.6702C42.7031 45.5909 42.6755 45.5245 42.6202 45.471C42.5667 45.4157 42.4994 45.3761 42.4182 45.3521C42.3371 45.3263 42.2486 45.2977 42.1527 45.2664C42.0568 45.235 41.9683 45.2027 41.8872 45.1696C41.806 45.1364 41.7378 45.0829 41.6825 45.0091C41.629 44.9354 41.6023 44.845 41.6023 44.7381C41.6023 44.5887 41.6631 44.467 41.7848 44.373C41.9065 44.2789 42.0633 44.2319 42.2551 44.2319C42.4321 44.2319 42.5833 44.2762 42.7087 44.3647C42.8341 44.4513 42.9087 44.5666 42.9327 44.7104L42.7031 44.7989C42.6828 44.6938 42.6331 44.6108 42.5538 44.55C42.4763 44.4873 42.3768 44.4559 42.2551 44.4559C42.1315 44.4559 42.0338 44.4818 41.9619 44.5334C41.8918 44.5832 41.8568 44.6514 41.8568 44.7381C41.8568 44.7971 41.877 44.8469 41.9176 44.8874C41.9582 44.928 42.0107 44.9593 42.0753 44.9815C42.1416 45.0036 42.2136 45.0248 42.291 45.0451C42.3703 45.0654 42.4487 45.0893 42.5261 45.117C42.6054 45.1447 42.6773 45.1797 42.7419 45.2221C42.8082 45.2627 42.8617 45.3208 42.9023 45.3964C42.9428 45.472 42.9631 45.5623 42.9631 45.6674C42.9631 45.8315 42.8986 45.9634 42.7695 46.063C42.6423 46.1625 42.4726 46.2123 42.2606 46.2123ZM43.2672 46.1902V44.254H44.487V44.4781H43.5189V45.0479H44.3044V45.2747H43.5189V45.9634H44.5174V46.1902H43.2672ZM44.8366 46.1902V44.254H45.1159L46.0923 45.7947V44.254H46.3385V46.1902H46.0591L45.0827 44.6551V46.1902H44.8366ZM47.294 46.1902L46.5665 44.254H46.8237L47.4212 45.8998L48.0214 44.254H48.2786L47.5512 46.1902H47.294ZM49.3029 46.2123C49.0263 46.2123 48.7976 46.1192 48.6169 45.933C48.4381 45.7467 48.3486 45.5098 48.3486 45.2221C48.3486 44.9345 48.4381 44.6975 48.6169 44.5113C48.7976 44.325 49.0263 44.2319 49.3029 44.2319C49.5776 44.2319 49.8044 44.325 49.9833 44.5113C50.164 44.6975 50.2544 44.9345 50.2544 45.2221C50.2544 45.5098 50.164 45.7467 49.9833 45.933C49.8044 46.1192 49.5776 46.2123 49.3029 46.2123ZM49.3001 45.9855C49.5029 45.9855 49.6698 45.9136 49.8007 45.7698C49.9317 45.6259 49.9971 45.4434 49.9971 45.2221C49.9971 45.0008 49.9317 44.8183 49.8007 44.6745C49.6698 44.5288 49.5029 44.4559 49.3001 44.4559C49.0991 44.4559 48.9332 44.5288 48.8022 44.6745C48.6713 44.8183 48.6059 45.0008 48.6059 45.2221C48.6059 45.4434 48.6713 45.6259 48.8022 45.7698C48.9332 45.9136 49.0991 45.9855 49.3001 45.9855ZM50.571 46.1902V44.254H50.8227V45.9634H51.7825V46.1902H50.571ZM52.3531 46.1902L51.6257 44.254H51.8829L52.4804 45.8998L53.0806 44.254H53.3378L52.6104 46.1902H52.3531ZM53.5611 46.1902V44.254H54.7809V44.4781H53.8128V45.0479H54.5984V45.2747H53.8128V45.9634H54.8113V46.1902H53.5611ZM55.1305 46.1902V44.254H55.7058C55.9861 44.254 56.2175 44.3398 56.4 44.5113C56.5844 44.6828 56.6766 44.9197 56.6766 45.2221C56.6766 45.5245 56.5844 45.7615 56.4 45.933C56.2175 46.1044 55.9861 46.1902 55.7058 46.1902H55.1305ZM55.3794 45.9634H55.6975C55.9022 45.9634 56.0727 45.9016 56.2092 45.7781C56.3475 45.6545 56.4166 45.4692 56.4166 45.2221C56.4166 45.0543 56.3816 44.9132 56.3115 44.7989C56.2433 44.6828 56.1566 44.6007 56.0515 44.5528C55.9464 44.503 55.8284 44.4781 55.6975 44.4781H55.3794V45.9634ZM57.8573 46.2123C57.5807 46.2123 57.352 46.1192 57.1713 45.933C56.9925 45.7467 56.903 45.5098 56.903 45.2221C56.903 44.9345 56.9925 44.6975 57.1713 44.5113C57.352 44.325 57.5807 44.2319 57.8573 44.2319C58.132 44.2319 58.3588 44.325 58.5377 44.5113C58.7184 44.6975 58.8088 44.9345 58.8088 45.2221C58.8088 45.5098 58.7184 45.7467 58.5377 45.933C58.3588 46.1192 58.132 46.2123 57.8573 46.2123ZM57.8545 45.9855C58.0574 45.9855 58.2242 45.9136 58.3552 45.7698C58.4861 45.6259 58.5515 45.4434 58.5515 45.2221C58.5515 45.0008 58.4861 44.8183 58.3552 44.6745C58.2242 44.5288 58.0574 44.4559 57.8545 44.4559C57.6535 44.4559 57.4876 44.5288 57.3567 44.6745C57.2257 44.8183 57.1603 45.0008 57.1603 45.2221C57.1603 45.4434 57.2257 45.6259 57.3567 45.7698C57.4876 45.9136 57.6535 45.9855 57.8545 45.9855ZM60.6301 46.1902H60.3424L59.8058 45.3272H59.3771V46.1902H59.1254V44.254H59.8224C60.0068 44.254 60.1544 44.3029 60.265 44.4006C60.3756 44.4984 60.4309 44.6284 60.4309 44.7906C60.4309 44.9086 60.3987 45.0119 60.3341 45.1004C60.2714 45.1871 60.1839 45.2498 60.0714 45.2885L60.6301 46.1902ZM59.3771 44.4781V45.1004H59.7948C59.9146 45.1004 60.0078 45.0737 60.0741 45.0202C60.1405 44.9649 60.1737 44.8884 60.1737 44.7906C60.1737 44.6929 60.1405 44.6164 60.0741 44.561C60.0078 44.5057 59.9146 44.4781 59.7948 44.4781H59.3771ZM38.2161 49.1902V47.254H39.4553V47.4781H38.4678V48.07H39.2755V48.2968H38.4678V49.1902H38.2161ZM41.2712 49.1902H40.9836L40.447 48.3272H40.0183V49.1902H39.7666V47.254H40.4636C40.648 47.254 40.7955 47.3029 40.9061 47.4006C41.0168 47.4984 41.0721 47.6284 41.0721 47.7906C41.0721 47.9086 41.0398 48.0119 40.9753 48.1004C40.9126 48.1871 40.825 48.2498 40.7125 48.2885L41.2712 49.1902ZM40.0183 47.4781V48.1004H40.4359C40.5558 48.1004 40.6489 48.0737 40.7153 48.0202C40.7817 47.9649 40.8149 47.8884 40.8149 47.7906C40.8149 47.6929 40.7817 47.6164 40.7153 47.561C40.6489 47.5057 40.5558 47.4781 40.4359 47.4781H40.0183ZM42.2962 49.2123C42.0196 49.2123 41.7909 49.1192 41.6102 48.933C41.4314 48.7467 41.3419 48.5098 41.3419 48.2221C41.3419 47.9345 41.4314 47.6975 41.6102 47.5113C41.7909 47.325 42.0196 47.2319 42.2962 47.2319C42.5709 47.2319 42.7977 47.325 42.9766 47.5113C43.1573 47.6975 43.2477 47.9345 43.2477 48.2221C43.2477 48.5098 43.1573 48.7467 42.9766 48.933C42.7977 49.1192 42.5709 49.2123 42.2962 49.2123ZM42.2934 48.9855C42.4963 48.9855 42.6631 48.9136 42.7941 48.7698C42.925 48.6259 42.9904 48.4434 42.9904 48.2221C42.9904 48.0008 42.925 47.8183 42.7941 47.6745C42.6631 47.5288 42.4963 47.4559 42.2934 47.4559C42.0924 47.4559 41.9265 47.5288 41.7956 47.6745C41.6646 47.8183 41.5992 48.0008 41.5992 48.2221C41.5992 48.4434 41.6646 48.6259 41.7956 48.7698C41.9265 48.9136 42.0924 48.9855 42.2934 48.9855ZM43.5643 49.1902V47.254H43.8437L44.8201 48.7947V47.254H45.0662V49.1902H44.7869L43.8105 47.6551V49.1902H43.5643ZM45.936 49.1902V47.4781H45.3192V47.254H46.8017V47.4781H46.1877V49.1902H45.936ZM47.724 49.1902V47.254H48.9438V47.4781H47.9757V48.0479H48.7613V48.2747H47.9757V48.9634H48.9742V49.1902H47.724ZM49.2934 49.1902V47.254H49.5727L50.5491 48.7947V47.254H50.7953V49.1902H50.5159L49.5396 47.6551V49.1902H49.2934ZM51.2004 49.1902V47.254H51.7757C52.056 47.254 52.2874 47.3398 52.4699 47.5113C52.6543 47.6828 52.7465 47.9197 52.7465 48.2221C52.7465 48.5245 52.6543 48.7615 52.4699 48.933C52.2874 49.1044 52.056 49.1902 51.7757 49.1902H51.2004ZM51.4493 48.9634H51.7674C51.9721 48.9634 52.1426 48.9016 52.2791 48.7781C52.4174 48.6545 52.4865 48.4692 52.4865 48.2221C52.4865 48.0543 52.4515 47.9132 52.3814 47.7989C52.3132 47.6828 52.2265 47.6007 52.1214 47.5528C52.0163 47.503 51.8983 47.4781 51.7674 47.4781H51.4493V48.9634Z"
					fill="#7B7B7B"></path>
				<path
					d="M44.4511 102.098L36.0636 110.485"
					stroke="#110F06"
					stroke-width="0.585177"
					stroke-linecap="square"></path>
				<path
					d="M38.2093 101.708H44.8413V107.95"
					stroke="#110F06"
					stroke-width="0.585177"
					stroke-linecap="square"></path>
				<defs>
					<linearGradient
						id="paint0_linear_138_443"
						x1="102.189"
						y1="60.0793"
						x2="102.189"
						y2="136.152"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="white" stop-opacity="0"></stop>
						<stop offset="0.546665" stop-color="white"></stop>
					</linearGradient>
					<clipPath id="clip0_138_443">
						<rect
							width="100.584"
							height="100.584"
							fill="white"
							transform="translate(154.9 8.2854) rotate(94.3437)"></rect>
					</clipPath>
				</defs>
			</svg>
		</a>
	</div>
</section>
