---

---

<section id="education" class="px-[17px] text-center">
	<h1
		class="title text-center font-italiana text-[#110F06] max-[340px]:text-[18px] md:text-[1.6rem]"
	>
		Educação
		<span class="font-dmserif text-[1.25rem] md:text-[1.35rem]">&</span>
		Experiência
	</h1>

	<div
		class="mt-[30px] flex flex-col items-center gap-[45px] md:mx-auto md:mt-[80px] md:max-w-[1300px] md:flex-row md:items-start md:justify-between"
	>
		<div class="items mt-[10px] flex flex-col justify-center">
			<p
				class="font-matter text-sm tracking-[0.25em] md:text-left md:text-[.6rem]"
			>
				EDUCAÇÃO
			</p>
			<div
				class="flex flex-col items-center justify-center gap-[6px] md:mt-[12px] md:items-baseline md:gap-[3px]"
			>
				<p
					class="mt-[25px] font-dmserif text-[1.1rem] text-[#110F06] md:text-start"
				>
					Técnico em Desenvolvimento de Sistemas | 2020-2023
				</p>
				<p
					class="font-matter text-[0.9rem] text-[#110F06] md:items-baseline md:text-[.8rem]"
				>
					Escola Técnica Estadual (ETEC)
				</p>
			</div>
			<div
				class="mt-[23px] flex flex-col items-center justify-center gap-[6px] md:mt-[29px] md:items-baseline md:gap-[3px] md:text-start"
			>
				<p class="font-dmserif text-[1.1rem] text-[#110F06]">
					Bacharelado em Engenharia de Software | 2024-2027
				</p>
				<p class="font-matter text-[0.9rem] text-[#110F06] md:text-[.8rem]">
					UniCesumar
				</p>
			</div>
		</div>
		<div class="items mt-[10px] flex flex-col justify-center">
			<p
				class="font-matter text-sm tracking-[0.25em] md:text-left md:text-[.6rem]"
			>
				EXPERIÊNCIA
			</p>
			<div
				class="mt-[25px] flex flex-col items-center justify-center gap-[6px] md:mt-[22px] md:items-baseline"
			>
				<p class="font-dmserif text-[1.1rem] text-[#110F06] md:text-left">
					Agência Labi
				</p>
				<div>
					<p
						class="max-w-[340px] font-matter text-[0.8rem] text-[#110F06] md:max-w-[500px] md:text-left md:text-[.8rem]"
					>
						Atuei na Agencia Labi como desenvolvedor front-end, onde tive a
						responsabilidade de criar emails marketing em grande escala,
						desenvolver landing pages e sites institucionais.
					</p>

					<p
						class="mt-[6px] max-w-[340px] font-matter text-[0.8rem] italic text-[#110F06] md:max-w-[500px] md:text-start md:text-[.7rem]"
					>
						Março 2024 - Setembro 2024
					</p>
				</div>
			</div>
			<div
				class="mt-[23px] flex flex-col items-center justify-center gap-[6px] md:mt-[29px] md:items-baseline"
			>
				<p class="font-dmserif text-[1.1rem] text-[#110F06] md:text-left">
					Freelancer
				</p>
				<div>
					<p
						class="max-w-[340px] font-matter text-[0.8rem] text-[#110F06] md:max-w-[500px] md:text-left md:text-[.8rem]"
					>
						Atuei como freelancer, desenvolvendo sites institucionais,
						landingPages e pequenos sistemas.
					</p>
					<p
						class="mt-[6px] max-w-[340px] font-matter text-[0.8rem] italic text-[#110F06] md:max-w-[500px] md:text-start md:text-[.7rem]"
					>
						Julho 2022 - Fevereiro 2024
					</p>
				</div>
			</div>
		</div>
	</div>
	<a
		href="https://drive.google.com/file/d/1-Rk75upzxEuryitAX371_F1Y8_QKslHi/view?usp=sharing"
		target="_blank"
		class="itemsDown mx-auto mt-[40px] flex w-fit items-center gap-[6px] rounded-[5px] border-[1px] border-[#ffffff] bg-[#2F2A16] px-[21px] py-[13px] text-[.9rem] uppercase tracking-[0.20em] text-white transition-all hover:scale-110 hover:transition-[.2s] md:mt-[80px] md:shadow-sm"
	>
		Currículo
	</a>
</section>
