---
import edashboard from "@assets/eDashboardThumb.webp";
import onfire from "@assets/onFireThumb.webp";
import urbano from "@assets/urbanoThumb.webp";
import pousadaraven from "@assets/pousadaRavenThumb.webp";
---

<section id="projects" class="px-[17px]">
	<h1
		class="title text-center font-italiana text-[1.40rem] text-[#110F06] max-[340px]:text-[18px] md:text-[1.6rem]"
	>
		Projetos
	</h1>

	<div
		class="mt-[40px] flex flex-col gap-[45px] md:mx-auto md:mt-[80px] md:w-[520px] md:flex-row md:flex-wrap md:gap-[30px]"
	>
		<div
			class="shadow-mg items group relative mx-auto w-full max-w-[240px] cursor-pointer rounded-[12px]"
		>
			<img
				src={onfire.src}
				alt="Linkercut Thumb"
				class="h-full w-full rounded-[12px]"
			/>

			<a
				href="https://onfirecursos.com.br/"
				target="_blank"
				class="absolute bottom-0 left-0 right-0 top-0 z-[-1] m-auto flex h-fit w-full max-w-[240px] flex-col items-center justify-center gap-[15px] rounded-[12px] bg-[#171817] px-[16px] text-center transition-all duration-500 group-last-of-type:animate-slide-down group-hover:z-10 group-hover:animate-slide-up"
			>
				<p class="text-[0.75rem] text-[#ffffff]">
					A onfire é uma empresa que oferece cursos e treinamentos para
					brigadistas e socorristas
				</p>

				<svg
					width="60"
					height="25"
					viewBox="0 0 44 15"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M7.7434 9.9939L5.68282 4.50945H6.41147L8.10381 9.17123L9.80399 4.50945H10.5326L8.47205 9.9939H7.7434ZM11.698 5.30078C11.5674 5.30078 11.4577 5.25638 11.3689 5.16759C11.2802 5.07879 11.2358 4.9691 11.2358 4.83852C11.2358 4.70271 11.2802 4.59041 11.3689 4.50162C11.4577 4.41282 11.5674 4.36842 11.698 4.36842C11.8338 4.36842 11.9461 4.41282 12.0349 4.50162C12.1289 4.59041 12.1759 4.70271 12.1759 4.83852C12.1759 4.9691 12.1289 5.07879 12.0349 5.16759C11.9461 5.25638 11.8338 5.30078 11.698 5.30078ZM11.3689 9.9939V6.0451H12.0349V9.9939H11.3689ZM14.6726 10.0566C14.2338 10.0566 13.8734 9.94428 13.5914 9.71967C13.3145 9.49507 13.1265 9.22346 13.0273 8.90484L13.5992 8.65413C13.7768 9.21302 14.1346 9.49246 14.6726 9.49246C14.9076 9.49246 15.0983 9.43501 15.2445 9.32009C15.396 9.19996 15.4718 9.05632 15.4718 8.88917C15.4718 8.70636 15.3934 8.56272 15.2367 8.45825C15.08 8.35379 14.8894 8.27544 14.6648 8.2232C14.4454 8.17097 14.2234 8.11352 13.9988 8.05084C13.7794 7.98293 13.5914 7.86541 13.4347 7.69827C13.278 7.53112 13.1996 7.30913 13.1996 7.0323C13.1996 6.7189 13.325 6.46557 13.5757 6.27231C13.8264 6.07905 14.1633 5.98242 14.5864 5.98242C14.9364 5.98242 15.2472 6.07383 15.5188 6.25664C15.7904 6.43423 15.968 6.66667 16.0515 6.95395L15.4953 7.19683C15.443 6.99835 15.3281 6.83904 15.1505 6.7189C14.9782 6.59354 14.7849 6.53086 14.5707 6.53086C14.3461 6.53086 14.1685 6.57526 14.038 6.66406C13.9074 6.74763 13.8421 6.86776 13.8421 7.02446C13.8421 7.15504 13.8969 7.26212 14.0066 7.34569C14.1215 7.42927 14.2626 7.48933 14.4297 7.5259C14.6021 7.55724 14.7875 7.60425 14.986 7.66693C15.1845 7.72438 15.3673 7.78967 15.5344 7.8628C15.7016 7.93592 15.84 8.06128 15.9497 8.23887C16.0646 8.41124 16.1221 8.6254 16.1221 8.88134C16.1221 9.22607 15.9889 9.50813 15.7225 9.72751C15.4561 9.94689 15.1061 10.0566 14.6726 10.0566ZM17.5317 5.30078C17.4011 5.30078 17.2914 5.25638 17.2026 5.16759C17.1138 5.07879 17.0694 4.9691 17.0694 4.83852C17.0694 4.70271 17.1138 4.59041 17.2026 4.50162C17.2914 4.41282 17.4011 4.36842 17.5317 4.36842C17.6675 4.36842 17.7798 4.41282 17.8686 4.50162C17.9626 4.59041 18.0096 4.70271 18.0096 4.83852C18.0096 4.9691 17.9626 5.07879 17.8686 5.16759C17.7798 5.25638 17.6675 5.30078 17.5317 5.30078ZM17.2026 9.9939V6.0451H17.8686V9.9939H17.2026ZM21.2819 9.96256C21.1095 10.0252 20.9032 10.0566 20.6629 10.0566C20.3078 10.0566 20.0231 9.95472 19.8089 9.75101C19.6 9.54208 19.4955 9.22869 19.4955 8.81082V6.63272H18.7591V6.0451H19.4955V4.84635H20.1615V6.0451H21.2192V6.63272H20.1615V8.83433C20.1615 9.03804 20.2137 9.19212 20.3182 9.29659C20.4227 9.40105 20.5637 9.45329 20.7413 9.45329C20.9345 9.45329 21.0991 9.41934 21.2349 9.35143L21.2819 9.96256ZM23.6982 5.98242C24.1839 5.98242 24.5757 6.11561 24.8734 6.382C25.1711 6.64839 25.32 7.00879 25.32 7.46322V9.9939H24.6619V9.32009C24.547 9.54469 24.3694 9.7249 24.1291 9.8607C23.894 9.99128 23.6329 10.0566 23.3456 10.0566C22.9539 10.0566 22.6326 9.9495 22.3819 9.73534C22.1364 9.51597 22.0137 9.23391 22.0137 8.88917C22.0137 8.14747 22.6405 7.71393 23.894 7.58858L24.6619 7.50239V7.42404C24.6619 7.15243 24.5731 6.93828 24.3955 6.78158C24.2231 6.61966 23.9907 6.5387 23.6982 6.5387C23.4266 6.5387 23.202 6.61443 23.0244 6.76591C22.8468 6.91738 22.7449 7.12632 22.7188 7.3927L22.0999 7.27518C22.1573 6.88343 22.3323 6.57004 22.6248 6.33499C22.9225 6.09994 23.2803 5.98242 23.6982 5.98242ZM23.4475 9.50813C23.8288 9.50813 24.1265 9.39061 24.3406 9.15556C24.5548 8.92051 24.6619 8.6045 24.6619 8.20753V8.0195L23.894 8.10568C23.0844 8.19448 22.6796 8.45303 22.6796 8.88134C22.6796 9.06415 22.7501 9.21563 22.8912 9.33576C23.0374 9.45068 23.2229 9.50813 23.4475 9.50813ZM28.9492 6.6954C28.8029 6.63272 28.6332 6.60138 28.4399 6.60138C28.1056 6.60138 27.8314 6.7633 27.6172 7.08714C27.4083 7.40576 27.3038 7.87325 27.3038 8.48959V9.9939H26.6379V6.0451H27.3038V6.84426C27.4187 6.59354 27.5911 6.38722 27.8209 6.2253C28.0508 6.06338 28.2884 5.98242 28.5339 5.98242C28.7011 5.98242 28.8525 6.00592 28.9883 6.05293L28.9492 6.6954Z"
						fill="white"></path>
					<path
						d="M35.7463 6.0072L37.916 7.81526L35.7463 9.62332"
						stroke="white"
						stroke-width="0.602686"
						stroke-linecap="round"></path>
					<rect
						x="0.489637"
						y="0.884229"
						width="42.7907"
						height="13.2591"
						rx="6.62955"
						stroke="white"
						stroke-width="0.602686"></rect>
				</svg>
			</a>
		</div>
		<div
			class="shadow-mg items group relative mx-auto w-full max-w-[240px] cursor-pointer rounded-[12px]"
		>
			<img
				src={urbano.src}
				alt="Linkercut Thumb"
				class="h-full w-full rounded-[12px]"
			/>

			<a
				href="https://joaomanuelmarques.com.br/Urbano"
				target="_blank"
				class="absolute bottom-0 left-0 right-0 top-0 z-[-1] m-auto flex w-full max-w-[240px] flex-col items-center justify-center gap-[15px] rounded-[14px] bg-[#f61f4b] px-[16px] text-center transition-all duration-500 group-last-of-type:animate-slide-down group-hover:z-10 group-hover:animate-slide-up"
			>
				<p class="text-[0.75rem] text-[#ffffff]">
					Urbano é uma plataforma para alugel de chalés e casas de campo
				</p>

				<svg
					width="60"
					height="25"
					viewBox="0 0 44 15"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M7.7434 9.9939L5.68282 4.50945H6.41147L8.10381 9.17123L9.80399 4.50945H10.5326L8.47205 9.9939H7.7434ZM11.698 5.30078C11.5674 5.30078 11.4577 5.25638 11.3689 5.16759C11.2802 5.07879 11.2358 4.9691 11.2358 4.83852C11.2358 4.70271 11.2802 4.59041 11.3689 4.50162C11.4577 4.41282 11.5674 4.36842 11.698 4.36842C11.8338 4.36842 11.9461 4.41282 12.0349 4.50162C12.1289 4.59041 12.1759 4.70271 12.1759 4.83852C12.1759 4.9691 12.1289 5.07879 12.0349 5.16759C11.9461 5.25638 11.8338 5.30078 11.698 5.30078ZM11.3689 9.9939V6.0451H12.0349V9.9939H11.3689ZM14.6726 10.0566C14.2338 10.0566 13.8734 9.94428 13.5914 9.71967C13.3145 9.49507 13.1265 9.22346 13.0273 8.90484L13.5992 8.65413C13.7768 9.21302 14.1346 9.49246 14.6726 9.49246C14.9076 9.49246 15.0983 9.43501 15.2445 9.32009C15.396 9.19996 15.4718 9.05632 15.4718 8.88917C15.4718 8.70636 15.3934 8.56272 15.2367 8.45825C15.08 8.35379 14.8894 8.27544 14.6648 8.2232C14.4454 8.17097 14.2234 8.11352 13.9988 8.05084C13.7794 7.98293 13.5914 7.86541 13.4347 7.69827C13.278 7.53112 13.1996 7.30913 13.1996 7.0323C13.1996 6.7189 13.325 6.46557 13.5757 6.27231C13.8264 6.07905 14.1633 5.98242 14.5864 5.98242C14.9364 5.98242 15.2472 6.07383 15.5188 6.25664C15.7904 6.43423 15.968 6.66667 16.0515 6.95395L15.4953 7.19683C15.443 6.99835 15.3281 6.83904 15.1505 6.7189C14.9782 6.59354 14.7849 6.53086 14.5707 6.53086C14.3461 6.53086 14.1685 6.57526 14.038 6.66406C13.9074 6.74763 13.8421 6.86776 13.8421 7.02446C13.8421 7.15504 13.8969 7.26212 14.0066 7.34569C14.1215 7.42927 14.2626 7.48933 14.4297 7.5259C14.6021 7.55724 14.7875 7.60425 14.986 7.66693C15.1845 7.72438 15.3673 7.78967 15.5344 7.8628C15.7016 7.93592 15.84 8.06128 15.9497 8.23887C16.0646 8.41124 16.1221 8.6254 16.1221 8.88134C16.1221 9.22607 15.9889 9.50813 15.7225 9.72751C15.4561 9.94689 15.1061 10.0566 14.6726 10.0566ZM17.5317 5.30078C17.4011 5.30078 17.2914 5.25638 17.2026 5.16759C17.1138 5.07879 17.0694 4.9691 17.0694 4.83852C17.0694 4.70271 17.1138 4.59041 17.2026 4.50162C17.2914 4.41282 17.4011 4.36842 17.5317 4.36842C17.6675 4.36842 17.7798 4.41282 17.8686 4.50162C17.9626 4.59041 18.0096 4.70271 18.0096 4.83852C18.0096 4.9691 17.9626 5.07879 17.8686 5.16759C17.7798 5.25638 17.6675 5.30078 17.5317 5.30078ZM17.2026 9.9939V6.0451H17.8686V9.9939H17.2026ZM21.2819 9.96256C21.1095 10.0252 20.9032 10.0566 20.6629 10.0566C20.3078 10.0566 20.0231 9.95472 19.8089 9.75101C19.6 9.54208 19.4955 9.22869 19.4955 8.81082V6.63272H18.7591V6.0451H19.4955V4.84635H20.1615V6.0451H21.2192V6.63272H20.1615V8.83433C20.1615 9.03804 20.2137 9.19212 20.3182 9.29659C20.4227 9.40105 20.5637 9.45329 20.7413 9.45329C20.9345 9.45329 21.0991 9.41934 21.2349 9.35143L21.2819 9.96256ZM23.6982 5.98242C24.1839 5.98242 24.5757 6.11561 24.8734 6.382C25.1711 6.64839 25.32 7.00879 25.32 7.46322V9.9939H24.6619V9.32009C24.547 9.54469 24.3694 9.7249 24.1291 9.8607C23.894 9.99128 23.6329 10.0566 23.3456 10.0566C22.9539 10.0566 22.6326 9.9495 22.3819 9.73534C22.1364 9.51597 22.0137 9.23391 22.0137 8.88917C22.0137 8.14747 22.6405 7.71393 23.894 7.58858L24.6619 7.50239V7.42404C24.6619 7.15243 24.5731 6.93828 24.3955 6.78158C24.2231 6.61966 23.9907 6.5387 23.6982 6.5387C23.4266 6.5387 23.202 6.61443 23.0244 6.76591C22.8468 6.91738 22.7449 7.12632 22.7188 7.3927L22.0999 7.27518C22.1573 6.88343 22.3323 6.57004 22.6248 6.33499C22.9225 6.09994 23.2803 5.98242 23.6982 5.98242ZM23.4475 9.50813C23.8288 9.50813 24.1265 9.39061 24.3406 9.15556C24.5548 8.92051 24.6619 8.6045 24.6619 8.20753V8.0195L23.894 8.10568C23.0844 8.19448 22.6796 8.45303 22.6796 8.88134C22.6796 9.06415 22.7501 9.21563 22.8912 9.33576C23.0374 9.45068 23.2229 9.50813 23.4475 9.50813ZM28.9492 6.6954C28.8029 6.63272 28.6332 6.60138 28.4399 6.60138C28.1056 6.60138 27.8314 6.7633 27.6172 7.08714C27.4083 7.40576 27.3038 7.87325 27.3038 8.48959V9.9939H26.6379V6.0451H27.3038V6.84426C27.4187 6.59354 27.5911 6.38722 27.8209 6.2253C28.0508 6.06338 28.2884 5.98242 28.5339 5.98242C28.7011 5.98242 28.8525 6.00592 28.9883 6.05293L28.9492 6.6954Z"
						fill="white"></path>
					<path
						d="M35.7463 6.0072L37.916 7.81526L35.7463 9.62332"
						stroke="white"
						stroke-width="0.602686"
						stroke-linecap="round"></path>
					<rect
						x="0.489637"
						y="0.884229"
						width="42.7907"
						height="13.2591"
						rx="6.62955"
						stroke="white"
						stroke-width="0.602686"></rect>
				</svg>
			</a>
		</div>

		<a
			href="https://joaomanuelmarques.com.br/pousadaraven"
			target="_blank"
			class="shadow-mg items group relative mx-auto w-full max-w-[240px] cursor-pointer rounded-[12px]"
		>
			<img
				src={pousadaraven.src}
				alt="Linkercut Thumb"
				class="h-full w-full rounded-[12px]"
			/>

			<div
				class="absolute bottom-0 left-0 right-0 top-0 z-[-1] m-auto flex w-full max-w-[240px] flex-col items-center justify-center gap-[15px] rounded-[15px] bg-[#283618] px-[16px] text-center transition-all duration-500 group-last-of-type:animate-slide-down group-hover:z-10 group-hover:animate-slide-up"
			>
				<p class="text-[0.75rem] text-[#ffffff]">
					Uma comodidade localizada em Florianópolis oferecendo uma experiência
					única com uma paisagem incrível
				</p>

				<svg
					width="60"
					height="25"
					viewBox="0 0 44 15"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M7.7434 9.9939L5.68282 4.50945H6.41147L8.10381 9.17123L9.80399 4.50945H10.5326L8.47205 9.9939H7.7434ZM11.698 5.30078C11.5674 5.30078 11.4577 5.25638 11.3689 5.16759C11.2802 5.07879 11.2358 4.9691 11.2358 4.83852C11.2358 4.70271 11.2802 4.59041 11.3689 4.50162C11.4577 4.41282 11.5674 4.36842 11.698 4.36842C11.8338 4.36842 11.9461 4.41282 12.0349 4.50162C12.1289 4.59041 12.1759 4.70271 12.1759 4.83852C12.1759 4.9691 12.1289 5.07879 12.0349 5.16759C11.9461 5.25638 11.8338 5.30078 11.698 5.30078ZM11.3689 9.9939V6.0451H12.0349V9.9939H11.3689ZM14.6726 10.0566C14.2338 10.0566 13.8734 9.94428 13.5914 9.71967C13.3145 9.49507 13.1265 9.22346 13.0273 8.90484L13.5992 8.65413C13.7768 9.21302 14.1346 9.49246 14.6726 9.49246C14.9076 9.49246 15.0983 9.43501 15.2445 9.32009C15.396 9.19996 15.4718 9.05632 15.4718 8.88917C15.4718 8.70636 15.3934 8.56272 15.2367 8.45825C15.08 8.35379 14.8894 8.27544 14.6648 8.2232C14.4454 8.17097 14.2234 8.11352 13.9988 8.05084C13.7794 7.98293 13.5914 7.86541 13.4347 7.69827C13.278 7.53112 13.1996 7.30913 13.1996 7.0323C13.1996 6.7189 13.325 6.46557 13.5757 6.27231C13.8264 6.07905 14.1633 5.98242 14.5864 5.98242C14.9364 5.98242 15.2472 6.07383 15.5188 6.25664C15.7904 6.43423 15.968 6.66667 16.0515 6.95395L15.4953 7.19683C15.443 6.99835 15.3281 6.83904 15.1505 6.7189C14.9782 6.59354 14.7849 6.53086 14.5707 6.53086C14.3461 6.53086 14.1685 6.57526 14.038 6.66406C13.9074 6.74763 13.8421 6.86776 13.8421 7.02446C13.8421 7.15504 13.8969 7.26212 14.0066 7.34569C14.1215 7.42927 14.2626 7.48933 14.4297 7.5259C14.6021 7.55724 14.7875 7.60425 14.986 7.66693C15.1845 7.72438 15.3673 7.78967 15.5344 7.8628C15.7016 7.93592 15.84 8.06128 15.9497 8.23887C16.0646 8.41124 16.1221 8.6254 16.1221 8.88134C16.1221 9.22607 15.9889 9.50813 15.7225 9.72751C15.4561 9.94689 15.1061 10.0566 14.6726 10.0566ZM17.5317 5.30078C17.4011 5.30078 17.2914 5.25638 17.2026 5.16759C17.1138 5.07879 17.0694 4.9691 17.0694 4.83852C17.0694 4.70271 17.1138 4.59041 17.2026 4.50162C17.2914 4.41282 17.4011 4.36842 17.5317 4.36842C17.6675 4.36842 17.7798 4.41282 17.8686 4.50162C17.9626 4.59041 18.0096 4.70271 18.0096 4.83852C18.0096 4.9691 17.9626 5.07879 17.8686 5.16759C17.7798 5.25638 17.6675 5.30078 17.5317 5.30078ZM17.2026 9.9939V6.0451H17.8686V9.9939H17.2026ZM21.2819 9.96256C21.1095 10.0252 20.9032 10.0566 20.6629 10.0566C20.3078 10.0566 20.0231 9.95472 19.8089 9.75101C19.6 9.54208 19.4955 9.22869 19.4955 8.81082V6.63272H18.7591V6.0451H19.4955V4.84635H20.1615V6.0451H21.2192V6.63272H20.1615V8.83433C20.1615 9.03804 20.2137 9.19212 20.3182 9.29659C20.4227 9.40105 20.5637 9.45329 20.7413 9.45329C20.9345 9.45329 21.0991 9.41934 21.2349 9.35143L21.2819 9.96256ZM23.6982 5.98242C24.1839 5.98242 24.5757 6.11561 24.8734 6.382C25.1711 6.64839 25.32 7.00879 25.32 7.46322V9.9939H24.6619V9.32009C24.547 9.54469 24.3694 9.7249 24.1291 9.8607C23.894 9.99128 23.6329 10.0566 23.3456 10.0566C22.9539 10.0566 22.6326 9.9495 22.3819 9.73534C22.1364 9.51597 22.0137 9.23391 22.0137 8.88917C22.0137 8.14747 22.6405 7.71393 23.894 7.58858L24.6619 7.50239V7.42404C24.6619 7.15243 24.5731 6.93828 24.3955 6.78158C24.2231 6.61966 23.9907 6.5387 23.6982 6.5387C23.4266 6.5387 23.202 6.61443 23.0244 6.76591C22.8468 6.91738 22.7449 7.12632 22.7188 7.3927L22.0999 7.27518C22.1573 6.88343 22.3323 6.57004 22.6248 6.33499C22.9225 6.09994 23.2803 5.98242 23.6982 5.98242ZM23.4475 9.50813C23.8288 9.50813 24.1265 9.39061 24.3406 9.15556C24.5548 8.92051 24.6619 8.6045 24.6619 8.20753V8.0195L23.894 8.10568C23.0844 8.19448 22.6796 8.45303 22.6796 8.88134C22.6796 9.06415 22.7501 9.21563 22.8912 9.33576C23.0374 9.45068 23.2229 9.50813 23.4475 9.50813ZM28.9492 6.6954C28.8029 6.63272 28.6332 6.60138 28.4399 6.60138C28.1056 6.60138 27.8314 6.7633 27.6172 7.08714C27.4083 7.40576 27.3038 7.87325 27.3038 8.48959V9.9939H26.6379V6.0451H27.3038V6.84426C27.4187 6.59354 27.5911 6.38722 27.8209 6.2253C28.0508 6.06338 28.2884 5.98242 28.5339 5.98242C28.7011 5.98242 28.8525 6.00592 28.9883 6.05293L28.9492 6.6954Z"
						fill="white"></path>
					<path
						d="M35.7463 6.0072L37.916 7.81526L35.7463 9.62332"
						stroke="white"
						stroke-width="0.602686"
						stroke-linecap="round"></path>
					<rect
						x="0.489637"
						y="0.884229"
						width="42.7907"
						height="13.2591"
						rx="6.62955"
						stroke="white"
						stroke-width="0.602686"></rect>
				</svg>
			</div>
		</a>
		<a
			href="https://joaomanuelmarques.com.br/edashboard"
			target="_blank"
			class="shadow-mg items group relative mx-auto w-full max-w-[240px] cursor-pointer rounded-[12px]"
		>
			<img
				src={edashboard.src}
				alt="Linkercut Thumb"
				class="h-full w-full rounded-[12px]"
			/>

			<div
				class="absolute bottom-0 left-0 right-0 top-0 z-[-1] m-auto flex h-fit w-full max-w-[240px] flex-col items-center justify-center gap-[15px] rounded-[12px] bg-[#8884d8] px-[16px] text-center transition-all duration-500 group-last-of-type:animate-slide-down group-hover:z-10 group-hover:animate-slide-up"
			>
				<p class="text-[0.75rem] text-[#ffffff]">
					E-dashboard é uma plataforma de gerenciamento de vendas e estoque

				</p>

				
					<svg
						width="60"
						height="25"
						viewBox="0 0 44 15"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M7.7434 9.9939L5.68282 4.50945H6.41147L8.10381 9.17123L9.80399 4.50945H10.5326L8.47205 9.9939H7.7434ZM11.698 5.30078C11.5674 5.30078 11.4577 5.25638 11.3689 5.16759C11.2802 5.07879 11.2358 4.9691 11.2358 4.83852C11.2358 4.70271 11.2802 4.59041 11.3689 4.50162C11.4577 4.41282 11.5674 4.36842 11.698 4.36842C11.8338 4.36842 11.9461 4.41282 12.0349 4.50162C12.1289 4.59041 12.1759 4.70271 12.1759 4.83852C12.1759 4.9691 12.1289 5.07879 12.0349 5.16759C11.9461 5.25638 11.8338 5.30078 11.698 5.30078ZM11.3689 9.9939V6.0451H12.0349V9.9939H11.3689ZM14.6726 10.0566C14.2338 10.0566 13.8734 9.94428 13.5914 9.71967C13.3145 9.49507 13.1265 9.22346 13.0273 8.90484L13.5992 8.65413C13.7768 9.21302 14.1346 9.49246 14.6726 9.49246C14.9076 9.49246 15.0983 9.43501 15.2445 9.32009C15.396 9.19996 15.4718 9.05632 15.4718 8.88917C15.4718 8.70636 15.3934 8.56272 15.2367 8.45825C15.08 8.35379 14.8894 8.27544 14.6648 8.2232C14.4454 8.17097 14.2234 8.11352 13.9988 8.05084C13.7794 7.98293 13.5914 7.86541 13.4347 7.69827C13.278 7.53112 13.1996 7.30913 13.1996 7.0323C13.1996 6.7189 13.325 6.46557 13.5757 6.27231C13.8264 6.07905 14.1633 5.98242 14.5864 5.98242C14.9364 5.98242 15.2472 6.07383 15.5188 6.25664C15.7904 6.43423 15.968 6.66667 16.0515 6.95395L15.4953 7.19683C15.443 6.99835 15.3281 6.83904 15.1505 6.7189C14.9782 6.59354 14.7849 6.53086 14.5707 6.53086C14.3461 6.53086 14.1685 6.57526 14.038 6.66406C13.9074 6.74763 13.8421 6.86776 13.8421 7.02446C13.8421 7.15504 13.8969 7.26212 14.0066 7.34569C14.1215 7.42927 14.2626 7.48933 14.4297 7.5259C14.6021 7.55724 14.7875 7.60425 14.986 7.66693C15.1845 7.72438 15.3673 7.78967 15.5344 7.8628C15.7016 7.93592 15.84 8.06128 15.9497 8.23887C16.0646 8.41124 16.1221 8.6254 16.1221 8.88134C16.1221 9.22607 15.9889 9.50813 15.7225 9.72751C15.4561 9.94689 15.1061 10.0566 14.6726 10.0566ZM17.5317 5.30078C17.4011 5.30078 17.2914 5.25638 17.2026 5.16759C17.1138 5.07879 17.0694 4.9691 17.0694 4.83852C17.0694 4.70271 17.1138 4.59041 17.2026 4.50162C17.2914 4.41282 17.4011 4.36842 17.5317 4.36842C17.6675 4.36842 17.7798 4.41282 17.8686 4.50162C17.9626 4.59041 18.0096 4.70271 18.0096 4.83852C18.0096 4.9691 17.9626 5.07879 17.8686 5.16759C17.7798 5.25638 17.6675 5.30078 17.5317 5.30078ZM17.2026 9.9939V6.0451H17.8686V9.9939H17.2026ZM21.2819 9.96256C21.1095 10.0252 20.9032 10.0566 20.6629 10.0566C20.3078 10.0566 20.0231 9.95472 19.8089 9.75101C19.6 9.54208 19.4955 9.22869 19.4955 8.81082V6.63272H18.7591V6.0451H19.4955V4.84635H20.1615V6.0451H21.2192V6.63272H20.1615V8.83433C20.1615 9.03804 20.2137 9.19212 20.3182 9.29659C20.4227 9.40105 20.5637 9.45329 20.7413 9.45329C20.9345 9.45329 21.0991 9.41934 21.2349 9.35143L21.2819 9.96256ZM23.6982 5.98242C24.1839 5.98242 24.5757 6.11561 24.8734 6.382C25.1711 6.64839 25.32 7.00879 25.32 7.46322V9.9939H24.6619V9.32009C24.547 9.54469 24.3694 9.7249 24.1291 9.8607C23.894 9.99128 23.6329 10.0566 23.3456 10.0566C22.9539 10.0566 22.6326 9.9495 22.3819 9.73534C22.1364 9.51597 22.0137 9.23391 22.0137 8.88917C22.0137 8.14747 22.6405 7.71393 23.894 7.58858L24.6619 7.50239V7.42404C24.6619 7.15243 24.5731 6.93828 24.3955 6.78158C24.2231 6.61966 23.9907 6.5387 23.6982 6.5387C23.4266 6.5387 23.202 6.61443 23.0244 6.76591C22.8468 6.91738 22.7449 7.12632 22.7188 7.3927L22.0999 7.27518C22.1573 6.88343 22.3323 6.57004 22.6248 6.33499C22.9225 6.09994 23.2803 5.98242 23.6982 5.98242ZM23.4475 9.50813C23.8288 9.50813 24.1265 9.39061 24.3406 9.15556C24.5548 8.92051 24.6619 8.6045 24.6619 8.20753V8.0195L23.894 8.10568C23.0844 8.19448 22.6796 8.45303 22.6796 8.88134C22.6796 9.06415 22.7501 9.21563 22.8912 9.33576C23.0374 9.45068 23.2229 9.50813 23.4475 9.50813ZM28.9492 6.6954C28.8029 6.63272 28.6332 6.60138 28.4399 6.60138C28.1056 6.60138 27.8314 6.7633 27.6172 7.08714C27.4083 7.40576 27.3038 7.87325 27.3038 8.48959V9.9939H26.6379V6.0451H27.3038V6.84426C27.4187 6.59354 27.5911 6.38722 27.8209 6.2253C28.0508 6.06338 28.2884 5.98242 28.5339 5.98242C28.7011 5.98242 28.8525 6.00592 28.9883 6.05293L28.9492 6.6954Z"
							fill="white"></path>
						<path
							d="M35.7463 6.0072L37.916 7.81526L35.7463 9.62332"
							stroke="white"
							stroke-width="0.602686"
							stroke-linecap="round"></path>
						<rect
							x="0.489637"
							y="0.884229"
							width="42.7907"
							height="13.2591"
							rx="6.62955"
							stroke="white"
							stroke-width="0.602686"></rect>
					</svg>
				
			</div>
		</a>
	</div>

	<a
		href="https://github.com/Joao-Manuel-S-M"
		target="_blank"
		class="itemsDown mx-auto mt-[40px] flex w-fit items-center gap-[6px] rounded-[5px] bg-[#110F06] px-[20px] py-[10px] text-[1rem] text-white transition-all duration-500 hover:scale-110"
	>
		<svg
			width="20"
			height="20"
			viewBox="0 0 14 15"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M0.170837 7.73609C0.170837 10.7309 2.08983 13.2779 4.7648 14.2142C5.12534 14.3072 5.073 14.0455 5.073 13.8711V12.6848C2.99118 12.929 2.90977 11.5508 2.7702 11.3182C2.48526 10.8356 1.82234 10.7134 2.02005 10.4808C2.49108 10.2366 2.97373 10.5448 3.5378 11.3705C3.94486 11.9695 4.72991 11.8707 5.13115 11.766C5.21838 11.4054 5.40446 11.0856 5.66614 10.8356C3.50873 10.4518 2.6132 9.13754 2.6132 7.56745C2.6132 6.81148 2.86325 6.11366 3.35172 5.5496C3.0377 4.61917 3.38079 3.82831 3.42732 3.71201C4.31703 3.6306 5.24164 4.35168 5.31724 4.40401C5.82315 4.27026 6.39885 4.19467 7.05015 4.19467C7.70144 4.19467 8.28296 4.27026 8.78887 4.40983C8.96333 4.27608 9.81815 3.65968 10.6497 3.73527C10.6962 3.85157 11.0277 4.6308 10.7311 5.54378C11.2254 6.10785 11.4813 6.81148 11.4813 7.57326C11.4813 9.14335 10.5741 10.4576 8.41671 10.8414C8.77724 11.1961 8.99822 11.6904 8.99822 12.237V13.9641C9.00985 14.1037 8.99822 14.2374 9.23082 14.2374C11.9523 13.3244 13.9062 10.7541 13.9062 7.73027C13.9062 3.9388 10.8358 0.868408 7.04433 0.868408C3.24123 0.874223 0.170837 3.95043 0.170837 7.73609Z"
				fill="#F4F4F4"></path>
		</svg>

		Ver Mais
	</a>
</section>
