---
import astro from "@assets/astroIcon.webp";
import styled from "@assets/styledIcon.webp";
---

<section id="skills">
	<h1
		class="title text-center font-italiana text-[1.40rem] text-[#110F06] max-[340px]:text-[18px] md:text-[1.6rem]"
	>
		Skills
	</h1>

	<div
		class="mx-auto mt-[40px] flex w-full max-w-[270px] flex-wrap justify-between gap-y-[25px] mid:max-w-[1120px] mid:flex-row mid:flex-wrap mid:justify-center mid:gap-x-[60px] mid:gap-y-[30px] md:mt-[80px]"
	>
		<div class="items flex flex-col items-center gap-[14px]">
			<div class="rounded-[10px] bg-[#F3F3F3] p-[15px] shadow-md">
				<svg
					width="38"
					height="38"
					viewBox="0 0 33 29"
					fill="none"
					class="md:h-[50px] md:w-[50px]"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M16.5516 17.2846C18.1615 17.2846 19.4667 15.9738 19.4667 14.3568C19.4667 12.7398 18.1615 11.429 16.5516 11.429C14.9416 11.429 13.6364 12.7398 13.6364 14.3568C13.6364 15.9738 14.9416 17.2846 16.5516 17.2846Z"
						fill="#61DAFB"></path>
					<path
						d="M27.624 9.52851C27.0614 9.32305 26.4733 9.11759 25.8596 8.93781C26.013 8.32143 26.1409 7.70504 26.2431 7.11434C26.7801 3.72423 26.192 1.33574 24.5554 0.411167C24.0696 0.128657 23.5326 0.000244141 22.9189 0.000244141C21.1289 0.000244141 18.853 1.33574 16.5516 3.57013C14.2502 1.33574 11.9743 0.000244141 10.1843 0.000244141C9.57059 0.000244141 9.03359 0.128657 8.54773 0.411167C6.91116 1.36142 6.32302 3.74991 6.86002 7.11434C6.96231 7.70504 7.09016 8.32143 7.24359 8.93781C6.62988 9.11759 6.04174 9.29737 5.47917 9.52851C2.28274 10.7613 0.543884 12.4563 0.543884 14.3569C0.543884 16.2574 2.30831 17.9524 5.47917 19.1852C6.04174 19.3907 6.62988 19.5961 7.24359 19.7759C7.09016 20.3923 6.96231 21.0087 6.86002 21.5994C6.32302 24.9895 6.91116 27.378 8.54773 28.3025C9.03359 28.585 9.57059 28.7135 10.1843 28.7135C11.9999 28.7135 14.2757 27.378 16.5516 25.1436C18.853 27.378 21.1289 28.7135 22.9189 28.7135C23.5326 28.7135 24.0696 28.585 24.5554 28.3025C26.192 27.3523 26.7801 24.9638 26.2431 21.5994C26.1409 21.0087 26.013 20.3923 25.8596 19.7759C26.4733 19.5961 27.0614 19.4163 27.624 19.1852C30.8204 17.9524 32.5593 16.2574 32.5593 14.3569C32.5593 12.4563 30.8204 10.7613 27.624 9.52851ZM23.8394 1.6953C24.8879 2.31168 25.2459 4.2122 24.8111 6.90888C24.7344 7.44822 24.6066 8.01323 24.4531 8.60393C23.1234 8.29574 21.717 8.09028 20.2339 7.96187C19.3644 6.7291 18.4694 5.62475 17.5744 4.62312C19.4667 2.74829 21.3846 1.46416 22.9444 1.46416C23.2769 1.46416 23.5837 1.5412 23.8394 1.6953ZM20.9754 16.9251C20.5152 17.747 19.9781 18.5688 19.4156 19.3907C18.4694 19.4677 17.5233 19.4934 16.5516 19.4934C15.5543 19.4934 14.6082 19.4677 13.6876 19.3907C13.125 18.5688 12.6136 17.747 12.1533 16.9251C11.6674 16.0776 11.2072 15.2044 10.798 14.3569C11.2072 13.5093 11.6674 12.6361 12.1533 11.7886C12.6136 10.9667 13.1506 10.1449 13.7132 9.32305C14.6593 9.246 15.6054 9.22032 16.5772 9.22032C17.5744 9.22032 18.5206 9.246 19.4412 9.32305C20.0037 10.1449 20.5152 10.9667 20.9754 11.7886C21.4613 12.6361 21.9216 13.5093 22.3307 14.3569C21.896 15.2044 21.4613 16.0519 20.9754 16.9251ZM23.0979 16.0776C23.4814 16.9765 23.7883 17.8497 24.0696 18.7229C23.2001 18.9284 22.2796 19.0825 21.3079 19.2109C21.6147 18.7229 21.9471 18.2092 22.2284 17.6699C22.5353 17.1306 22.8166 16.5912 23.0979 16.0776ZM16.5516 23.0376C15.9379 22.3698 15.3497 21.6507 14.7872 20.9059C15.3753 20.9316 15.9634 20.9573 16.5516 20.9573C17.1397 20.9573 17.7279 20.9316 18.316 20.9059C17.7534 21.6507 17.1653 22.3698 16.5516 23.0376ZM11.7953 19.1852C10.8236 19.0568 9.90302 18.9027 9.03359 18.6972C9.31487 17.8497 9.62173 16.9508 10.0053 16.0519C10.2866 16.5656 10.5679 17.1049 10.8747 17.6185C11.1816 18.1836 11.4884 18.6715 11.7953 19.1852ZM10.0053 12.6361C9.62173 11.7372 9.31487 10.864 9.03359 9.9908C9.90302 9.78534 10.8236 9.63124 11.7953 9.50283C11.4884 9.9908 11.156 10.5045 10.8747 11.0438C10.5679 11.5831 10.2866 12.1225 10.0053 12.6361ZM16.5516 5.67611C17.1653 6.34386 17.7534 7.06297 18.316 7.80777C17.7279 7.78209 17.1397 7.75641 16.5516 7.75641C15.9634 7.75641 15.3753 7.78209 14.7872 7.80777C15.3497 7.06297 15.9379 6.34386 16.5516 5.67611ZM22.2284 11.0695L21.3079 9.52851C22.2796 9.65692 23.2001 9.81102 24.0696 10.0165C23.7883 10.864 23.4814 11.7629 23.0979 12.6618C22.8166 12.1225 22.5353 11.5831 22.2284 11.0695ZM8.29202 6.90888C7.85731 4.2122 8.2153 2.31168 9.26373 1.6953C9.51945 1.5412 9.8263 1.46416 10.1587 1.46416C11.693 1.46416 13.6109 2.72261 15.5287 4.62312C14.6337 5.59906 13.7387 6.7291 12.8693 7.96187C11.3862 8.09028 9.97973 8.32143 8.65002 8.60393C8.49659 8.01323 8.39431 7.44822 8.29202 6.90888ZM1.97588 14.3569C1.97588 13.1498 3.43345 11.8656 5.99059 10.9154C6.50202 10.7099 7.06459 10.5301 7.62716 10.376C8.03631 11.6602 8.54773 13.0214 9.16145 14.3825C8.54773 15.7437 8.01073 17.0792 7.62716 18.3633C4.09831 17.336 1.97588 15.7951 1.97588 14.3569ZM9.26373 27.0184C8.2153 26.402 7.85731 24.5015 8.29202 21.8048C8.36873 21.2655 8.49659 20.7005 8.65002 20.1098C9.97973 20.418 11.3862 20.6234 12.8693 20.7518C13.7387 21.9846 14.6337 23.089 15.5287 24.0906C13.6364 25.9654 11.7186 27.2495 10.1587 27.2495C9.8263 27.2495 9.51945 27.1725 9.26373 27.0184ZM24.8111 21.8048C25.2459 24.5015 24.8879 26.402 23.8394 27.0184C23.5837 27.1725 23.2769 27.2495 22.9444 27.2495C21.4101 27.2495 19.4923 25.9911 17.5744 24.0906C18.4694 23.1146 19.3644 21.9846 20.2339 20.7518C21.717 20.6234 23.1234 20.3923 24.4531 20.1098C24.6066 20.7005 24.7089 21.2655 24.8111 21.8048ZM27.1126 17.7983C26.6011 18.0038 26.0386 18.1836 25.476 18.3377C25.0669 17.0535 24.5554 15.6923 23.9417 14.3312C24.5554 12.97 25.0924 11.6345 25.476 10.3504C29.0049 11.3777 31.1273 12.9186 31.1273 14.3569C31.1273 15.5639 29.6441 16.8481 27.1126 17.7983Z"
						fill="#61DAFB"></path>
				</svg>
			</div>
			<p class="font-matter text-base text-[#110F06] md:text-sm">React.js</p>
		</div>
		<div class="items flex flex-col items-center gap-[14px]">
			<div class="rounded-[10px] bg-[#F3F3F3] p-[15px] shadow-md">
				<svg
					viewBox="0 0 256 256"
					width="38"
					height="38"
					version="1.1"
					class="md:h-[50px] md:w-[50px]"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					preserveAspectRatio="xMidYMid"
					fill="#000000"
					><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
						id="SVGRepo_tracerCarrier"
						stroke-linecap="round"
						stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
						<g>
							<path
								d="M119.616813,0.0688905149 C119.066276,0.118932037 117.314565,0.294077364 115.738025,0.419181169 C79.3775171,3.69690087 45.3192571,23.3131775 23.7481916,53.4631946 C11.7364614,70.2271045 4.05395894,89.2428829 1.15112414,109.384595 C0.12512219,116.415429 0,118.492153 0,128.025062 C0,137.557972 0.12512219,139.634696 1.15112414,146.665529 C8.10791789,194.730411 42.3163245,235.11392 88.7116325,250.076335 C97.0197458,252.753556 105.778299,254.580072 115.738025,255.680985 C119.616813,256.106338 136.383187,256.106338 140.261975,255.680985 C157.453763,253.779407 172.017986,249.525878 186.382014,242.194795 C188.584164,241.068861 189.00958,240.768612 188.709286,240.518404 C188.509091,240.36828 179.124927,227.782837 167.86393,212.570214 L147.393939,184.922273 L121.743891,146.965779 C107.630108,126.098464 96.0187683,109.034305 95.9186706,109.034305 C95.8185728,109.009284 95.7184751,125.873277 95.6684262,146.465363 C95.5933529,182.52028 95.5683284,183.971484 95.1178886,184.82219 C94.4672532,186.048207 93.9667644,186.548623 92.915738,187.099079 C92.114956,187.499411 91.4142717,187.574474 87.6355816,187.574474 L83.3063539,187.574474 L82.1552297,186.848872 C81.4044966,186.373477 80.8539589,185.747958 80.4785924,185.022356 L79.9530792,183.896422 L80.0031281,133.729796 L80.0782014,83.5381493 L80.8539589,82.5623397 C81.25435,82.0369037 82.1051808,81.3613431 82.7057674,81.0360732 C83.7317693,80.535658 84.1321603,80.4856165 88.4613881,80.4856165 C93.5663734,80.4856165 94.4172043,80.6857826 95.7434995,82.1369867 C96.1188661,82.5373189 110.007429,103.454675 126.623656,128.650581 C143.239883,153.846488 165.962072,188.250034 177.122972,205.139048 L197.392766,235.839522 L198.418768,235.163961 C207.502639,229.259062 217.112023,220.852086 224.719453,212.09482 C240.910264,193.504394 251.345455,170.835585 254.848876,146.665529 C255.874878,139.634696 256,137.557972 256,128.025062 C256,118.492153 255.874878,116.415429 254.848876,109.384595 C247.892082,61.3197135 213.683675,20.9362052 167.288368,5.97379012 C159.105376,3.32158945 150.396872,1.49507389 140.637341,0.394160408 C138.234995,0.143952798 121.693842,-0.131275573 119.616813,0.0688905149 L119.616813,0.0688905149 Z M172.017986,77.4831252 C173.219159,78.0836234 174.195112,79.2345784 174.545455,80.435575 C174.74565,81.0861148 174.795699,94.9976579 174.74565,126.348671 L174.670577,171.336 L166.73783,159.17591 L158.780059,147.01582 L158.780059,114.313685 C158.780059,93.1711423 158.880156,81.2862808 159.030303,80.7108033 C159.430694,79.3096407 160.306549,78.2087272 161.507722,77.5581875 C162.533724,77.0327515 162.909091,76.98271 166.837928,76.98271 C170.541544,76.98271 171.19218,77.0327515 172.017986,77.4831252 Z"
								fill="#000000"
							>
							</path>
						</g>
					</g></svg
				>
			</div>
			<p class="font-matter text-base text-[#110F06] md:text-sm">Next.js</p>
		</div>
		<div class="items flex flex-col items-center gap-[14px]">
			<div class="rounded-[10px] bg-[#F3F3F3] p-[15px] shadow-md">
				<img
					src={astro.src}
					alt="Astro Icon"
					class="h-[38px] w-[38px] md:h-[50px] md:w-[50px]"
				/>
			</div>
			<p class="font-matter text-base text-[#110F06] md:text-sm">Astro Build</p>
		</div>
		<div class="items flex flex-col items-center gap-[14px]">
			<div class="rounded-[10px] bg-[#F3F3F3] p-[15px] shadow-md">
				<svg
					width="38"
					height="38"
					viewBox="0 0 33 33"
					fill="none"
					class="md:h-[50px] md:w-[50px]"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M0.0357666 5.19122C0.0357666 2.78074 1.98984 0.82666 4.40032 0.82666H27.6865C30.0969 0.82666 32.051 2.78074 32.051 5.19122V28.6166C32.051 31.0271 30.0969 32.9812 27.6865 32.9812H4.40032C1.98984 32.9812 0.0357666 31.0271 0.0357666 28.6166V5.19122Z"
						fill="#F7DF1E"></path>
					<path
						d="M8.45362 27.6969L8.6543 27.5749C9.8838 26.8276 11.3988 27.7616 12.8376 27.7616C13.8262 27.7616 14.4496 27.3732 14.4496 25.8625V17.0926C14.4496 16.2618 15.1231 15.5884 15.9539 15.5884C16.7847 15.5884 17.4582 16.2618 17.4582 17.0926V25.9052C17.4582 29.0349 15.6315 30.4595 12.9665 30.4595C10.5597 30.4595 9.1627 29.2076 8.45349 27.6967M19.0923 27.3731C20.4534 26.5816 22.1448 27.3233 23.6759 27.6903C23.9289 27.7509 24.2049 27.7833 24.5078 27.7833C25.7545 27.7833 26.5494 27.1573 26.5494 26.2939C26.5494 25.258 25.7327 24.8909 24.3573 24.2868L23.6053 23.9627C21.4347 23.0349 19.9949 21.8693 19.9949 19.4087C19.9949 17.1423 21.7141 15.4155 24.4005 15.4155C25.8638 15.4155 27.0126 15.8072 27.9143 16.7742C28.415 17.3111 28.1951 18.1438 27.5782 18.5418C26.9048 18.9761 26.0603 18.6404 25.3535 18.263C25.077 18.1154 24.7659 18.0491 24.4003 18.0491C23.5192 18.0491 22.9604 18.6103 22.9604 19.344C22.9604 20.2505 23.5192 20.6177 24.8085 21.1789L25.5606 21.5025C28.1181 22.6034 29.5579 23.7257 29.5579 26.2509C29.5579 28.9707 27.4304 30.4598 24.5722 30.4598C21.7785 30.4598 19.9732 29.1216 19.0922 27.3732"
						fill="black"></path>
				</svg>
			</div>
			<p class="font-matter text-base text-[#110F06] md:text-sm">JavaScript</p>
		</div>
		<div class="items flex flex-col items-center gap-[14px]">
			<div class="rounded-[10px] bg-[#F3F3F3] p-[15px] shadow-md">
				<svg
					width="38"
					height="38"
					viewBox="0 0 33 33"
					fill="none"
					class="md:h-[50px] md:w-[50px]"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M0.543396 16.8013V32.8085H32.5577V0.794189H0.543396V16.8013ZM26.3418 15.5208C27.1086 15.6987 27.8055 16.0997 28.3446 16.6733C28.6414 16.9823 28.8994 17.3263 29.113 17.6977C29.113 17.7387 27.7299 18.6735 26.8873 19.196C26.8566 19.2165 26.7337 19.0833 26.5979 18.881C26.4441 18.6156 26.2255 18.3934 25.9626 18.2354C25.6997 18.0773 25.4011 17.9883 25.0945 17.9769C24.1239 17.9103 23.4989 18.42 23.5041 19.2575C23.496 19.466 23.5438 19.6729 23.6424 19.8568C23.8549 20.2999 24.2519 20.5637 25.4966 21.1015C27.7889 22.0875 28.7698 22.7381 29.3793 23.6626C30.0606 24.6871 30.2117 26.3416 29.7507 27.5658C29.2385 28.8976 27.9835 29.8017 26.2086 30.1014C25.398 30.1942 24.5789 30.1856 23.7704 30.0758C22.5365 29.8756 21.3982 29.2881 20.5203 28.3982C20.2258 28.0729 19.6521 27.2252 19.688 27.1637C19.7814 27.0943 19.8799 27.0318 19.9825 26.9768L21.1606 26.3006L22.0801 25.7679L22.2721 26.0522C22.5963 26.5159 23.0089 26.9111 23.4861 27.215C24.5106 27.7528 25.909 27.6785 26.6005 27.0562C26.8327 26.8281 26.9775 26.5259 27.0098 26.202C27.0421 25.8782 26.9598 25.5533 26.7772 25.2839C26.5211 24.9279 26.0089 24.6282 24.5772 24.0033C22.9252 23.2913 22.2132 22.8508 21.5627 22.149C21.1566 21.6859 20.8568 21.1396 20.6842 20.5483C20.5555 19.8728 20.5365 19.181 20.6279 18.4994C20.9685 16.9038 22.1646 15.7897 23.9113 15.4593C24.7202 15.3592 25.5396 15.3817 26.3418 15.5259V15.5208ZM18.8274 16.8628V18.1741H14.6707V30.0143H11.7228V18.1716H7.55581V16.891C7.54462 16.4501 7.55659 16.009 7.59167 15.5694C7.60703 15.5489 10.1528 15.5387 13.2262 15.5438H18.812L18.8274 16.8628Z"
						fill="#007ACC"></path>
				</svg>
			</div>
			<p class="font-matter text-base text-[#110F06] md:text-sm">TypeScript</p>
		</div>
		<div class="items flex flex-col items-center gap-[14px]">
			<div class="rounded-[10px] bg-[#F3F3F3] p-[15px] shadow-md">
				<svg
					width="38"
					height="38"
					viewBox="0 0 33 37"
					fill="none"
					class="md:h-[50px] md:w-[50px]"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M3.70324 33.3095L0.789551 0.631104H32.8039L29.8871 33.305L16.777 36.9388L3.70324 33.3095Z"
						fill="#E44D26"></path>
					<path
						d="M16.7966 34.161L27.3894 31.2231L29.8825 3.30249H16.7966V34.161Z"
						fill="#F16529"></path>
					<path
						d="M16.7969 15.4231H11.4944L11.1268 11.3188H16.7969V7.30981H6.74719L6.8425 8.38543L7.82735 19.429H16.7969V15.4231ZM16.7969 25.8313L16.7787 25.8358L12.3159 24.6301L12.03 21.4335H8.00737L8.56863 27.7268L16.7787 30.0067L16.7969 30.0006V25.8313Z"
						fill="#EBEBEB"></path>
					<path
						d="M16.783 15.4231V19.4305H21.7193L21.2533 24.6286L16.783 25.8343V30.0036L24.9991 27.7268L25.0596 27.0491L26.0021 16.4987L26.0989 15.4216H25.0188L16.783 15.4231ZM16.783 7.30981V11.3188H26.4635L26.5437 10.4171L26.7267 8.38543L26.822 7.30981H16.783Z"
						fill="white"></path>
					<path
						d="M16.7985 36.9326L16.7771 36.9392H16.7985V36.9326Z"
						fill="#DEDEDE"></path>
					<path
						d="M16.7967 11.3192H11.1267L11.4928 15.4235H16.7816H16.7967V11.3192ZM16.7967 0.631104H0.789551L3.70324 33.3095L16.777 36.9388L16.7967 36.9327V30.001L16.7785 30.0071L8.56847 27.7272L8.00722 21.4339H12.0298L12.3157 24.6305L16.7785 25.8362L16.7831 25.8347L16.7967 25.8317V19.4309H7.82719L6.84234 8.38733L6.74704 7.31021H16.7831H16.7967V0.631104Z"
						fill="#C64321"></path>
					<path
						d="M12.03 21.4335H8.00737L8.56863 27.7268L16.7787 30.0067L16.7969 30.0006L16.7832 30.0036V25.8343L16.7787 25.8358L12.3159 24.6301L12.03 21.4335ZM16.7832 7.30981H6.74719L6.8425 8.38543L7.82735 19.429H16.7969H16.7832V15.4231H11.4944L11.1268 11.3188H16.7969H16.7832V7.30981Z"
						fill="#CDCDCD"></path>
					<path
						d="M16.7966 25.8313L16.783 25.8343V30.0036L16.7966 30.0006V25.8313ZM16.7966 15.4231H16.783V19.4305H16.7966V15.4231ZM16.7966 7.30981H16.783V11.3188H16.7966V7.30981Z"
						fill="#DEDEDE"></path>
				</svg>
			</div>
			<p class="font-matter text-base text-[#110F06] md:text-sm">HTML5</p>
		</div>
		<div class="items flex flex-col items-center gap-[14px]">
			<div class="rounded-[10px] bg-[#F3F3F3] p-[15px] shadow-md">
				<svg
					width="38"
					height="38"
					viewBox="0 0 33 37"
					fill="none"
					class="md:h-[50px] md:w-[50px]"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M0.571777 0.399414L3.48737 33.3284L16.5789 36.9872L29.6659 33.3307L32.5861 0.399414H0.571777Z"
						fill="#2196F3"></path>
					<path
						d="M26.3524 11.1677L25.9842 15.3044L24.8729 27.7054L16.5789 29.999L16.572 30.0012L8.28263 27.7054L7.70408 21.2202H11.7653L12.0672 24.584L16.5743 25.8005L16.5766 25.7982L21.0906 24.5817L21.7058 18.9769L7.50971 19.0158L7.10725 15.1832L22.0465 15.0071L22.3483 10.9047L6.70707 10.9482L6.44409 7.13159H26.7137L26.3524 11.1677Z"
						fill="#FAFAFA"></path>
				</svg>
			</div>
			<p class="font-matter text-base text-[#110F06] md:text-sm">CSS3</p>
		</div>
		<div class="items flex flex-col items-center gap-[14px]">
			<div class="rounded-[10px] bg-[#F3F3F3] p-[15px] shadow-md">
				<img
					src={styled.src}
					alt="StyledComponents Icon"
					class="h-[38px] w-[38px] md:h-[50px] md:w-[50px]"
				/>
			</div>
			<p class="text-center font-matter text-base text-[#110F06] md:text-sm">
				Styled <br /> Components
			</p>
		</div>
		<div class="items flex flex-col items-center gap-[14px]">
			<div class="rounded-[10px] bg-[#F3F3F3] p-[15px] shadow-md">
				<svg
					width="38"
					height="38"
					viewBox="0 0 33 25"
					fill="none"
					class="md:h-[50px] md:w-[50px]"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M27.8854 14.0078C26.766 14.0142 25.7968 14.2832 24.9838 14.6837C24.6837 14.0893 24.3835 13.5699 24.3335 13.182C24.2773 12.7315 24.2085 12.4561 24.2773 11.9181C24.346 11.38 24.6587 10.6166 24.6587 10.554C24.6523 10.4977 24.5898 10.2224 23.9458 10.2162C23.3017 10.2099 22.7451 10.3413 22.6826 10.5102C22.6201 10.6792 22.495 11.0671 22.4137 11.4676C22.3011 12.0557 21.1255 14.1392 20.4564 15.2342C20.2375 14.8087 20.0499 14.4333 20.0124 14.1329C19.9561 13.6825 19.8873 13.4071 19.9561 12.8691C20.0249 12.3309 20.3376 11.5677 20.3376 11.5051C20.3313 11.4488 20.2688 11.1735 19.6248 11.1672C18.9806 11.161 18.4241 11.2924 18.3616 11.4613C18.2991 11.6302 18.2303 12.0307 18.0927 12.4186C17.9613 12.8065 16.398 16.2854 15.9915 17.1926C15.7852 17.6556 15.6039 18.0248 15.4725 18.275C15.3412 18.5253 15.4662 18.2938 15.4537 18.3188C15.3412 18.5316 15.2786 18.6505 15.2786 18.6505V18.6568C15.1911 18.8132 15.0973 18.9633 15.0535 18.9633C15.0222 18.9633 14.9597 18.5441 15.066 17.9685C15.2973 16.7609 15.8601 14.8776 15.854 14.8088C15.854 14.7775 15.9602 14.4458 15.4912 14.277C15.0347 14.108 14.8722 14.3896 14.8346 14.3896C14.7971 14.3896 14.7658 14.4897 14.7658 14.4897C14.7658 14.4897 15.2723 12.3687 13.7965 12.3687C12.871 12.3687 11.5954 13.376 10.9638 14.2958C10.5636 14.5148 9.71311 14.9777 8.81263 15.4721C8.46869 15.6598 8.11225 15.86 7.77457 16.0415L7.70585 15.9663C5.91739 14.0579 2.60938 12.7064 2.74695 10.1411C2.79698 9.20882 3.12215 6.74986 9.10041 3.77158C13.9968 1.3314 17.9176 2.00089 18.5992 3.49003C19.5684 5.61737 16.5043 9.57172 11.4141 10.1411C9.47561 10.3601 8.45625 9.60926 8.19992 9.3277C7.93103 9.03362 7.89351 9.02111 7.79346 9.07742C7.63087 9.16502 7.73092 9.42781 7.79346 9.58423C7.94354 9.97841 8.56887 10.6792 9.63194 11.0296C10.5636 11.3362 12.8399 11.5051 15.5914 10.4414C18.6743 9.24636 21.0818 5.93021 20.3752 3.15841C19.656 0.336555 14.9785 -0.589464 10.5574 0.981014C7.92472 1.91955 5.07319 3.38366 3.0221 5.30452C0.583294 7.58203 0.195587 9.57172 0.358174 10.3976C0.92729 13.3446 4.98565 15.2655 6.61151 16.6858C6.53022 16.7295 6.45518 16.7733 6.38639 16.8109C5.57346 17.2113 2.47806 18.8319 1.70264 20.5462C0.827175 22.4859 1.84022 23.8812 2.51558 24.0689C4.60419 24.6508 6.74283 23.6059 7.8997 21.8853C9.05025 20.1646 8.91274 17.9309 8.38121 16.911L8.36239 16.8735L9.00023 16.4981C9.41301 16.2541 9.81948 16.0288 10.1759 15.8348C9.97581 16.3791 9.83192 17.0236 9.75694 17.9621C9.6694 19.0634 10.1196 20.4899 10.7137 21.053C10.9763 21.297 11.289 21.3033 11.4829 21.3033C12.1707 21.3033 12.4834 20.7339 12.8273 20.0519C13.2526 19.2198 13.6278 18.2562 13.6278 18.2562C13.6278 18.2562 13.1588 20.8653 14.4407 20.8653C14.9097 20.8653 15.3787 20.2584 15.5913 19.9456V19.9518C15.5913 19.9518 15.6038 19.9331 15.6288 19.8893C15.6551 19.8504 15.6801 19.8108 15.7039 19.7704V19.7579C15.8915 19.4326 16.3104 18.688 16.9358 17.4554C17.7424 15.8661 18.5179 13.8765 18.5179 13.8765C18.5179 13.8765 18.5929 14.3645 18.8243 15.1654C18.9618 15.641 19.262 16.1602 19.4933 16.667C19.3057 16.9298 19.1932 17.08 19.1932 17.08L19.1994 17.0863C19.0494 17.2865 18.8805 17.4993 18.7055 17.712C18.0676 18.4753 17.3047 19.3451 17.2047 19.5954C17.0859 19.8894 17.1109 20.1084 17.3422 20.2836C17.5111 20.4088 17.8112 20.4337 18.1302 20.4088C18.7055 20.3712 19.1057 20.2273 19.3058 20.1397C19.6185 20.027 19.9749 19.8581 20.3188 19.6078C20.9442 19.1449 21.3256 18.4879 21.2881 17.6119C21.2693 17.1302 21.113 16.6546 20.9192 16.2041C20.9754 16.1228 21.0318 16.0414 21.088 15.9539C22.076 14.5085 22.8389 12.9193 22.8389 12.9193C22.8389 12.9193 22.914 13.4073 23.1453 14.2082C23.2641 14.6149 23.5018 15.0592 23.7144 15.4972C22.7889 16.2543 22.2073 17.1302 22.0072 17.7059C21.6383 18.7695 21.9259 19.2513 22.47 19.3639C22.7138 19.414 23.0641 19.3014 23.3266 19.1887C23.6518 19.0824 24.0458 18.9009 24.4085 18.6319C25.0339 18.1689 25.6342 17.5244 25.6029 16.6547C25.5841 16.2543 25.4778 15.8601 25.334 15.4847C26.1219 15.1593 27.1412 14.9716 28.4357 15.128C31.2184 15.4534 31.7687 17.1928 31.6625 17.9186C31.5562 18.6445 30.9746 19.0448 30.7807 19.17C30.5868 19.2888 30.5243 19.3327 30.543 19.4202C30.5681 19.5517 30.6556 19.5454 30.8244 19.5204C31.0558 19.4828 32.2877 18.926 32.3378 17.5871C32.4128 15.8662 30.7807 13.9891 27.8854 14.0078ZM6.42391 21.2471C5.50467 22.2544 4.21023 22.6361 3.65994 22.3107C3.06587 21.9666 3.29718 20.4837 4.4291 19.4138C5.11697 18.7631 6.01119 18.1624 6.59901 17.7933C6.73033 17.7119 6.93043 17.5931 7.16806 17.4491C7.20558 17.4242 7.23059 17.4116 7.23059 17.4116C7.27437 17.3866 7.32439 17.3553 7.37442 17.324C7.7934 18.8507 7.39318 20.1897 6.42391 21.2471ZM13.1463 16.6733C12.8273 17.4554 12.152 19.4639 11.7455 19.3512C11.3953 19.2574 11.1827 17.737 11.6767 16.2353C11.9268 15.4782 12.4583 14.5772 12.771 14.2268C13.2776 13.6637 13.8278 13.476 13.9654 13.7075C14.128 14.0078 13.3464 16.1852 13.1463 16.6733ZM18.693 19.3262C18.5554 19.3951 18.4303 19.4451 18.374 19.4076C18.3303 19.3826 18.4303 19.2887 18.4303 19.2887C18.4303 19.2887 19.1244 18.5442 19.3995 18.2C19.5559 17.9999 19.7435 17.7684 19.9436 17.5055V17.5806C19.9436 18.4815 19.0807 19.0822 18.693 19.3262ZM22.9702 18.3501C22.8701 18.275 22.8827 18.0435 23.2203 17.3177C23.3517 17.0299 23.6518 16.5481 24.1708 16.0914C24.2334 16.2791 24.2709 16.4605 24.2646 16.6295C24.2584 17.7557 23.458 18.1749 22.9702 18.3501Z"
						fill="#CF649A"></path>
				</svg>
			</div>
			<p class="font-matter text-base text-[#110F06] md:text-sm">Sass</p>
		</div>
		<div class="items flex flex-col items-center gap-[14px]">
			<div class="rounded-[10px] bg-[#F3F3F3] p-[15px] shadow-md">
				<svg
					width="38"
					height="38"
					viewBox="0 0 33 20"
					fill="none"
					class="md:h-[50px] md:w-[50px]"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M26.9833 5.75259C25.7829 5.34804 24.7233 4.62064 23.926 3.65381C23.0473 2.5766 21.9284 1.71031 20.6549 1.12123C19.3814 0.532139 17.9872 0.23586 16.5787 0.255053C14.684 0.123763 12.8083 0.695553 11.3251 1.85655C9.84196 3.01755 8.8601 4.68258 8.57511 6.52005C9.13644 5.60104 9.98127 4.87998 10.988 4.46062C11.9948 4.04126 13.1115 3.94522 14.1776 4.18634C15.3761 4.60266 16.434 5.33429 17.235 6.30077C18.1185 7.36938 19.2395 8.22672 20.5127 8.80754C21.7859 9.38836 23.1777 9.67736 24.5823 9.65254C26.4769 9.78383 28.3526 9.21205 29.8358 8.05104C31.319 6.89004 32.3008 5.22502 32.5858 3.38755C32.0347 4.31755 31.1926 5.0495 30.1838 5.47536C29.1749 5.90122 28.0529 5.99841 26.9833 5.75259ZM6.17404 13.5525C7.37449 13.9571 8.43411 14.6844 9.2314 15.6513C10.1101 16.7285 11.229 17.5948 12.5025 18.1839C13.7759 18.7729 15.1702 19.0692 16.5787 19.05C18.4733 19.1813 20.349 18.6095 21.8322 17.4485C23.3154 16.2875 24.2973 14.6225 24.5823 12.785C24.0209 13.704 23.1761 14.4251 22.1694 14.8445C21.1626 15.2638 20.0458 15.3599 18.9798 15.1188C17.7813 14.7024 16.7234 13.9708 15.9224 13.0043C15.0365 11.9384 13.915 11.0829 12.6424 10.5023C11.3697 9.92176 9.9791 9.63121 8.57511 9.65254C6.68045 9.52125 4.80476 10.093 3.32157 11.254C1.83838 12.415 0.856528 14.0801 0.571533 15.9175C1.12267 14.9875 1.96481 14.2556 2.97362 13.8297C3.98243 13.4039 5.10445 13.3067 6.17404 13.5525Z"
						fill="#38BDF8"></path>
				</svg>
			</div>
			<p class="text-center font-matter text-base text-[#110F06] md:text-sm">
				Tailwind <br /> CSS
			</p>
		</div>
		<div class="items flex flex-col items-center gap-[14px]">
			<div class="rounded-[10px] bg-[#F3F3F3] p-[15px] shadow-md">
				<svg
					width="38"
					height="38"
					viewBox="0 0 33 33"
					fill="none"
					class="md:h-[50px] md:w-[50px]"
					xmlns="http://www.w3.org/2000/svg"
				>
					<mask
						id="mask0_137_378"
						style="mask-type:luminance"
						maskUnits="userSpaceOnUse"
						x="0"
						y="0"
						width="38"
						height="38"
						class="md:h-[50px] md:w-[50px]"
					>
						<path
							d="M0.54364 0.845703H32.5579V32.8603H0.54364V0.845703Z"
							fill="white"></path>
					</mask>
					<g mask="url(#mask0_137_378)">
						<path
							d="M2.81916 16.8526C2.81916 22.2883 5.97794 26.9854 10.5584 29.2116L4.00805 11.2641C3.2228 13.0225 2.81767 14.9269 2.81916 16.8526ZM25.8214 16.1597C25.8214 14.4626 25.2118 13.2873 24.689 12.3725C23.9929 11.2413 23.3407 10.2834 23.3407 9.15229C23.3407 7.88998 24.2978 6.71494 25.6464 6.71494C25.7072 6.71494 25.765 6.72251 25.8246 6.72591C23.3812 4.48766 20.1262 3.12109 16.5512 3.12109C11.7539 3.12109 7.53317 5.58249 5.07778 9.31063C5.39996 9.3203 5.70385 9.32683 5.96148 9.32683C7.39782 9.32683 9.62117 9.15255 9.62117 9.15255C10.3614 9.10892 10.4487 10.1962 9.70949 10.2837C9.70949 10.2837 8.96532 10.3712 8.13754 10.4146L13.1382 25.2888L16.1436 16.276L14.0039 10.4143C13.2644 10.371 12.5639 10.2834 12.5639 10.2834C11.8239 10.2401 11.9106 9.10865 12.6506 9.15229C12.6506 9.15229 14.9184 9.32657 16.2677 9.32657C17.7038 9.32657 19.9274 9.15229 19.9274 9.15229C20.6682 9.10865 20.7552 10.1959 20.0155 10.2834C20.0155 10.2834 19.27 10.371 18.4438 10.4143L23.4063 25.1759L24.7757 20.5988C25.3696 18.6995 25.8214 17.3352 25.8214 16.1597Z"
							fill="#00749A"></path>
						<path
							d="M16.792 18.0538L12.6719 30.0258C13.9315 30.397 15.2379 30.5855 16.5511 30.5855C18.1502 30.5855 19.6837 30.3088 21.1112 29.8071C21.0729 29.7472 21.0402 29.6839 21.0134 29.6179L16.792 18.0538ZM28.6004 10.2644C28.6594 10.7018 28.6929 11.1716 28.6929 11.6764C28.6929 13.0699 28.4326 14.6364 27.6487 16.595L23.4542 28.7225C27.5366 26.3418 30.2826 21.9189 30.2826 16.8527C30.2863 14.5499 29.7076 12.2836 28.6004 10.2644Z"
							fill="#00749A"></path>
						<path
							d="M16.5511 0.845703C7.72479 0.845703 0.54364 8.02633 0.54364 16.8526C0.54364 25.6799 7.72453 32.8605 16.5511 32.8605C25.3771 32.8605 32.5592 25.6802 32.5592 16.8526C32.559 8.02633 25.3771 0.845703 16.5511 0.845703ZM16.5511 32.1266C8.12954 32.1266 1.27762 25.2746 1.27762 16.8526C1.27762 8.43134 8.12928 1.57994 16.5511 1.57994C24.9723 1.57994 31.8237 8.43134 31.8237 16.8526C31.8237 25.2746 24.972 32.1266 16.5511 32.1266Z"
							fill="#00749A"></path>
					</g>
				</svg>
			</div>
			<p class="font-matter text-base text-[#110F06] md:text-sm">WordPress</p>
		</div>
		<div class="items flex flex-col items-center gap-[14px]">
			<div class="rounded-[10px] bg-[#F3F3F3] p-[15px] shadow-md">
				<svg
					width="38"
					height="38"
					viewBox="0 0 33 33"
					fill="none"
					class="md:h-[50px] md:w-[50px]"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M32.2007 15.2002L18.2256 1.2259C17.4214 0.421121 16.1161 0.421121 15.3106 1.2259L12.4092 4.12805L16.0902 7.80913C16.946 7.52033 17.9267 7.71404 18.6085 8.39585C19.2939 9.08196 19.4863 10.0711 19.1899 10.9296L22.7376 14.4778C23.5959 14.1819 24.5865 14.3731 25.2716 15.0597C26.23 16.0174 26.23 17.5699 25.2716 18.528C24.3132 19.4865 22.7612 19.4865 21.8023 18.528C21.0817 17.8069 20.9034 16.7484 21.2685 15.8604L17.9602 12.5518L17.9597 21.2591C18.1934 21.3744 18.4138 21.5286 18.6085 21.7225C19.5667 22.6802 19.5667 24.2322 18.6085 25.1919C17.6503 26.1496 16.0973 26.1496 15.1402 25.1919C14.1823 24.2325 14.1036 22.6805 15.0613 21.7225C15.2981 21.486 15.5317 21.3072 15.7852 21.1876V12.3997C15.5317 12.28 15.2984 12.1025 15.0611 11.8644C14.3356 11.1393 14.2 10.0744 14.5722 9.18287L10.9634 5.55378L1.39079 15.1355C0.585764 15.9411 0.590835 17.2463 1.39586 18.0514L15.3732 32.0256C16.1777 32.8304 17.484 32.8304 18.2898 32.0256L32.1997 18.1163C33.0047 17.311 33.0055 16.0049 32.2007 15.2002Z"
						fill="#F34F29"></path>
				</svg>
			</div>
			<p class="font-matter text-base text-[#110F06] md:text-sm">Git</p>
		</div>
	</div>
</section>
