---
import openMenu_btn from "../../../../public/assets/openMenu_btn.svg";

//Components
import Button from "../../Button.astro";
---

<header>
	<div
		class="flex items-center justify-between p-[15px] md:mx-auto md:max-w-[1440px]"
	>
		<svg
			width="111"
			height="60"
			viewBox="0 0 111 60"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			class="w-full max-w-[80px] md:max-w-[110px]"
		>
			<path
				d="M2.59713 6.8939V6.617H7.52595V22.3449C7.52595 23.8033 7.23059 24.7816 6.63987 25.2801C6.04915 25.76 5.15384 26 3.95394 26C2.7725 26 1.72028 25.8246 0.797278 25.4739L0.880348 25.2524C1.76643 25.6031 2.6802 25.7785 3.62166 25.7785C4.2493 25.7785 4.66465 25.5108 4.86771 24.9755C5.08923 24.4401 5.19999 23.5725 5.19999 22.3726V6.8939H2.59713ZM17.1335 26.1108C15.1952 26.1108 13.6169 25.557 12.3985 24.4494C11.1802 23.3418 10.571 21.6342 10.571 19.3267C10.571 17.0192 11.1986 15.2286 12.4539 13.9548C13.7276 12.6811 15.3337 12.0442 17.272 12.0442C19.2287 12.0442 20.8163 12.598 22.0346 13.7056C23.253 14.8132 23.8622 16.5208 23.8622 18.8283C23.8622 21.1358 23.2253 22.9264 21.9516 24.2001C20.6963 25.4739 19.0903 26.1108 17.1335 26.1108ZM17.3273 12.2658C15.9244 12.2658 14.7614 12.8934 13.8384 14.1487C12.9154 15.3855 12.4539 17.1207 12.4539 19.3544C12.4539 21.5696 12.8785 23.2125 13.7276 24.2832C14.5768 25.3539 15.7029 25.8892 17.1058 25.8892C18.5088 25.8892 19.6718 25.2708 20.5948 24.034C21.5178 22.7787 21.9793 21.0435 21.9793 18.8283C21.9793 16.5946 21.5547 14.9425 20.7055 13.8718C19.8564 12.8011 18.7303 12.2658 17.3273 12.2658ZM37.5015 26C36.2462 26 35.3878 25.76 34.9263 25.2801C34.5017 24.8739 34.2894 24.5232 34.2894 24.2278V23.6463C33.3849 25.2893 31.9358 26.1108 29.9421 26.1108C27.6161 26.1108 26.2962 25.0585 25.9824 22.9541C25.9455 22.7326 25.927 22.5111 25.927 22.2895C25.927 22.0496 25.964 21.7911 26.0378 21.5142C26.1116 21.2373 26.3239 20.9327 26.6747 20.6004C27.3761 19.9359 28.9176 19.5298 31.2989 19.3821C31.8896 19.3267 32.4342 19.299 32.9326 19.299C33.431 19.299 33.8833 19.3175 34.2894 19.3544V14.7579C34.2525 14.7394 34.2525 14.6563 34.2894 14.5086C34.3263 14.3425 34.2894 14.1394 34.1787 13.8995C34.0864 13.641 33.9571 13.3918 33.791 13.1518C33.6249 12.9119 33.3295 12.7088 32.9049 12.5427C32.4803 12.3581 31.9265 12.2658 31.2435 12.2658C30.5605 12.2658 29.7575 12.395 28.8345 12.6534C27.9299 12.8934 27.2654 13.1334 26.8408 13.3734L26.73 13.1795C28.373 12.4227 30.0436 12.0442 31.7419 12.0442C33.6433 12.0442 34.8986 12.3857 35.5078 13.0688C35.9877 13.6041 36.2277 14.1671 36.2277 14.7579V24.034C36.2277 24.5693 36.3292 24.9847 36.5323 25.2801C36.7538 25.557 36.9753 25.7046 37.1969 25.7231L37.5015 25.7785H38.3598V26H37.5015ZM30.3851 25.8892C31.3635 25.8892 32.2404 25.557 33.0157 24.8924C33.8095 24.2094 34.234 23.554 34.2894 22.9264V19.5759C33.791 19.539 33.2833 19.5205 32.7665 19.5205C32.268 19.5205 31.7696 19.5482 31.2712 19.6036C29.8682 19.7697 28.9545 20.0836 28.5299 20.5451C28.1053 21.0066 27.893 21.6434 27.893 22.4557C27.893 22.6034 27.9023 22.7695 27.9207 22.9541C28.0869 24.9109 28.9083 25.8892 30.3851 25.8892ZM26.9516 9.88442L26.73 9.80135C26.8223 9.24755 27.0623 8.74913 27.45 8.30609C27.5792 8.15841 27.7915 8.05688 28.0869 8.0015L28.7514 7.89074C29.0652 7.8169 29.6375 7.88151 30.4682 8.08457C31.2989 8.26917 32.0465 8.43531 32.7111 8.58299C33.431 8.74913 34.0864 8.8322 34.6771 8.8322C35.2678 8.8322 35.6555 8.75836 35.8401 8.61068C36.0247 8.44454 36.1723 8.14918 36.2831 7.7246L36.5323 7.77998C36.3292 8.77682 35.9508 9.42292 35.397 9.71828C35.1755 9.8475 34.9724 9.91211 34.7878 9.91211C34.6032 9.91211 34.4186 9.90288 34.234 9.88442C33.8095 9.88442 33.311 9.79212 32.7388 9.60752C31.1328 9.14602 29.8036 8.91527 28.7514 8.91527C27.7177 8.91527 27.1177 9.23832 26.9516 9.88442ZM46.8245 26.1108C44.8862 26.1108 43.3079 25.557 42.0896 24.4494C40.8712 23.3418 40.262 21.6342 40.262 19.3267C40.262 17.0192 40.8897 15.2286 42.1449 13.9548C43.4187 12.6811 45.0247 12.0442 46.963 12.0442C48.9198 12.0442 50.5073 12.598 51.7257 13.7056C52.944 14.8132 53.5532 16.5208 53.5532 18.8283C53.5532 21.1358 52.9164 22.9264 51.6426 24.2001C50.3873 25.4739 48.7813 26.1108 46.8245 26.1108ZM47.0184 12.2658C45.6154 12.2658 44.4524 12.8934 43.5294 14.1487C42.6064 15.3855 42.1449 17.1207 42.1449 19.3544C42.1449 21.5696 42.5695 23.2125 43.4187 24.2832C44.2678 25.3539 45.3939 25.8892 46.7969 25.8892C48.1998 25.8892 49.3628 25.2708 50.2858 24.034C51.2088 22.7787 51.6703 21.0435 51.6703 18.8283C51.6703 16.5946 51.2457 14.9425 50.3966 13.8718C49.5474 12.8011 48.4213 12.2658 47.0184 12.2658Z"
				fill="#372F2F"></path>
			<path
				d="M27.5432 53H27.1832L29.5922 33.617H30.506L36.3209 51.5324L42.1081 33.617H43.0219L45.4309 53H43.1326L41.222 37.4936L36.2101 53H34.4657L29.3984 37.6874L27.5432 53ZM59.9113 53C58.656 53 57.7976 52.76 57.3361 52.2801C56.9115 51.8739 56.6992 51.5232 56.6992 51.2278V50.6463C55.7947 52.2893 54.3456 53.1108 52.3519 53.1108C50.0259 53.1108 48.7061 52.0585 48.3922 49.9541C48.3553 49.7326 48.3369 49.5111 48.3369 49.2895C48.3369 49.0496 48.3738 48.7911 48.4476 48.5142C48.5215 48.2373 48.7337 47.9327 49.0845 47.6004C49.786 46.9359 51.3274 46.5298 53.7087 46.3821C54.2994 46.3267 54.844 46.299 55.3424 46.299C55.8408 46.299 56.2931 46.3175 56.6992 46.3544V41.7579C56.6623 41.7394 56.6623 41.6563 56.6992 41.5086C56.7362 41.3425 56.6992 41.1394 56.5885 40.8995C56.4962 40.641 56.367 40.3918 56.2008 40.1518C56.0347 39.9119 55.7393 39.7088 55.3147 39.5427C54.8902 39.3581 54.3364 39.2658 53.6533 39.2658C52.9703 39.2658 52.1673 39.395 51.2443 39.6534C50.3398 39.8934 49.6752 40.1334 49.2506 40.3734L49.1399 40.1795C50.7828 39.4227 52.4534 39.0442 54.1518 39.0442C56.0531 39.0442 57.3084 39.3857 57.9176 40.0688C58.3976 40.6041 58.6375 41.1671 58.6375 41.7579V51.034C58.6375 51.5693 58.7391 51.9847 58.9421 52.2801C59.1636 52.557 59.3852 52.7046 59.6067 52.7231L59.9113 52.7785H60.7697V53H59.9113ZM52.7949 52.8892C53.7733 52.8892 54.6502 52.557 55.4255 51.8924C56.2193 51.2094 56.6439 50.554 56.6992 49.9264V46.5759C56.2008 46.539 55.6932 46.5205 55.1763 46.5205C54.6779 46.5205 54.1794 46.5482 53.681 46.6036C52.2781 46.7697 51.3643 47.0836 50.9397 47.5451C50.5151 48.0066 50.3028 48.6434 50.3028 49.4557C50.3028 49.6034 50.3121 49.7695 50.3305 49.9541C50.4967 51.9109 51.3181 52.8892 52.7949 52.8892ZM73.7846 53C73.0278 53 72.4463 52.8339 72.0401 52.5016C71.6525 52.1693 71.4494 51.837 71.431 51.5047L71.4033 51.034V42.3393C71.4033 40.881 71.0248 39.9488 70.268 39.5427C69.8803 39.3581 69.4004 39.2658 68.8281 39.2658C67.6467 39.2658 66.5852 39.7365 65.6438 40.6779C64.7023 41.6009 64.2316 42.4316 64.2316 43.17V53H62.2933V39.155H64.2316V42.3117C64.5454 41.5179 65.1269 40.7795 65.976 40.0965C66.8252 39.395 67.7574 39.0442 68.7727 39.0442C69.788 39.0442 70.6095 39.1458 71.2371 39.3488C71.8832 39.5334 72.354 39.8011 72.6493 40.1518C73.1108 40.7241 73.3416 41.4625 73.3416 42.367V51.034C73.3416 51.5693 73.4431 51.9847 73.6462 52.2801C73.8677 52.557 74.0892 52.7046 74.3107 52.7231L74.6153 52.7785H75.4737V53H73.7846ZM78.8067 49.8156C78.8067 51.274 79.1943 52.2062 79.9696 52.6123C80.3388 52.7969 80.8096 52.8892 81.3818 52.8892C82.5448 52.8892 83.5786 52.4462 84.4831 51.5601C85.4061 50.674 85.9045 49.8526 85.9784 49.0957V39.155H87.9167V51.034C87.9167 51.5693 88.0182 51.9847 88.2213 52.2801C88.4428 52.557 88.6643 52.7046 88.8858 52.7231L89.1904 52.7785H90.0488V53H88.3597C87.6029 53 87.0214 52.8339 86.6152 52.5016C86.2276 52.1693 86.0245 51.837 86.0061 51.5047L85.9784 51.034V49.8433C85.6461 50.6371 85.0554 51.3847 84.2062 52.0862C83.3571 52.7693 82.4248 53.1108 81.4095 53.1108C80.4127 53.1108 79.5912 53.0185 78.9451 52.8339C78.3175 52.6308 77.8652 52.3539 77.5883 52.0032C77.1083 51.4309 76.8684 50.6925 76.8684 49.788V39.155H78.8067V49.8156ZM93.3264 46.2436C93.3264 48.5327 93.7233 50.2125 94.5171 51.2832C95.3293 52.3539 96.3908 52.8892 97.7014 52.8892C99.5474 52.8892 101.19 52.6123 102.63 52.0585L102.713 52.2524C101.237 52.8246 99.5659 53.1108 97.7014 53.1108C95.8554 53.1108 94.3509 52.557 93.1879 51.4494C92.025 50.3418 91.4435 48.6342 91.4435 46.3267C91.4435 44.0192 92.0527 42.2286 93.271 40.9548C94.4894 39.6811 96.04 39.0442 97.9229 39.0442C99.4367 39.0442 100.71 39.4965 101.744 40.401C102.778 41.3056 103.295 42.6439 103.295 44.4161C103.295 44.5084 103.295 44.6007 103.295 44.693H93.4095C93.3541 45.1914 93.3264 45.7083 93.3264 46.2436ZM101.412 44.4715C101.393 42.6993 101.052 41.3887 100.387 40.5395C99.7228 39.6903 98.8644 39.2658 97.8122 39.2658C96.76 39.2658 95.8185 39.7273 94.9878 40.6503C94.1756 41.5733 93.6587 42.847 93.4372 44.4715H101.412ZM108.778 53C107.154 53 106.129 52.5754 105.704 51.7263C105.612 51.5417 105.566 51.3755 105.566 51.2278V32.2602H107.504V51.034C107.504 51.5693 107.606 51.9847 107.809 52.2801C108.03 52.557 108.252 52.7046 108.473 52.7231L108.778 52.7785H109.636V53H108.778Z"
				fill="#372F2F"></path>
		</svg>

		<button class="handleBtn w-[50px] md:hidden">
			<img src={openMenu_btn.src} alt="Logotype" class="w-full" />
		</button>

		<nav
			class="left-0 right-0 z-20 m-auto hidden w-fit gap-[20px] rounded-[50px] border-[1px] border-[#372F2F] bg-white/30 bg-[url('/path/to/frosted-glass-texture.png')] bg-cover px-[25px] backdrop-blur-lg md:flex 2md:hidden"
		>
			<div class="flex items-center gap-[20px]">
				<p class="font-matter text-[.7rem] uppercase text-[#372F2F]">home</p>
				<div class="h-[40px] w-[1px] bg-[#372F2F]"></div>
			</div>

			<div class="flex items-center gap-[20px]">
				<p class="font-matter text-[.7rem] uppercase text-[#372F2F]">sobre</p>
				<div class="h-[40px] w-[1px] bg-[#372F2F]"></div>
			</div>
			<div class="flex items-center gap-[20px]">
				<p class="font-matter text-[.7rem] uppercase text-[#372F2F]">
					projetos
				</p>
				<div class="h-[40px] w-[1px] bg-[#372F2F]"></div>
			</div>
			<div class="flex items-center gap-[20px]">
				<p class="font-matter text-[.7rem] uppercase text-[#372F2F]">skils</p>
				<div class="h-[40px] w-[1px] bg-[#372F2F]"></div>
			</div>
			<div class="flex items-center gap-[20px]">
				<p class="font-matter text-[.7rem] uppercase text-[#372F2F]">
					currículo
				</p>
				<div class="h-[40px] w-[1px] bg-[#372F2F]"></div>
			</div>
			<div class="flex items-center gap-[20px]">
				<p class="font-matter text-[.7rem] uppercase text-[#372F2F]">Contato</p>
			</div>
		</nav>
		<div class="hidden md:block">
			<a href="https://wa.me/5518996798213" target="_blank">
				<Button scale="1.1" />
			</a>
		</div>
	</div>
	<hr class="h-[1px] bg-[#b3afac]" />

	<div
		id="menu"
		class="fixed left-[1000px] top-0 z-30 h-[100vh] w-[100vw] bg-[#fffef8] transition-[1.5s] ease-out md:hidden"
	>
		<div class="flex h-[100vh] flex-col justify-between">
			<div>
				<div class="relative p-[15px]">
					<button class="handleBtn mt-[13px] w-[50px]">
						<img
							src={openMenu_btn.src}
							alt="Logotype"
							class="w-full rotate-180"
						/>
					</button>

					<svg
						width="111"
						height="60"
						viewBox="0 0 111 60"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
						class="absolute left-0 right-0 top-0 m-auto mt-[10px] w-full max-w-[80px]"
					>
						<path
							d="M2.59713 6.8939V6.617H7.52595V22.3449C7.52595 23.8033 7.23059 24.7816 6.63987 25.2801C6.04915 25.76 5.15384 26 3.95394 26C2.7725 26 1.72028 25.8246 0.797278 25.4739L0.880348 25.2524C1.76643 25.6031 2.6802 25.7785 3.62166 25.7785C4.2493 25.7785 4.66465 25.5108 4.86771 24.9755C5.08923 24.4401 5.19999 23.5725 5.19999 22.3726V6.8939H2.59713ZM17.1335 26.1108C15.1952 26.1108 13.6169 25.557 12.3985 24.4494C11.1802 23.3418 10.571 21.6342 10.571 19.3267C10.571 17.0192 11.1986 15.2286 12.4539 13.9548C13.7276 12.6811 15.3337 12.0442 17.272 12.0442C19.2287 12.0442 20.8163 12.598 22.0346 13.7056C23.253 14.8132 23.8622 16.5208 23.8622 18.8283C23.8622 21.1358 23.2253 22.9264 21.9516 24.2001C20.6963 25.4739 19.0903 26.1108 17.1335 26.1108ZM17.3273 12.2658C15.9244 12.2658 14.7614 12.8934 13.8384 14.1487C12.9154 15.3855 12.4539 17.1207 12.4539 19.3544C12.4539 21.5696 12.8785 23.2125 13.7276 24.2832C14.5768 25.3539 15.7029 25.8892 17.1058 25.8892C18.5088 25.8892 19.6718 25.2708 20.5948 24.034C21.5178 22.7787 21.9793 21.0435 21.9793 18.8283C21.9793 16.5946 21.5547 14.9425 20.7055 13.8718C19.8564 12.8011 18.7303 12.2658 17.3273 12.2658ZM37.5015 26C36.2462 26 35.3878 25.76 34.9263 25.2801C34.5017 24.8739 34.2894 24.5232 34.2894 24.2278V23.6463C33.3849 25.2893 31.9358 26.1108 29.9421 26.1108C27.6161 26.1108 26.2962 25.0585 25.9824 22.9541C25.9455 22.7326 25.927 22.5111 25.927 22.2895C25.927 22.0496 25.964 21.7911 26.0378 21.5142C26.1116 21.2373 26.3239 20.9327 26.6747 20.6004C27.3761 19.9359 28.9176 19.5298 31.2989 19.3821C31.8896 19.3267 32.4342 19.299 32.9326 19.299C33.431 19.299 33.8833 19.3175 34.2894 19.3544V14.7579C34.2525 14.7394 34.2525 14.6563 34.2894 14.5086C34.3263 14.3425 34.2894 14.1394 34.1787 13.8995C34.0864 13.641 33.9571 13.3918 33.791 13.1518C33.6249 12.9119 33.3295 12.7088 32.9049 12.5427C32.4803 12.3581 31.9265 12.2658 31.2435 12.2658C30.5605 12.2658 29.7575 12.395 28.8345 12.6534C27.9299 12.8934 27.2654 13.1334 26.8408 13.3734L26.73 13.1795C28.373 12.4227 30.0436 12.0442 31.7419 12.0442C33.6433 12.0442 34.8986 12.3857 35.5078 13.0688C35.9877 13.6041 36.2277 14.1671 36.2277 14.7579V24.034C36.2277 24.5693 36.3292 24.9847 36.5323 25.2801C36.7538 25.557 36.9753 25.7046 37.1969 25.7231L37.5015 25.7785H38.3598V26H37.5015ZM30.3851 25.8892C31.3635 25.8892 32.2404 25.557 33.0157 24.8924C33.8095 24.2094 34.234 23.554 34.2894 22.9264V19.5759C33.791 19.539 33.2833 19.5205 32.7665 19.5205C32.268 19.5205 31.7696 19.5482 31.2712 19.6036C29.8682 19.7697 28.9545 20.0836 28.5299 20.5451C28.1053 21.0066 27.893 21.6434 27.893 22.4557C27.893 22.6034 27.9023 22.7695 27.9207 22.9541C28.0869 24.9109 28.9083 25.8892 30.3851 25.8892ZM26.9516 9.88442L26.73 9.80135C26.8223 9.24755 27.0623 8.74913 27.45 8.30609C27.5792 8.15841 27.7915 8.05688 28.0869 8.0015L28.7514 7.89074C29.0652 7.8169 29.6375 7.88151 30.4682 8.08457C31.2989 8.26917 32.0465 8.43531 32.7111 8.58299C33.431 8.74913 34.0864 8.8322 34.6771 8.8322C35.2678 8.8322 35.6555 8.75836 35.8401 8.61068C36.0247 8.44454 36.1723 8.14918 36.2831 7.7246L36.5323 7.77998C36.3292 8.77682 35.9508 9.42292 35.397 9.71828C35.1755 9.8475 34.9724 9.91211 34.7878 9.91211C34.6032 9.91211 34.4186 9.90288 34.234 9.88442C33.8095 9.88442 33.311 9.79212 32.7388 9.60752C31.1328 9.14602 29.8036 8.91527 28.7514 8.91527C27.7177 8.91527 27.1177 9.23832 26.9516 9.88442ZM46.8245 26.1108C44.8862 26.1108 43.3079 25.557 42.0896 24.4494C40.8712 23.3418 40.262 21.6342 40.262 19.3267C40.262 17.0192 40.8897 15.2286 42.1449 13.9548C43.4187 12.6811 45.0247 12.0442 46.963 12.0442C48.9198 12.0442 50.5073 12.598 51.7257 13.7056C52.944 14.8132 53.5532 16.5208 53.5532 18.8283C53.5532 21.1358 52.9164 22.9264 51.6426 24.2001C50.3873 25.4739 48.7813 26.1108 46.8245 26.1108ZM47.0184 12.2658C45.6154 12.2658 44.4524 12.8934 43.5294 14.1487C42.6064 15.3855 42.1449 17.1207 42.1449 19.3544C42.1449 21.5696 42.5695 23.2125 43.4187 24.2832C44.2678 25.3539 45.3939 25.8892 46.7969 25.8892C48.1998 25.8892 49.3628 25.2708 50.2858 24.034C51.2088 22.7787 51.6703 21.0435 51.6703 18.8283C51.6703 16.5946 51.2457 14.9425 50.3966 13.8718C49.5474 12.8011 48.4213 12.2658 47.0184 12.2658Z"
							fill="#372F2F"></path>
						<path
							d="M27.5432 53H27.1832L29.5922 33.617H30.506L36.3209 51.5324L42.1081 33.617H43.0219L45.4309 53H43.1326L41.222 37.4936L36.2101 53H34.4657L29.3984 37.6874L27.5432 53ZM59.9113 53C58.656 53 57.7976 52.76 57.3361 52.2801C56.9115 51.8739 56.6992 51.5232 56.6992 51.2278V50.6463C55.7947 52.2893 54.3456 53.1108 52.3519 53.1108C50.0259 53.1108 48.7061 52.0585 48.3922 49.9541C48.3553 49.7326 48.3369 49.5111 48.3369 49.2895C48.3369 49.0496 48.3738 48.7911 48.4476 48.5142C48.5215 48.2373 48.7337 47.9327 49.0845 47.6004C49.786 46.9359 51.3274 46.5298 53.7087 46.3821C54.2994 46.3267 54.844 46.299 55.3424 46.299C55.8408 46.299 56.2931 46.3175 56.6992 46.3544V41.7579C56.6623 41.7394 56.6623 41.6563 56.6992 41.5086C56.7362 41.3425 56.6992 41.1394 56.5885 40.8995C56.4962 40.641 56.367 40.3918 56.2008 40.1518C56.0347 39.9119 55.7393 39.7088 55.3147 39.5427C54.8902 39.3581 54.3364 39.2658 53.6533 39.2658C52.9703 39.2658 52.1673 39.395 51.2443 39.6534C50.3398 39.8934 49.6752 40.1334 49.2506 40.3734L49.1399 40.1795C50.7828 39.4227 52.4534 39.0442 54.1518 39.0442C56.0531 39.0442 57.3084 39.3857 57.9176 40.0688C58.3976 40.6041 58.6375 41.1671 58.6375 41.7579V51.034C58.6375 51.5693 58.7391 51.9847 58.9421 52.2801C59.1636 52.557 59.3852 52.7046 59.6067 52.7231L59.9113 52.7785H60.7697V53H59.9113ZM52.7949 52.8892C53.7733 52.8892 54.6502 52.557 55.4255 51.8924C56.2193 51.2094 56.6439 50.554 56.6992 49.9264V46.5759C56.2008 46.539 55.6932 46.5205 55.1763 46.5205C54.6779 46.5205 54.1794 46.5482 53.681 46.6036C52.2781 46.7697 51.3643 47.0836 50.9397 47.5451C50.5151 48.0066 50.3028 48.6434 50.3028 49.4557C50.3028 49.6034 50.3121 49.7695 50.3305 49.9541C50.4967 51.9109 51.3181 52.8892 52.7949 52.8892ZM73.7846 53C73.0278 53 72.4463 52.8339 72.0401 52.5016C71.6525 52.1693 71.4494 51.837 71.431 51.5047L71.4033 51.034V42.3393C71.4033 40.881 71.0248 39.9488 70.268 39.5427C69.8803 39.3581 69.4004 39.2658 68.8281 39.2658C67.6467 39.2658 66.5852 39.7365 65.6438 40.6779C64.7023 41.6009 64.2316 42.4316 64.2316 43.17V53H62.2933V39.155H64.2316V42.3117C64.5454 41.5179 65.1269 40.7795 65.976 40.0965C66.8252 39.395 67.7574 39.0442 68.7727 39.0442C69.788 39.0442 70.6095 39.1458 71.2371 39.3488C71.8832 39.5334 72.354 39.8011 72.6493 40.1518C73.1108 40.7241 73.3416 41.4625 73.3416 42.367V51.034C73.3416 51.5693 73.4431 51.9847 73.6462 52.2801C73.8677 52.557 74.0892 52.7046 74.3107 52.7231L74.6153 52.7785H75.4737V53H73.7846ZM78.8067 49.8156C78.8067 51.274 79.1943 52.2062 79.9696 52.6123C80.3388 52.7969 80.8096 52.8892 81.3818 52.8892C82.5448 52.8892 83.5786 52.4462 84.4831 51.5601C85.4061 50.674 85.9045 49.8526 85.9784 49.0957V39.155H87.9167V51.034C87.9167 51.5693 88.0182 51.9847 88.2213 52.2801C88.4428 52.557 88.6643 52.7046 88.8858 52.7231L89.1904 52.7785H90.0488V53H88.3597C87.6029 53 87.0214 52.8339 86.6152 52.5016C86.2276 52.1693 86.0245 51.837 86.0061 51.5047L85.9784 51.034V49.8433C85.6461 50.6371 85.0554 51.3847 84.2062 52.0862C83.3571 52.7693 82.4248 53.1108 81.4095 53.1108C80.4127 53.1108 79.5912 53.0185 78.9451 52.8339C78.3175 52.6308 77.8652 52.3539 77.5883 52.0032C77.1083 51.4309 76.8684 50.6925 76.8684 49.788V39.155H78.8067V49.8156ZM93.3264 46.2436C93.3264 48.5327 93.7233 50.2125 94.5171 51.2832C95.3293 52.3539 96.3908 52.8892 97.7014 52.8892C99.5474 52.8892 101.19 52.6123 102.63 52.0585L102.713 52.2524C101.237 52.8246 99.5659 53.1108 97.7014 53.1108C95.8554 53.1108 94.3509 52.557 93.1879 51.4494C92.025 50.3418 91.4435 48.6342 91.4435 46.3267C91.4435 44.0192 92.0527 42.2286 93.271 40.9548C94.4894 39.6811 96.04 39.0442 97.9229 39.0442C99.4367 39.0442 100.71 39.4965 101.744 40.401C102.778 41.3056 103.295 42.6439 103.295 44.4161C103.295 44.5084 103.295 44.6007 103.295 44.693H93.4095C93.3541 45.1914 93.3264 45.7083 93.3264 46.2436ZM101.412 44.4715C101.393 42.6993 101.052 41.3887 100.387 40.5395C99.7228 39.6903 98.8644 39.2658 97.8122 39.2658C96.76 39.2658 95.8185 39.7273 94.9878 40.6503C94.1756 41.5733 93.6587 42.847 93.4372 44.4715H101.412ZM108.778 53C107.154 53 106.129 52.5754 105.704 51.7263C105.612 51.5417 105.566 51.3755 105.566 51.2278V32.2602H107.504V51.034C107.504 51.5693 107.606 51.9847 107.809 52.2801C108.03 52.557 108.252 52.7046 108.473 52.7231L108.778 52.7785H109.636V53H108.778Z"
							fill="#372F2F"></path>
					</svg>
				</div>
				<hr class="h-[1px] bg-[#b3afac]" />
			</div>
			<div style="">
				<nav class="p-[10px]">
					<ul class="flex flex-col gap-[35px] text-center">
						<a href="#home" class="text-sm" id="homeMobile">HOME</a>
						<a href="#about" class="text-sm" id="aboutMobile">SOBRE</a>
						<a href="#projects" class="text-sm" id="projectsMobile">PROJETOS</a>
						<a href="#skills" class="text-sm" id="skillsMobile">SKILLS</a>
						<a href="#education" class="text-sm" id="educationMobile">CURRÍCULO</a>
						<a href="#contact" class="text-sm" id="contactMobile">CONTATO</a>
					</ul>
				</nav>
			</div>
			<div class="h-[120px]">
				<a href="https://wa.me/5518996798213" target="_blank">
					<Button scale="1.2" time="5s" />
				</a>
			</div>
		</div>
	</div>
</header>

<style is:global>
	.openMenu {
		/* display: block !important; */
		left: 0px !important;
	}

	.scrollBlocked {
		transform: translate3d(0, 0, 0) !important;
	}

	.scrollBarYHidden {
		display: none !important;
	}
</style>

<script>
	const menu = document.getElementById("menu");
	const scrollElements = document.getElementsByClassName("scroll-content");
	const scrollBarY = document.getElementsByClassName("scrollbar-track-y");
	const handleClick = document.querySelectorAll(".handleBtn");
	document.addEventListener("DOMContentLoaded", function () {
		handleClick.forEach((btn) => {
			btn.addEventListener("click", () => {
				//@ts-ignore
				menu.classList.toggle("openMenu");

				Array.from(scrollElements).forEach((scroll) => {
					scroll.classList.toggle("scrollBlocked");
				});

				Array.from(scrollBarY).forEach((scroll) => {
					scroll.classList.toggle("scrollBarYHidden");
				});
			});
		});
	});

	function closeMenu() {
		//@ts-ignore
		menu.classList.remove("openMenu");

		// Array.from(scrollElements).forEach((scroll) => {
		// 	scroll.classList.remove("scrollBlocked");
		// });

		// Array.from(scrollBarY).forEach((scroll) => {
		// 	scroll.classList.remove("scrollBarYHidden");
		// });
	}

	function toSectionsMobile() {
		const labels = [
			"homeMobile",
			"aboutMobile",
			"projectsMobile",
			"skillsMobile",
			"educationMobile",
			"contactMobile",
		];

		labels.forEach((label) => {
			const labelValue = document.getElementById(label);
			labelValue?.addEventListener("click", () => {
				closeMenu();
			});
		});
	}

	toSectionsMobile();
</script>
